// about page
//-----------------------------------------------------------------------------------
.title-page
	color: #000
	font-family: $gotham
	font-size: 13px
	font-weight: 700
	line-height: 21px
	padding: 15px 20px 13px
	margin: 0 -5px 17px
	border-bottom: 1px solid rgba(black, 0.1)
	width: auto
	display: block
	
.about-content
	
	p
		color: black
		font-family: $gotham
		font-size: 13px
		font-weight: 400
		line-height: 19px
		margin-top: 10px 
	.map-wrap
		@media (max-width: $screen-sm-max)
			margin: 0 -20px
	#map
		height: 450px
		width: 100%
		margin: 20px 0

	.gm-style-iw *
		display: block
		width: 100%

	.gm-style-iw h4,
	.gm-style-iw p
		margin: 0
		padding: 0

	.gm-style-iw a
		color: #4272db
