<header id="header" class="wrapper header">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-md-2 des-hide">
        <a class="more" href="#"><svg><use xlink:href="#icon-more"></use></svg></a>

      </div>
      <div class="col-xs-6 col-md-8 col-lg-8 mob-hidden js-mob-nav">
        <form class="search" action="#">
          <input type="text" placeholder="SEARCH">
          <button class="btn"><svg><use xlink:href="#icon-search"></use></svg></button>
        </form>
        <nav class="navigation">
          <ul>
            <li class="active"><a href="home.html">HOME</a></li>
            <li><a href="browse.html">BROWSE</a></li>
            <li><a href="casting-calls.html">CASTING CALLS</a></li>
            <li><a href="stream.html">stream</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-10 col-md-3 col-lg-4">
        <a class="burger" href="#"><svg><use xlink:href="#icon-burger"></use></svg></a>
        <ul class="activity">
          <li>
            <a href="messages.html" class="message">
              <svg><use xlink:href="#icon-message"></use></svg>
              <span>3</span>
            </a>
          </li>
          <li>
            <a href="notifications.html" class="notification">
              <svg><use xlink:href="#icon-notification"></use></svg>
              <span>5</span>
            </a>
          </li>
        </ul>
        <a href="index.html" class="user">
          <span class="wrap-img">
            <img src="images/img1.jpg" alt="">
          </span>

          <span class="name">Alexis</span>
        </a>

      </div>
    </div>
  </div>
</header>
<div class="overflow"></div>
