<div id="page-preloader">
    <div class="spinner">
        <div class="spinner-container">
            <div class="cmn-spinner__multisquare">Loading...</div>
        </div>
    </div>
</div>
<script src="js/libs.js"></script>
<script type="text/javascript" src="js/jquery.fancybox-media.js"></script>
<script src="js/core.js"></script>
<script src="js/common.js"></script>

<script>
    $(window).on("load", function () {
        var $preloader = $('#page-preloader'),
            $spinner = $preloader.find('.spinner');

        setTimeout(function () {
            $spinner.fadeOut();
            $preloader.delay(300).fadeOut('slow');
        }, 500);
    });
</script>
