<svg xmlns="http://www.w3.org/2000/svg" style="width: 0; height: 0; float: left;">

  <symbol id="icon-burger" viewBox="0 0 28 19" >
    <path d="M28,2.7H0V0h28V2.7z M0,10.8V8.2h28v2.7H0z M28,16.3V19H0v-2.7H28z"/>
  </symbol>

  <symbol id="icon-message" viewBox="0 0 25 20" >
    <path d="M12.5,20H2.4C1.1,20,0,19,0,17.7c0-0.1,0-0.1,0-0.2c0-5,0-10.1,0-15.1
    	C-0.1,1.3,0.8,0.3,1.9,0c0.1,0,0.3,0,0.4,0c6.8,0,13.6,0,20.3,0C23.9,0,25,1,25,2.3c0,0.1,0,0.1,0,0.2c0,5.1,0,10.1,0,15.2
    	c0,1.3-1,2.3-2.2,2.4c0,0,0,0-0.1,0C19.3,20,15.9,20,12.5,20z M21.7,2.4H3.3c0.1,0.1,0.1,0.2,0.2,0.2c1.6,1.7,3.2,3.4,4.8,5
    	c1,1,2.1,1.9,3.2,2.7c0.6,0.5,1.4,0.5,2,0c0.8-0.6,1.6-1.2,2.4-1.9c1.4-1.4,2.8-2.8,4.3-4.2C20.7,3.6,21.2,3,21.7,2.4L21.7,2.4z
    	 M3.8,17.6h17.4c-1.6-2.2-3.2-4.4-5-6.4c-0.1,0.1-0.2,0.2-0.3,0.3c-0.7,0.4-1.3,0.9-2,1.3c-0.8,0.5-1.8,0.5-2.6,0
    	c-0.2-0.1-0.3-0.1-0.5-0.2c-0.6-0.4-1.3-0.8-1.9-1.3C7,13.2,5.4,15.4,3.8,17.6L3.8,17.6z M22.7,4.8c-1.6,1.6-3.2,3.3-4.7,4.8
    	c1.6,2,3.1,3.9,4.7,5.9V4.8L22.7,4.8z M7,9.7C5.4,8.1,3.9,6.5,2.3,4.8v10.8C3.9,13.6,5.4,11.7,7,9.7L7,9.7z"/>
  </symbol>

  <symbol id="icon-notification" viewBox="0 0 23 26" >
    <path d="M15.5,21.9c-0.1,0.5-0.2,1.1-0.4,1.6c-0.8,2-3.1,3-5.2,2.2c-1.3-0.5-2.2-1.7-2.4-3
    	c0-0.2-0.1-0.4-0.1-0.5c0-0.2-0.1-0.3-0.3-0.3c-1.5-0.1-3-0.4-4.4-0.8c-0.7-0.2-1.4-0.5-1.9-1c-0.9-0.7-1.1-2-0.5-2.9
    	c0.1-0.2,0.2-0.4,0.4-0.5c0.9-0.9,1.5-2.1,1.7-3.4c0.2-1.2,0.4-2.5,0.6-3.7c0.2-1.7,0.5-3.4,1.1-5c0.9-2.3,2.9-4,5.3-4.3
    	C11.3-0.2,13.3,0,15,0.6c1.8,0.7,3.2,2.1,3.8,3.9c0.5,1.3,0.8,2.6,1,4c0.2,1.7,0.4,3.4,0.8,5.1c0.3,1.1,0.8,2.2,1.6,3
    	c0.6,0.6,0.9,1.4,0.7,2.3c-0.1,0.5-0.4,1-0.9,1.3c-0.8,0.6-1.8,1-2.8,1.2c-1.2,0.2-2.3,0.4-3.5,0.5L15.5,21.9z M20.5,18.4
    	c-0.1-0.1-0.1-0.1-0.2-0.2c-1-1.1-1.7-2.4-2.1-3.8c-0.4-1.7-0.7-3.5-0.8-5.3c-0.1-1.2-0.4-2.3-0.7-3.4c-0.5-1.6-1.8-2.7-3.4-3.1
    	c-1.2-0.3-2.4-0.3-3.6,0C8.2,2.9,6.9,3.9,6.4,5.4C5.9,6.8,5.6,8.2,5.5,9.6c-0.2,1.4-0.4,2.8-0.6,4.1c-0.3,1.7-1.1,3.2-2.2,4.5
    	c0,0-0.1,0.1-0.1,0.1c0.1,0.1,0.1,0.1,0.2,0.1c0.4,0.2,0.7,0.3,1.1,0.4c2.1,0.5,4.2,0.7,6.3,0.7c1.6,0,3.2,0,4.8-0.1
    	c1.4-0.1,2.8-0.3,4.2-0.6C19.6,18.7,20,18.5,20.5,18.4L20.5,18.4z M9.3,22c0,0.8,0.4,1.6,1.2,1.9c1.1,0.6,2.4,0.1,2.9-0.9
    	c0.2-0.3,0.2-0.7,0.2-1H9.3L9.3,22z"/>
  </symbol>

  <symbol id="icon-calendar" viewBox="0 0 12 12">
    <path d="M2.1,1c0-0.3,0-0.6,0.2-0.8C2.4,0.1,2.6,0,2.7,0C3-0.1,3.3,0,3.5,0.2C3.6,0.5,3.6,0.7,3.7,1h4.7
    	c-0.1-0.3,0-0.6,0.2-0.8C8.7,0.1,8.8,0,9,0C9.2,0,9.5,0,9.7,0.2C9.8,0.5,9.9,0.7,9.9,1c0,0,0.1,0,0.2,0c0.5,0,0.9,0,1.4,0
    	C11.7,1,12,1.2,12,1.4c0,0,0,0.1,0,0.1c0,3.3,0,6.6,0,10c0,0.3-0.2,0.5-0.4,0.5c0,0-0.1,0-0.1,0c-3.6,0-7.3,0-11,0
    	C0.3,12,0,11.8,0,11.6c0,0,0-0.1,0-0.1c0-3.3,0-6.7,0-10C0,1.2,0.2,1,0.4,1c0,0,0.1,0,0.1,0C1,1,1.4,1,1.9,1L2.1,1L2.1,1z M0.5,3.9
    	v7.7h11V3.9H0.5z M9.9,1.5c0,0.3-0.1,0.5-0.2,0.8C9.5,2.5,9.2,2.5,8.9,2.4c-0.7,0-0.5-0.5-0.6-0.9H3.6c0,0.2,0,0.4,0,0.6
    	c0,0.2-0.2,0.4-0.4,0.3c-0.3,0-0.5,0-0.7-0.1C2.2,2.1,2.1,1.8,2.1,1.5H0.5v1.9h11V1.5L9.9,1.5L9.9,1.5z M2.7,0.5v1.4h0.5V0.5H2.7z
    	 M8.9,0.5v1.4h0.5V0.5H8.9z"/>
  </symbol>

  <symbol id="icon-comment" viewBox="0 0 12 12" >
    <path d="M6,0H1.5C1.2,0,0.9,0,0.6,0.2C0.2,0.3,0,0.7,0,1.1C0,3.4,0,5.7,0,8c0,0.3,0.2,0.7,0.5,0.8C0.8,8.9,1.1,9,1.4,9
    	c0.4,0,0.8,0,1.2,0C2.8,9,3,9.1,3,9.2c0,0,0,0.1,0,0.1c0,0.8,0,1.6,0,2.3c0,0,0,0.1,0,0.1c0,0.1,0,0.1,0.1,0.2c0.1,0,0.1,0,0.2-0.1
    	c1-0.8,2-1.5,3-2.3c0.2-0.1,0.3-0.3,0.5-0.4C6.9,9.1,7.2,9,7.5,9h3c0.3,0,0.6,0,0.9-0.2C11.8,8.7,12,8.3,12,7.9c0-2.3,0-4.5,0-6.8
    	c0.1-0.5-0.3-1-0.9-1.1C10.9,0,10.7,0,10.5,0L6,0L6,0z"/>
  </symbol>

  <symbol id="icon-like" viewBox="0 0 12 12" >
    <path d="M2.8,11.4V6.5c0.1,0,0.2,0,0.3,0c0.2,0,0.3-0.1,0.4-0.2C3.6,6,3.8,5.7,3.9,5.5c0.2-0.4,0.3-0.7,0.4-1.1
    	C4.4,4.2,4.6,4,4.7,3.8c0.4-0.3,0.7-0.7,1.1-1c0.4-0.3,0.7-0.8,0.8-1.3c0.1-0.4,0.1-0.8,0.1-1.1c0-0.1,0.1-0.2,0.1-0.2
    	C7.4-0.1,8,0,8.3,0.4c0.2,0.4,0.3,0.8,0.3,1.2c0,0.4-0.1,0.9-0.3,1.3C8.1,3.2,7.9,3.6,7.7,4c0,0.2-0.1,0.3-0.1,0.5
    	c0,0.1,0,0.2,0.2,0.2c0.8,0,1.6,0,2.4,0c0.3,0,0.7,0,1,0.2c0.3,0.1,0.6,0.3,0.6,0.7C11.9,5.7,12,5.8,12,6c0,0.2-0.1,0.4-0.2,0.5
    	c-0.2,0.2-0.2,0.2,0,0.4c0.3,0.3,0.4,0.7,0.2,1c-0.1,0.1-0.2,0.3-0.3,0.3c-0.2,0.1-0.2,0.2-0.1,0.4c0.3,0.4,0.2,1-0.2,1.3
    	c-0.3,0.1-0.4,0.4-0.4,0.7c0,0.5-0.3,0.9-0.7,1.1c-0.3,0.1-0.7,0.2-1,0.2c-1.1,0-2.1,0-3.2-0.1c-0.7,0-1.4-0.2-2.1-0.3
    	c-0.3-0.1-0.7-0.1-1-0.2L2.8,11.4z M0,6.2c0.1,0,0.2,0,0.2,0c0.5,0,0.9,0,1.4,0c0.2,0,0.3,0.1,0.5,0.1c0.1,0.1,0.2,0.2,0.2,0.3
    	c0,1.5,0,3.1,0,4.6c0,0.3-0.3,0.6-0.6,0.6c-0.5,0-1,0-1.5,0c-0.1,0-0.2-0.1-0.2-0.2c0,0,0,0,0,0c0-0.2,0-0.4,0-0.6L0,6.2L0,6.2z"/>
  </symbol>

  <symbol id="icon-location" viewBox="0 0 14 18" >
    <path d="M7,0c3.9,0.1,7.1,3.4,7,7.3c0,0.9-0.2,1.8-0.6,2.6c-0.8,1.9-1.8,3.7-3.1,5.3c-0.6,0.8-1.3,1.6-2.1,2.2
    	c-0.1,0.1-0.3,0.2-0.5,0.3c-0.5,0.3-1,0.3-1.5,0c-0.7-0.4-1.2-0.9-1.7-1.5c-1.5-1.7-2.8-3.7-3.7-5.8C0.4,9.6,0.1,8.7,0,7.8
    	c-0.1-1.1,0-2.1,0.4-3.1c0.8-2.3,2.8-4,5.1-4.5C6.1,0.1,6.5,0,7,0z M1.6,7.1c0,0.1,0,0.1,0,0.2c0,0.7,0.2,1.4,0.5,2.1
    	C2.8,11,3.7,12.6,4.8,14c0.5,0.8,1.2,1.5,1.9,2.1C7,16.4,7,16.4,7.4,16c0.6-0.5,1.1-1.1,1.6-1.7c1.2-1.5,2.2-3.1,2.9-4.8
    	c0.5-1,0.6-2.2,0.5-3.3c-0.5-2.9-3.2-4.9-6.1-4.5C5.8,1.9,5.5,2,5.2,2.1C3,2.9,1.6,4.9,1.6,7.1z M7,8.9c-1.3,0-2.4-1-2.5-2.3
    	c0-1.3,1-2.4,2.3-2.5s2.4,1,2.5,2.3c0,0,0,0,0,0.1C9.3,7.9,8.3,8.9,7,8.9L7,8.9z M5.9,6.5c0,0.6,0.5,1.1,1.1,1.1
    	c0.6,0,1.1-0.5,1.1-1.1S7.6,5.4,7,5.4C6.4,5.4,5.9,5.9,5.9,6.5z"/>
  </symbol>

  <symbol id="icon-play" viewBox="0 0 70.5 70.5">
    <path d="M35.4,0c19.5,0,35.2,15.9,35.2,35.3c0,19.5-15.9,35.2-35.4,35.2S0,54.7,0,35.2c0,0,0,0,0,0
      C0.1,15.7,15.9,0,35.4,0z M2,35.3c0,18.4,14.9,33.3,33.3,33.3c18.4,0,33.3-14.9,33.3-33.3C68.7,17,53.8,2,35.4,2c-0.1,0-0.2,0-0.3,0
      C16.8,2.2,2,17,2,35.3L2,35.3z M24.4,52.3V18.2c10.1,5.7,20,11.3,30.2,17C44.4,41,34.5,46.6,24.4,52.3L24.4,52.3z"/>
  </symbol>

  <symbol id="icon-plus" viewBox="0 0 20 20" >
    <path d="M7.9,7.9V5.5c0-1.1,0-2.2,0-3.3c-0.1-1,0.7-2,1.7-2.2c0.9-0.2,1.8,0.3,2.2,1.1c0.1,0.3,0.2,0.7,0.2,1.1
    	c0,1.8,0,3.5,0,5.3c0,0.3,0.1,0.4,0.4,0.4c1.8,0,3.6,0,5.5,0c0.9,0,1.7,0.6,2,1.5c0.3,0.9-0.1,1.8-0.8,2.3c-0.4,0.3-0.9,0.4-1.4,0.4
    	c-1.7,0-3.4,0-5.1,0c-0.2-0.1-0.4,0.1-0.5,0.3c0,0.1,0,0.1,0,0.2c0,1.8,0,3.5,0,5.3c0,1.1-0.9,2.1-2,2.1c0,0-0.1,0-0.1,0
    	c-1,0-1.9-0.8-2-1.8c-0.1-1.4,0-2.9-0.1-4.3c0-0.4,0-0.9,0-1.3c0.1-0.2-0.1-0.4-0.2-0.4c-0.1,0-0.1,0-0.2,0c-1.6,0-3.1,0-4.6,0
    	c-0.4,0-0.7,0-1.1,0C0.7,11.9,0,11,0,9.9c0-1.1,0.9-1.9,1.9-2c1.7,0,3.5,0,5.2,0L7.9,7.9L7.9,7.9z"/>
  </symbol>

  <symbol id="icon-price" viewBox="0 0 10 10" >
    <path d="M4,0c0.2,0,0.4,0,0.6,0c0.2,0,0.4,0.1,0.5,0.2C6.3,1.5,7.6,2.8,8.8,4l0.8,0.8c0.4,0.3,0.4,0.9,0.1,1.3
    	c0,0-0.1,0.1-0.1,0.1C8.5,7.4,7.4,8.5,6.3,9.7c-0.3,0.4-0.9,0.4-1.3,0.1c0,0-0.1-0.1-0.1-0.1C3.3,8.2,1.8,6.6,0.3,5.1
    	C0.1,4.9,0,4.7,0,4.4c0-0.5,0-1,0.1-1.5c0-0.5,0.1-0.9,0.2-1.4c0-0.2,0.1-0.3,0.2-0.5c0.1-0.2,0.3-0.4,0.5-0.5
    	C1.2,0.3,1.6,0.2,2,0.2C2.6,0.1,3.3,0,4,0z M9,5.5C9,5.5,9,5.5,9,5.5C7.5,4,6,2.5,4.5,1C4.5,1,4.4,1,4.3,1C3.9,1,3.4,1,2.9,1
    	C2.4,1.1,2,1.2,1.6,1.2c-0.2,0-0.3,0.2-0.3,0.4C1.1,2.1,1,2.6,1,3.2c0,0.4,0,0.8,0,1.2C1,4.4,1,4.5,1,4.5C2.5,6,4,7.5,5.5,9
    	C5.5,9,5.5,9,5.5,9C6.7,7.9,7.9,6.7,9,5.5L9,5.5z M2,3.2c0-0.7,0.6-1.4,1.3-1.4c0.7,0,1.4,0.6,1.4,1.3c0,0.7-0.6,1.4-1.3,1.4
    	C2.6,4.5,2,3.9,2,3.2C2,3.2,2,3.2,2,3.2L2,3.2z M4,3.1c0-0.4-0.3-0.6-0.6-0.6S2.7,2.8,2.7,3.2l0,0c0,0.4,0.3,0.6,0.6,0.6
    	C3.7,3.8,4,3.5,4,3.1L4,3.1z"/>
  </symbol>

  <symbol id="icon-share" viewBox="0 0 15 11" >
    <path d="M8.8,10.8c0.6-0.5,1.1-1,1.6-1.4c1.4-1.2,2.7-2.5,4.1-3.8c0.1-0.1,0.2-0.2,0.3-0.3C15,5.2,15,5.1,14.9,5
    	c-1.1-0.9-2.1-1.8-3.2-2.6C10.8,1.6,9.9,0.9,9,0.1c0,0-0.1-0.1-0.2-0.1v2.8C5.7,2.9,3.3,4.6,1.5,7.3C0.7,8.4,0.2,9.7,0,11
    	c0.3-0.3,0.6-0.5,0.9-0.8c1.4-1.2,2.9-2,4.7-2.6c0.9-0.3,1.9-0.3,2.8-0.2c0.1,0,0.2,0.1,0.3,0.1c0,0,0.1,0,0.1,0.1L8.8,10.8
    	L8.8,10.8z"/>
  </symbol>

  <symbol id="icon-site" viewBox="0 0 16 16" >
    <path d="M7.3,5.2c0.6,0,1.1,0.3,1.5,0.7C9,6.1,9.2,6.3,9.4,6.5c0.3,0.3,0.3,0.8,0,1.1c-0.3,0.3-0.8,0.3-1.1,0c0,0,0,0,0,0
    	C8.2,7.4,8,7.2,7.8,7C7.4,6.6,6.8,6.6,6.4,6.9c0,0,0,0-0.1,0.1C5,8.4,3.5,9.8,2.1,11.2c-0.1,0.1-0.2,0.2-0.4,0.4
    	c-0.4,0.4-0.4,0.9,0,1.3c0,0,0,0,0,0c0.4,0.4,0.9,0.9,1.3,1.3c0.3,0.4,0.9,0.4,1.3,0c0,0,0,0,0.1-0.1c0.8-0.8,1.6-1.6,2.4-2.4
    	c0.2-0.3,0.7-0.3,1-0.1c0.3,0.2,0.5,0.7,0.2,1c0,0.1-0.1,0.1-0.1,0.1c-0.6,0.6-1.3,1.3-1.9,1.9c-0.2,0.3-0.5,0.5-0.8,0.7
    	c-1,0.7-2.3,0.7-3.2-0.2c-0.5-0.4-0.9-0.9-1.3-1.3c-0.9-0.9-1-2.5,0-3.4c0,0,0,0,0,0C2.3,9,3.8,7.4,5.3,5.9C5.8,5.4,6.6,5.1,7.3,5.2
    	z M8.9,10.8c-0.6,0-1.3-0.3-1.7-0.7C7,9.9,6.8,9.7,6.6,9.5c-0.3-0.3-0.3-0.8,0-1.1c0.3-0.3,0.8-0.3,1.1,0c0,0,0,0,0,0
    	C7.9,8.6,8.1,8.8,8.3,9c0.4,0.4,0.9,0.4,1.3,0c0,0,0,0,0,0c1.5-1.5,3.1-3.1,4.6-4.6c0.4-0.4,0.4-0.9,0-1.3c0,0,0,0,0,0
    	c-0.4-0.5-0.9-0.9-1.3-1.3c-0.4-0.4-0.9-0.4-1.3,0c0,0,0,0,0,0C10.8,2.6,10,3.4,9.2,4.2C9,4.3,8.8,4.4,8.6,4.4C8.3,4.5,8,4.3,7.9,4
    	C7.8,3.7,7.9,3.4,8.1,3.2c0.8-0.8,1.7-1.7,2.5-2.5c0.9-0.9,2.4-0.9,3.3,0c0.5,0.5,1,1,1.5,1.5c0.9,0.9,0.9,2.4,0,3.3
    	c-0.7,0.7-1.4,1.4-2,2c-0.9,0.9-1.7,1.7-2.6,2.6C10.2,10.6,9.6,10.8,8.9,10.8L8.9,10.8z"/>
  </symbol>

  <symbol id="icon-time" viewBox="0 0 10 10" >
    <path d="M0,5c0-2.8,2.2-5,5-5s5,2.2,5,5c0,2.8-2.2,5-5,5c0,0,0,0,0,0C2.2,10,0,7.8,0,5z M1,5c0,2.2,1.8,4,4,4
    	c2.2,0,4-1.8,4-4c0-2.2-1.8-4-4-4C2.8,1,1,2.8,1,5z M5.5,4.5h1.7c0.3,0,0.5,0.2,0.5,0.5c0,0.1,0,0.1,0,0.2C7.6,5.4,7.4,5.5,7.2,5.5
    	c-0.7,0-1.5,0-2.2,0C4.7,5.5,4.5,5.3,4.5,5c0-0.9,0-1.8,0-2.7C4.5,2,4.7,1.8,5,1.8S5.5,2,5.5,2.3V4.5L5.5,4.5z"/>
  </symbol>

  <symbol id="icon-soc-1" viewBox="0 0 36.7 36.7" >
    <path d="M18.3,0c10.1,0,18.4,8.2,18.4,18.3c0,10.1-8.2,18.4-18.3,18.4C8.3,36.7,0,28.5,0,18.4c0,0,0,0,0-0.1C0,8.2,8.2,0,18.3,0z
    	 M2.2,18.3c0,8.9,7.2,16,16.1,16s16-7.2,16-16.1c0-8.9-7.2-16-16.1-16C9.4,2.2,2.2,9.4,2.2,18.3C2.2,18.3,2.2,18.3,2.2,18.3z
    	 M22.2,10.2V13c-0.5,0-0.9,0-1.4,0c-0.2,0-0.5,0-0.7,0.1c-0.3,0-0.5,0.3-0.5,0.6c0,0.6,0,1.2,0,1.8h2.7c-0.1,0.9-0.2,1.8-0.3,2.8
    	h-2.4v0.5c0,2.4,0,4.8,0,7.2c0,0.3-0.1,0.4-0.4,0.4c-0.9,0-1.9,0-2.8,0H16v-8.1h-1.8v-2.8H16c0-0.2,0-0.3,0-0.4c0-0.7,0-1.5,0.1-2.2
    	c0.1-1.3,1-2.3,2.3-2.5C19.7,10.3,20.9,10.3,22.2,10.2L22.2,10.2z"/>
  </symbol>
  <symbol id="icon-soc-2" viewBox="0 0 36.7 36.7" >
    <path d="M18.3,0c10.1,0,18.4,8.1,18.4,18.3c0,10.1-8.1,18.4-18.3,18.4C8.3,36.7,0,28.5,0,18.4c0,0,0,0,0-0.1C0,8.2,8.2,0,18.3,0z
    	 M2.2,18.3c0,8.9,7.2,16,16.1,16s16-7.2,16-16.1c0-8.9-7.2-16-16.1-16C9.4,2.2,2.2,9.4,2.2,18.3C2.2,18.3,2.2,18.3,2.2,18.3
    	L2.2,18.3z M10.7,16.3l1.2,0.4l0.1-0.1c-1.3-1.2-1.6-3.1-0.8-4.6c1.7,2.1,4.1,3.5,6.8,3.7c0-0.3,0-0.5,0-0.8
    	c-0.1-1.7,1.1-3.1,2.7-3.5c0.9-0.2,1.9,0,2.6,0.6c0.3,0.3,0.8,0.4,1.2,0.2c0.4-0.2,0.9-0.4,1.4-0.6c-0.3,0.6-0.6,1.2-1.1,1.7
    	c0,0,0,0.1,0.1,0.1l1.3-0.4c0,0,0,0,0.1,0.1c-0.1,0.1-0.1,0.2-0.2,0.3c-0.3,0.3-0.6,0.7-0.9,1c-0.3,0.3-0.4,0.7-0.4,1.1
    	c-0.3,3.8-1.8,6.9-5.2,8.8c-2.8,1.5-6.3,1.4-9-0.3c-0.1-0.1-0.2-0.1-0.2-0.2c0.3,0,0.6,0,0.9-0.1c1.4,0,2.7-0.5,3.8-1.3
    	c-1.3-0.3-2.5-1.2-2.9-2.5h1.2c0,0,0-0.1,0-0.1c-0.7-0.3-1.3-0.7-1.8-1.3C11,17.8,10.8,17.1,10.7,16.3L10.7,16.3z"/>
  </symbol>
  <symbol id="icon-soc-3" viewBox="0 0 36.7 36.7" >
    <path d="M18.3,0c10.1,0,18.3,8.2,18.4,18.3c0,10.1-8.2,18.3-18.3,18.4C8.2,36.7,0,28.5,0,18.4c0,0,0,0,0,0C0,8.2,8.2,0,18.3,0
    	C18.3,0,18.3,0,18.3,0z M2.2,18.3c0,8.9,7.2,16,16.1,16s16-7.2,16-16.1c0-8.8-7.2-16-16.1-16C9.4,2.2,2.2,9.4,2.2,18.3
    	C2.2,18.3,2.2,18.3,2.2,18.3L2.2,18.3z M17.1,21.2c-0.5,2.4-1,4.8-2.7,6.6h-0.1c0-0.3-0.1-0.7-0.1-1c-0.1-1.8,0.1-3.6,0.6-5.3
    	c0.3-1.2,0.5-2.4,0.8-3.6c0-0.2,0-0.4,0-0.5c-0.3-1-0.3-2,0.1-2.9c0.2-0.4,0.4-0.7,0.7-1c0.4-0.4,1.1-0.5,1.6-0.3
    	c0.5,0.2,0.8,0.8,0.8,1.3c0,0.7-0.2,1.3-0.3,1.9c-0.2,0.7-0.4,1.4-0.6,2.1c-0.2,0.6,0,1.3,0.5,1.7c0.5,0.4,1.2,0.6,1.8,0.3
    	c0.6-0.2,1-0.6,1.4-1.1c0.7-1,1.1-2.2,1.2-3.4c0.1-0.9,0.1-1.7-0.1-2.6c-0.5-1.7-2-2.9-3.8-2.9c-2.8-0.2-5.2,2-5.4,4.8
    	c0,0.3,0,0.6,0,0.9c0,0.6,0.2,1.2,0.6,1.6c0.2,0.2,0.3,0.6,0.2,0.9c-0.1,0.2-0.1,0.4-0.2,0.7c0,0.2-0.2,0.4-0.4,0.4
    	c-0.1,0-0.2,0-0.2-0.1c-0.6-0.3-1.1-0.8-1.4-1.4c-0.5-1.1-0.7-2.3-0.5-3.5c0.4-3.1,2.8-5.6,6-6c2.3-0.5,4.6,0.3,6.2,1.9
    	c1.1,1.1,1.7,2.6,1.7,4.1c0.1,1.9-0.4,3.8-1.5,5.4c-0.8,1.3-2.3,2.1-3.8,2.2C18.8,22.7,17.7,22.1,17.1,21.2L17.1,21.2z"/>
  </symbol>
  <symbol id="icon-soc-4" viewBox="0 0 36.7 36.7" >
    <path d="M18.3,0c10.1,0,18.4,8.2,18.4,18.3s-8.2,18.4-18.3,18.4S0,28.5,0,18.4c0,0,0,0,0-0.1C0,8.2,8.2,0,18.3,0z M18.3,2.2
    	c-8.9,0-16.2,7.1-16.2,16c0,8.9,7.1,16.2,16,16.2s16.2-7.1,16.2-16c0,0,0,0,0-0.1C34.4,9.5,27.2,2.2,18.3,2.2
    	C18.3,2.2,18.3,2.2,18.3,2.2L18.3,2.2z M26.3,18.3c0,2.1,0,4.3,0,6.4c0.1,1-0.6,1.9-1.6,2c-0.1,0-0.3,0-0.4,0H12.2
    	c-1,0.1-1.9-0.6-2-1.6c0-0.1,0-0.2,0-0.3c0-4.3,0-8.6,0-12.9c-0.1-1,0.6-1.9,1.6-2c0.1,0,0.2,0,0.3,0h12.2c1-0.1,1.9,0.7,2,1.7
    	c0,0.1,0,0.2,0,0.3C26.3,14,26.3,16.2,26.3,18.3L26.3,18.3z M23.1,16.8c0.7,2.2-0.1,4.5-2,5.9c-1.5,1.2-3.6,1.3-5.2,0.3
    	c-2.3-1.4-2.9-3.6-2.4-6.1H12c0,0.1,0,0.2,0,0.3c0,2.3,0,4.7,0,7c-0.1,0.4,0.1,0.8,0.5,0.9c0.1,0,0.2,0,0.3,0h10.9
    	c0.4,0.1,0.8-0.1,0.9-0.5c0-0.1,0-0.2,0-0.3c0-2.3,0-4.7,0-7v-0.3L23.1,16.8L23.1,16.8z M15,18.3c0.1,1.8,1.6,3.2,3.4,3.1
    	c1.8-0.1,3.2-1.6,3.1-3.4c-0.1-1.7-1.5-3.1-3.2-3.1C16.5,14.9,15,16.5,15,18.3L15,18.3z M24.5,12.8c0-0.3,0-0.5,0-0.8
    	c0-0.4-0.2-0.7-0.6-0.7c0,0-0.1,0-0.1,0c-0.5,0-1,0-1.4,0c-0.4,0-0.7,0.3-0.7,0.6c0,0,0,0.1,0,0.1c0,0.5,0,1,0,1.6
    	c0,0.4,0.2,0.7,0.6,0.7c0,0,0,0,0.1,0c0.5,0,1,0,1.5,0c0.4,0,0.6-0.3,0.7-0.6c0,0,0,0,0-0.1C24.6,13.3,24.5,13,24.5,12.8L24.5,12.8z
    	"/>
  </symbol>
  <symbol id="icon-soc-5" viewBox="0 0 36.7 36.7" >
    <path d="M18.3,0c10.1,0,18.4,8.2,18.4,18.3s-8.2,18.4-18.3,18.4C8.3,36.7,0,28.5,0,18.4c0,0,0,0,0-0.1C0,8.2,8.2,0,18.3,0z
    	 M18.3,2.2C9.4,2.2,2.1,9.4,2.1,18.3c0,8.9,7.2,16.2,16.1,16.2c8.9,0,16.2-7.2,16.2-16.1c0,0,0,0,0-0.1C34.3,9.4,27.2,2.2,18.3,2.2
    	C18.3,2.2,18.3,2.2,18.3,2.2L18.3,2.2z M18,12c2.2,0.1,4.1,0.1,6,0.2c0.3,0,0.6,0,1,0.1c1.1,0.2,2,1.1,2,2.3
    	c0.2,1.8,0.3,3.6,0.2,5.5c0,0.8-0.1,1.5-0.3,2.3c-0.1,1.1-1,1.9-2.1,1.9c-1.4,0.1-2.7,0.2-4.1,0.2c-2.3,0-4.7,0-7-0.1
    	c-0.7,0-1.4-0.1-2.1-0.2c-1-0.1-1.8-0.9-1.9-1.9c-0.1-0.7-0.2-1.5-0.2-2.2c-0.1-2-0.1-4,0.2-5.9c0.1-1.1,1.1-2,2.3-2
    	C14,12.2,16.1,12.1,18,12L18,12z M16.7,15v5.7c1.7-1,3.3-1.9,4.9-2.8L16.7,15z"/>
  </symbol>

  <symbol id="icon-sye" viewBox="0 0 11.9 8" >
    <path d="M6,8C3.3,8,1.1,5.6,0.2,4.6c-0.3-0.4-0.3-0.9,0-1.2C1,2.3,3.3,0,6,0c2.7,0,4.9,2.3,5.7,3.4
    	c0.3,0.4,0.3,0.9,0,1.2C10.9,5.6,8.7,8,6,8z M6,1C3.6,1,1.6,3.3,1,4c0.6,0.7,2.6,3,5,3c2.3,0,4.4-2.3,5-3v0C10.3,3.3,8.3,1,6,1z
    	 M6,6c-1.1,0-2-0.9-2-2s0.9-2,2-2c0.2,0,0.5,0,0.7,0.1C6.9,2.2,7,2.5,7,2.8C6.9,3,6.6,3.1,6.3,3.1C6.2,3,6.1,3,6,3C5.4,3,5,3.4,5,4
    	c0,0.5,0.5,1,1,1c0.6,0,1-0.4,1-1c0-0.3,0.2-0.5,0.5-0.5C7.8,3.5,8,3.7,8,4C8,5.1,7.1,6,6,6z"/>
  </symbol>
  <symbol id="icon-cub" viewBox="0 0 12 12" >
    <path d="M9.9,2c1.1,0.2,2,1.2,2,2.4c0,1.3-1,2.4-2.3,2.5C9,8.3,7.9,9.2,6.5,9.4v1.5H8c0.3,0,0.5,0.2,0.5,0.5
    	c0,0.3-0.2,0.5-0.5,0.5H4c-0.3,0-0.5-0.2-0.5-0.5c0-0.3,0.2-0.5,0.5-0.5h1.5v-2c0-0.3,0.2-0.5,0.5-0.5l0.1,0C8.1,8.4,9,6.7,9,5V1H3
    	v4c0,0.9,0.3,1.8,0.7,2.4C3.8,7.5,3.9,7.6,4,7.7C4.2,7.8,4.3,8,4.5,8.1c0.2,0.1,0.3,0.4,0.2,0.7C4.6,9,4.2,9.1,4,8.9
    	C3.8,8.8,3.5,8.6,3.3,8.4C3.2,8.3,3,8.1,2.9,8C2.7,7.7,2.5,7.3,2.4,7C1,6.9,0,5.8,0,4.5C0,3.3,0.9,2.3,2,2V1c0-0.5,0.4-1,1-1h6
    	c0.5,0,1,0.4,1,1V2z M2,3.1C1.4,3.3,1,3.8,1,4.5c0,0.7,0.5,1.2,1.1,1.4C2,5.6,2,5.3,2,5V3.1z M9.9,5.9c0.6-0.2,1.1-0.8,1.1-1.4
    	c0-0.6-0.4-1.2-1-1.4V5C9.9,5.3,9.9,5.6,9.9,5.9z"/>
  </symbol>

  <symbol id="icon-close" viewBox="0 0 13 13" >
    <path d="M965.517 168.783C963.9540000000001 170.408 962.495 171.92399999999998 961.032 173.445C960.537 172.922 960.1320000000001 172.493 959.7270000000001 172.065C961.1640000000001 170.636 962.662 169.146 964.1540000000001 167.661C962.6160000000001 166.132 961.1170000000001 164.642 959.6210000000001 163.155C960.0980000000001 162.699 960.5260000000001 162.29 961.041 161.798C962.4590000000001 163.278 963.9240000000001 164.805 965.465 166.413C967.02 164.821 968.496 163.312 969.975 161.798C970.427 162.266 970.8290000000001 162.683 971.251 163.121C969.7869999999999 164.577 968.2909999999999 166.066 966.781 167.568C968.3149999999999 169.096 969.804 170.578 971.269 172.03500000000003C970.82 172.48200000000003 970.404 172.89800000000002 969.951 173.35000000000002C968.5160000000001 171.872 967.052 170.36400000000003 965.517 168.78300000000002Z " fill="#919191"
    fill-opacity="1"
    transform="matrix(1,0,0,1,-959,-161)"/>
  </symbol>

  <symbol id="icon-search" viewBox="0 0 15 16" >
    <path d="M272.866 29.9077C270.013 32.1217 266.132 31.322899999999997 264.217 28.759099999999997C262.373 26.289899999999996 262.63 22.789199999999997 264.953 20.607999999999997C267.135 18.5586 270.65999999999997 18.4534 272.97499999999997 20.373499999999996C275.43399999999997 22.412799999999997 276.008 26.114899999999995 273.912 28.855099999999997C273.953 28.8986 273.996 28.945399999999996 274.03999999999996 28.989899999999995C275.26899999999995 30.219399999999997 276.498 31.449199999999994 277.72799999999995 32.677299999999995C277.89199999999994 32.840999999999994 278.00499999999994 33.0226 277.99899999999997 33.2636C277.993 33.5627 277.85999999999996 33.78789999999999 277.59299999999996 33.917699999999996C277.32899999999995 34.046699999999994 277.066 34.0226 276.825 33.8475C276.755 33.796699999999994 276.695 33.7324 276.634 33.671099999999996C275.416 32.45309999999999 274.199 31.234699999999997 272.982 30.016499999999997C272.944 29.978699999999996 272.90400000000005 29.943199999999997 272.86600000000004 29.9077ZM269.107 20.4607C266.54200000000003 20.4607 264.468 22.535 264.468 25.0995C264.469 27.642 266.545 29.719299999999997 269.09000000000003 29.721999999999998C271.644 29.724899999999998 273.72600000000006 27.650699999999997 273.72900000000004 25.0997C273.73100000000005 22.545499999999997 271.65400000000005 20.4606 269.107 20.4607Z "
    fill-opacity="1"
    transform="matrix(1,0,0,1,-263,-18)"/>
  </symbol>

  <symbol id="icon-more" viewBox="0 0 8 32" >
    <path d="M4,8c2.2,0,4-1.8,4-4S6.2,0,4,0S0,1.8,0,4S1.8,8,4,8z M4,12c-2.2,0-4,1.8-4,4s1.8,4,4,4s4-1.8,4-4S6.2,12,4,12z M4,24
    	c-2.2,0-4,1.8-4,4s1.8,4,4,4s4-1.8,4-4S6.2,24,4,24z"/>
  </symbol>

  <symbol id="icon-sort-1" viewBox="0 0 18 16" >
    <path d="M1139.97 95.5272C1138.63 95.5272 1137.28 95.52869999999999 1135.94 95.5265C1135.1100000000001 95.5251 1134.44 94.9723 1134.27 94.14059999999999C1134.05 93.12049999999999 1134.84 92.085 1135.86 92.08179999999999C1138.6 92.07359999999998 1141.34 92.07489999999999 1144.09 92.08179999999999C1144.9399999999998 92.08389999999999 1145.6499999999999 92.80669999999999 1145.72 93.69549999999998C1145.78 94.54659999999998 1145.17 95.34889999999999 1144.3500000000001 95.49199999999998C1144.16 95.52509999999998 1143.96 95.52609999999997 1143.7600000000002 95.52659999999997C1142.5000000000002 95.52939999999997 1141.2300000000002 95.52799999999998 1139.9700000000003 95.52799999999998C1139.9700000000003 95.52759999999998 1139.9700000000003 95.52749999999997 1139.9700000000003 95.52719999999998ZM1139.98 86.3307C1141.33 86.3307 1142.68 86.32849999999999 1144.03 86.3316C1144.93 86.3335 1145.66 87.0371 1145.72 87.95389999999999C1145.77 88.844 1145.14 89.62759999999999 1144.25 89.75699999999999C1144.17 89.77 1144.08 89.7807 1143.99 89.7807C1141.31 89.782 1138.64 89.7833 1135.96 89.7809C1135.1200000000001 89.78 1134.45 89.23010000000001 1134.27 88.3964C1134.05 87.38 1134.82 86.3506 1135.84 86.3383C1137.22 86.32180000000001 1138.6 86.33420000000001 1139.98 86.33420000000001C1139.98 86.33300000000001 1139.98 86.33200000000001 1139.98 86.33070000000001ZM1139.98 84.023C1138.66 84.023 1137.33 84.0125 1136.01 84.0266C1135.05 84.0369 1134.44 83.3875 1134.28 82.7075C1134.02 81.607 1134.81 80.5797 1135.96 80.57469999999999C1138.65 80.56299999999999 1141.33 80.56509999999999 1144.02 80.57419999999999C1144.93 80.57709999999999 1145.6399999999999 81.2601 1145.72 82.17779999999999C1145.79 83.0208 1145.2 83.8115 1144.3600000000001 83.9861C1144.13 84.0328 1143.89 84.0225 1143.66 84.0231C1142.43 84.0262 1141.2 84.02459999999999 1139.98 84.02459999999999C1139.98 84.02409999999999 1139.98 84.0235 1139.98 84.023ZM1132.63 93.8149C1132.63 94.94449999999999 1131.71 95.8718 1130.6000000000001 95.86489999999999C1129.5000000000002 95.8581 1128.5900000000001 94.92939999999999 1128.5900000000001 93.8021C1128.5900000000001 92.66839999999999 1129.5100000000002 91.7426 1130.6200000000001 91.743C1131.73 91.74329999999999 1132.64 92.67989999999999 1132.63 93.8149ZM1132.58 88.0544C1132.58 89.1764 1131.6999999999998 90.0635 1130.6 90.0604C1129.52 90.0575 1128.6399999999999 89.1574 1128.6399999999999 88.0494C1128.6399999999999 86.9375 1129.54 86.0279 1130.62 86.03670000000001C1131.7099999999998 86.04540000000001 1132.58 86.94440000000002 1132.58 88.05440000000002ZM1128.65 82.3042C1128.65 81.1935 1129.52 80.2932 1130.6100000000001 80.2897C1131.7 80.28649999999999 1132.5800000000002 81.1883 1132.5800000000002 82.3116C1132.5800000000002 83.4089 1131.69 84.3118 1130.6200000000001 84.31C1129.5300000000002 84.308 1128.65 83.4149 1128.65 82.30420000000001Z " transform="matrix(1,0,0,1,-1128,-80)"></path>
  </symbol>

  <symbol id="icon-sort-2" viewBox="0 0 16 16" >
    <path d="M1169.72 83.8696C1169.72 83.2818 1169.71 82.6937 1169.72 82.10600000000001C1169.73 81.093 1170.53 80.29960000000001 1171.54 80.29700000000001C1172.7 80.29370000000002 1173.87 80.2938 1175.03 80.29690000000001C1176.05 80.2993 1176.86 81.1092 1176.86 82.1251C1176.86 83.2857 1176.86 84.4462 1176.86 85.6067C1176.86 86.6369 1176.06 87.4371 1175.03 87.44080000000001C1173.87 87.44510000000001 1172.7 87.4453 1171.54 87.44080000000001C1170.51 87.43700000000001 1169.72 86.64520000000002 1169.72 85.6179C1169.71 85.0351 1169.72 84.45230000000001 1169.72 83.8696ZM1168.44 92.2947C1168.44 92.8724 1168.45 93.45020000000001 1168.44 94.0279C1168.44 95.0665 1167.64 95.86030000000001 1166.6000000000001 95.8623C1165.45 95.8645 1164.3000000000002 95.86420000000001 1163.15 95.86250000000001C1162.1100000000001 95.86080000000001 1161.3000000000002 95.05530000000002 1161.3000000000002 94.01200000000001C1161.3000000000002 92.86670000000001 1161.3000000000002 91.72130000000001 1161.3000000000002 90.57600000000002C1161.3000000000002 89.51450000000003 1162.0900000000001 88.72220000000002 1163.15 88.71750000000002C1164.3100000000002 88.71250000000002 1165.48 88.71260000000001 1166.64 88.71820000000001C1167.64 88.7228 1168.43 89.51590000000002 1168.44 90.51590000000002C1168.45 91.10870000000001 1168.44 91.70170000000002 1168.44 92.29470000000002ZM1173.31 88.7167C1173.8799999999999 88.7167 1174.45 88.7146 1175.02 88.7172C1176.06 88.7217 1176.85 89.513 1176.86 90.54390000000001C1176.86 91.7043 1176.86 92.8648 1176.86 94.0253C1176.85 95.0537 1176.05 95.8573 1175.03 95.8615C1173.87 95.86640000000001 1172.71 95.86640000000001 1171.55 95.86170000000001C1170.51 95.85750000000002 1169.72 95.06070000000001 1169.72 94.02920000000002C1169.71 92.86870000000002 1169.71 91.70830000000002 1169.72 90.54780000000002C1169.72 89.51000000000002 1170.51 88.72220000000003 1171.54 88.71730000000002C1172.1299999999999 88.71430000000002 1172.72 88.71670000000002 1173.31 88.71670000000002ZM1168.44 83.8671C1168.44 84.4699 1168.45 85.073 1168.44 85.6758C1168.42 86.6407 1167.64 87.4297 1166.67 87.4382C1165.48 87.4485 1164.28 87.4486 1163.0800000000002 87.4384C1162.1100000000001 87.43 1161.3200000000002 86.6561 1161.3100000000002 85.6846C1161.2900000000002 84.4739 1161.2900000000002 83.2625 1161.3100000000002 82.0518C1161.3200000000002 81.0961 1162.1100000000001 80.3169 1163.0600000000002 80.3023C1164.2700000000002 80.2838 1165.4700000000003 80.2846 1166.68 80.3017C1167.66 80.3155 1168.43 81.1095 1168.44 82.0886C1168.45 82.6812 1168.44 83.2741 1168.44 83.8671Z " transform="matrix(1,0,0,1,-1161,-80)"></path>
  </symbol>

</svg>
