{% include 'chunks/head.html' %}

<body>
<!-- Begin svg -->
{% include 'chunks/svg.html' %}
<!-- End svg -->
<div id="page-wrapper" class="page-wrapper">

</div>

<!-- Begin script -->
{% include 'chunks/scripts.html' %}
<!-- End script -->
</body>

</html>
