<include src="../chunks/head.html"></include>
</head>

<body>
  <!-- Begin svg -->
  <include src="../chunks/svg.html"></include>
  <!-- End svg -->
  <div id="page-wrapper" class="page-wrapper">

    <!-- Begin header -->
    <include src="../chunks/header.html"></include>
    <!-- End header -->

    <div id="page-body" class="page-body">

      <div class="container">
        <div class="row">
          <div class="col-md-12 content-page">
            <!-- Begin sidebar -->
            <div class="sidebar">
              <div class="user-img" style="background-image: url(images/img1.jpg);"></div>
              <div class="user-name">
                Alexis Connor Photographer
              </div>

              <div class="location"><svg><use xlink:href="#icon-location"></use></svg> Los Angeles, USA</div>
              <a href="dribbble.com/DeniseKing" class="site" target="_blank"><svg><use xlink:href="#icon-site"></use></svg>dribbble.com/DeniseKing</a>
              <div class="text-center">
                <ul class="social">
                  <li><a href="#"><svg><use xlink:href="#icon-soc-1"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-2"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-3"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-4"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-5"></use></svg></a></li>
                </ul>
              </div>
              <div class="folow">
                <div class="folow-item">
                  <div class="number">
                    1,286
                  </div>
                  <div class="name">followers</div>
                  <a href="#" class="el-btn">FOLLOW</a>
                </div>
                <div class="folow-item">
                  <div class="number">
                    86
                  </div>
                  <div class="name">following</div>
                  <a href="#send-message" class="el-btn js-modal-link">MESSAGE</a>
                </div>
              </div>
              <ul class="categiry">
                <li><a href="index.html">Overview</a></li>
                <li><a href="about-my.html">About me</a></li>
                <li class="active"><a href="followers.html">Followers</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="video.html">Video</a></li>
                <li><a href="castings.html">CASTINGS</a></li>
              </ul>
            </div>
            <!-- End sidebar -->

            <!-- Begin content -->
            <div class="content">
              <div class="mod-content none-overflov">
                <div class="row">
                  <h2 class="title-page">FOLLOWERS</h2>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label class="el-label">
                    Type
                    <select class="ui dropdown">
                      <option value="">Select</option>
                      <option value="1">Select 1</option>
                      <option value="0">Select 2</option>
                    </select>
                  </label>
                  </div>
                  <div class="col-md-3">
                    <label class="el-label">
                    Country
                    <select class="ui dropdown">
                      <option value="">Select</option>
                      <option value="1">Select 1</option>
                      <option value="0">Select 2</option>
                    </select>
                  </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <label class="el-label">
                    Age
                    <select class="ui dropdown">
                      <option value="">From</option>
                      <option value="1">Select 1</option>
                      <option value="0">Select 2</option>
                    </select>
                  </label>
                  </div>
                  <div class="col-md-2 mod-mob">
                    <label class="el-label">
                    &nbsp;
                    <select class="ui dropdown">
                      <option value="">To</option>
                      <option value="1">Select 1</option>
                      <option value="0">Select 2</option>
                    </select>
                  </label>
                  </div>
                  <div class="col-md-6">
                    <div class="el-label">
                      Gender
                      <div class="radio-list">
                        <label class="el-radio">
                          <input type="radio" name="size" checked>
                          <span class="radio-icon"></span>
                          Male
                        </label>
                        <label class="el-radio">
                          <input type="radio" name="size">
                          <span class="radio-icon"></span>
                          Female
                        </label>
                        <label class="el-radio">
                          <input type="radio" name="size">
                          <span class="radio-icon"></span>
                          Any
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mod-content">
                <div class="row">
                  <div class="col-md-12">
                    <form action="#" class="search">
                      <input type="text" placeholder="Search">
                    </form>
                  </div>
                </div>
              </div>
              <div class="castings-content mod-content follower-mod">
                <div class="row">
                  <ul class="col-md-12 tabs-head">
                    <li><a href="#">Followers <span>321</span></a></li>
                    <li><a href="#">Following <span>56</span></a></li>
                  </ul>
                </div>
                <div class="casting-item row">
                  <div class="col-sm-7">
                    <div class="media-left">
                      <div class="user-pick">
                        <img src="images/img-12.jpg" alt="">
                      </div>
                      <div class="user">
                        <div class="user-name">Emily Larson</div>
                        <div class="user-prof">Model</div>
                        <ul class="user-info">
                          <li><svg><use xlink:href="#icon-location"></use></svg><span>Los Angeles, USA</span></li>
                          <li>Gender: <span>Male</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="media-right">
                      <div class="btn-wrap vertical-center">
                        <a href="#" class="el-btn bg-none">Follow</a>
                        <a href="#" class="el-btn">Message</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="casting-item row">
                  <div class="col-sm-7">
                    <div class="media-left">
                      <div class="user-pick">
                        <img src="images/img-13.jpg" alt="">
                      </div>
                      <div class="user">
                        <div class="user-name">Emily Larson</div>
                        <div class="user-prof">Model</div>
                        <ul class="user-info">
                          <li><svg><use xlink:href="#icon-location"></use></svg><span>Kyiv, Ukraine</span></li>
                          <li>Gender: <span>Male</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="media-right">
                      <div class="btn-wrap vertical-center">
                        <a href="#" class="el-btn bg-none">Follow</a>
                        <a href="#" class="el-btn">Message</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="casting-item row">
                  <div class="col-sm-7">
                    <div class="media-left">
                      <div class="user-pick">
                        <img src="images/img-14.jpg" alt="">
                      </div>
                      <div class="user">
                        <div class="user-name">Emily Larson</div>
                        <div class="user-prof">Retoucher</div>
                        <ul class="user-info">
                          <li><svg><use xlink:href="#icon-location"></use></svg><span>Brenna, Czech Republic</span></li>
                          <li>Gender: <span>Male</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="media-right">
                      <div class="btn-wrap vertical-center">
                        <a href="#" class="el-btn bg-none">Follow</a>
                        <a href="#" class="el-btn">Message</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="casting-item row">
                  <div class="col-sm-7">
                    <div class="media-left">
                      <div class="user-pick">
                        <img src="images/img-16.jpg" alt="">
                      </div>
                      <div class="user">
                        <div class="user-name">Emily Larson</div>
                        <div class="user-prof">Make-up</div>
                        <ul class="user-info">
                          <li><svg><use xlink:href="#icon-location"></use></svg><span>Paris, France</span></li>
                          <li>Gender: <span>Male</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="media-right">
                      <div class="btn-wrap vertical-center">
                        <a href="#" class="el-btn bg-none">Follow</a>
                        <a href="#" class="el-btn">Message</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="casting-item row">
                  <div class="col-sm-7">
                    <div class="media-left">
                      <div class="user-pick">
                        <img src="images/img-12.jpg" alt="">
                      </div>
                      <div class="user">
                        <div class="user-name">Emily Larson</div>
                        <div class="user-prof">Photographer</div>
                        <ul class="user-info">
                          <li><svg><use xlink:href="#icon-location"></use></svg><span>Aberdeen, United Kingdom</span></li>
                          <li>Gender: <span>Male</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="media-right">
                      <div class="btn-wrap vertical-center">
                        <a href="#" class="el-btn bg-none">Follow</a>
                        <a href="#" class="el-btn">Message</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End content -->
          </div>
        </div>
      </div>

    </div>

    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->

    <!-- Begin modal -->
    <include src="../chunks/modal.html"></include>
    <!-- End modal -->

  </div>

  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>

</html>
