<include src="../chunks/head.html"></include>
</head>

<body>
  <!-- Begin svg -->
  <include src="../chunks/svg.html"></include>
  <!-- End svg -->
  <div id="page-wrapper" class="page-wrapper">

    <!-- Begin header -->
    <include src="../chunks/header.html"></include>
    <!-- End header -->

    <div id="page-body" class="page-body">

      <div class="container">
        <div class="row">
          <div class="col-md-12 content-page">
            <!-- Begin sidebar -->
            <div class="sidebar">
              <div class="user-img" style="background-image: url(images/img1.jpg);"></div>
              <div class="user-name">
                Alexis Connor Photographer
              </div>

              <div class="location"><svg><use xlink:href="#icon-location"></use></svg> Los Angeles, USA</div>
              <a href="dribbble.com/DeniseKing" class="site" target="_blank"><svg><use xlink:href="#icon-site"></use></svg>dribbble.com/DeniseKing</a>
              <div class="text-center">
                <ul class="social">
                  <li><a href="#"><svg><use xlink:href="#icon-soc-1"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-2"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-3"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-4"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-5"></use></svg></a></li>
                </ul>
              </div>
              <div class="folow">
                <div class="folow-item">
                  <div class="number">
                    1,286
                  </div>
                  <div class="name">followers</div>
                  <a href="#" class="el-btn">FOLLOW</a>
                </div>
                <div class="folow-item">
                  <div class="number">
                    86
                  </div>
                  <div class="name">following</div>
                  <a href="#send-message" class="el-btn js-modal-link">MESSAGE</a>
                </div>
              </div>
              <ul class="categiry">
                <li><a href="index.html">Overview</a></li>
                <li><a href="about-my.html">About me</a></li>
                <li class="active"><a href="followers.html">Followers</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="video.html">Video</a></li>
                <li><a href="castings.html">CASTINGS</a></li>
              </ul>
            </div>
            <!-- End sidebar -->

            <!-- Begin content -->
            <div class="content">
              <div class="mod-content">
                <div class="row">
                  <h2 class="title-page">MESSAGES</h2>
                </div>
                <div class="row">
                  <ul class="col-md-12 tabs-head">
                    <li>
                      <label class="el-checkbox none-text">
                        <input type="checkbox" name="size" checked>
                        <span class="checkbox-icon"></span>
                      </label>
                    </li>
                    <li class="active"><a href="#">Inbox  <span>86</span></a></li>
                    <li><a href="#">outbox <span>12</span></a></li>
                    <li><a href="#">Trash <span>5</span></a></li>
                    <li><a href="#">Spam <span>1</span></a></li>
                  </ul>
                </div>
                <div class="messages-content">
                    <div class="item-massage">
                      <div class="check">
                        <label class="el-checkbox none-text">
                          <input type="checkbox" name="size">
                          <span class="checkbox-icon"></span>
                        </label>
                      </div>
                      <div class="img">
                        <div class="user-pick">
                          <img src="images/img-12.jpg" alt="">
                        </div>
                      </div>
                      <div class="name">
                        <a href="#" class="user-name"><span>Emily Larson</span></a>
                      </div>

                      <div class="text-mess"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut iusto minima labore aperiam magni eum illo ipsum asperiores similique iure fugit tempore consequatur deleniti, id assumenda accusantium atque cupiditate! Placeat.</p></div>
                      <div class="data-wrap">
                        <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>14:20</div>
                      </div>
                    </div>
                    <div class="item-massage active">
                      <div class="check">
                        <label class="el-checkbox none-text">
                          <input type="checkbox" name="size">
                          <span class="checkbox-icon"></span>
                        </label>
                      </div>
                      <div class="img">
                        <div class="user-pick">
                          <img src="images/img-13.jpg" alt="">
                        </div>
                      </div>
                      <div class="name">
                        <a href="#" class="user-name"><span>Kathryn Garcia</span></a>
                      </div>

                      <div class="text-mess"><p>Hi) How are you?</p></div>
                      <div class="data-wrap">
                        <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>Jul 25</div>
                      </div>
                    </div>
                    <div class="item-massage">
                      <div class="check">
                        <label class="el-checkbox none-text">
                          <input type="checkbox" name="size">
                          <span class="checkbox-icon"></span>
                        </label>
                      </div>
                      <div class="img">
                        <div class="user-pick">
                          <img src="images/img-14.jpg" alt="">
                        </div>
                      </div>
                      <div class="name">
                        <a href="#" class="user-name"><span>Marie Roberts</span></a>
                      </div>

                      <div class="text-mess"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut iusto minima labore aperiam magni eum illo ipsum asperiores similique iure fugit tempore consequatur deleniti, id assumenda accusantium atque cupiditate! Placeat.</p></div>
                      <div class="data-wrap">
                        <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>Jul 25</div>
                      </div>
                    </div>
                    <div class="item-massage">
                      <div class="check">
                        <label class="el-checkbox none-text">
                          <input type="checkbox" name="size">
                          <span class="checkbox-icon"></span>
                        </label>
                      </div>
                      <div class="img">
                        <div class="user-pick">
                          <img src="images/img-16.jpg" alt="">
                        </div>
                      </div>
                      <div class="name">
                        <a href="#" class="user-name"><span>Elizabeth Day</span></a>
                      </div>

                      <div class="text-mess"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut iusto minima labore aperiam magni eum illo ipsum asperiores similique iure fugit tempore consequatur deleniti, id assumenda accusantium atque cupiditate! Placeat.</p></div>
                      <div class="data-wrap">
                        <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>Jul 25</div>
                      </div>
                    </div>
                    <div class="item-massage">
                      <div class="check">
                        <label class="el-checkbox none-text">
                          <input type="checkbox" name="size">
                          <span class="checkbox-icon"></span>
                        </label>
                      </div>
                      <div class="img">
                        <div class="user-pick">
                          <img src="images/img-12.jpg" alt="">
                        </div>
                      </div>
                      <div class="name">
                        <a href="#" class="user-name"><span>Emily Larson</span></a>
                      </div>

                      <div class="text-mess"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut iusto minima labore aperiam magni eum illo ipsum asperiores similique iure fugit tempore consequatur deleniti, id assumenda accusantium atque cupiditate! Placeat.</p></div>
                      <div class="data-wrap">
                        <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>14:20</div>
                      </div>
                    </div>
                    <div class="item-massage">
                      <div class="check">
                        <label class="el-checkbox none-text">
                          <input type="checkbox" name="size">
                          <span class="checkbox-icon"></span>
                        </label>
                      </div>
                      <div class="img">
                        <div class="user-pick">
                          <img src="images/img-13.jpg" alt="">
                        </div>
                      </div>
                      <div class="name">
                        <a href="#" class="user-name"><span>Kathryn Garcia</span></a>
                      </div>

                      <div class="text-mess"><p>Hi) How are you?</p></div>
                      <div class="data-wrap">
                        <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>Jul 25</div>
                      </div>
                    </div>
                    <div class="item-massage">
                      <div class="check">
                        <label class="el-checkbox none-text">
                          <input type="checkbox" name="size">
                          <span class="checkbox-icon"></span>
                        </label>
                      </div>
                      <div class="img">
                        <div class="user-pick">
                          <img src="images/img-14.jpg" alt="">
                        </div>
                      </div>
                      <div class="name">
                        <a href="#" class="user-name"><span>Marie Roberts</span></a>
                      </div>

                      <div class="text-mess"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut iusto minima labore aperiam magni eum illo ipsum asperiores similique iure fugit tempore consequatur deleniti, id assumenda accusantium atque cupiditate! Placeat.</p></div>
                      <div class="data-wrap">
                        <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>Jul 25</div>
                      </div>
                    </div>
                    <div class="item-massage">
                      <div class="check">
                        <label class="el-checkbox none-text">
                          <input type="checkbox" name="size">
                          <span class="checkbox-icon"></span>
                        </label>
                      </div>
                      <div class="img">
                        <div class="user-pick">
                          <img src="images/img-16.jpg" alt="">
                        </div>
                      </div>
                      <div class="name">
                        <a href="#" class="user-name"><span>Elizabeth Day</span></a>
                      </div>

                      <div class="text-mess"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut iusto minima labore aperiam magni eum illo ipsum asperiores similique iure fugit tempore consequatur deleniti, id assumenda accusantium atque cupiditate! Placeat.</p></div>
                      <div class="data-wrap">
                        <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>Jul 25</div>
                      </div>
                    </div>
                </div>
              </div>

            </div>
            <!-- End content -->
          </div>
        </div>
      </div>

    </div>

    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->

    <!-- Begin modal -->
    <include src="../chunks/modal.html"></include>
    <!-- End modal -->

  </div>

  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>

</html>
