<include src="../chunks/head.html"></include>
</head>

<body>
  <!-- Begin svg -->
  <include src="../chunks/svg.html"></include>
  <!-- End svg -->
  <div id="page-wrapper" class="page-wrapper">

    <!-- Begin header -->
    <include src="../chunks/header.html"></include>
    <!-- End header -->

    <div id="page-body" class="page-body">

      <div class="container">
        <div class="row">
          <div class="col-md-12 content-page">
            <!-- Begin sidebar -->
            <div class="sidebar">
              <div class="user-img" style="background-image: url(images/img1.jpg);"></div>
              <div class="user-name">
                Alexis Connor Photographer
              </div>

              <div class="location"><svg><use xlink:href="#icon-location"></use></svg> Los Angeles, USA</div>
              <a href="dribbble.com/DeniseKing" class="site" target="_blank"><svg><use xlink:href="#icon-site"></use></svg>dribbble.com/DeniseKing</a>
              <div class="text-center">
                <ul class="social">
                  <li><a href="#"><svg><use xlink:href="#icon-soc-1"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-2"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-3"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-4"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-5"></use></svg></a></li>
                </ul>
              </div>
              <div class="folow">
                <div class="folow-item">
                  <div class="number">
                    1,286
                  </div>
                  <div class="name">followers</div>
                  <a href="#" class="el-btn">FOLLOW</a>
                </div>
                <div class="folow-item">
                  <div class="number">
                    86
                  </div>
                  <div class="name">following</div>
                  <a href="#send-message" class="el-btn js-modal-link">MESSAGE</a>
                </div>
              </div>
              <ul class="categiry">
                <li><a href="index.html">Overview</a></li>
                <li><a href="about-my.html">About me</a></li>
                <li><a href="followers.html">Followers</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li class="active"><a href="video.html">Video</a></li>
                <li><a href="castings.html">CASTINGS</a></li>
              </ul>
            </div>
            <!-- End sidebar -->

            <!-- Begin content -->
            <div class="content">
              <div class="mod-content portfolio">
                <div class="row">
                  <h2 class="title-page">PORTFOLIO</h2>
                </div>
                <div class="row">
                  <ul class="col-md-12 tabs-head">
                    <li><a href="#">All VIDEOS <span>23</span></a></li>
                    <li><a href="#">Albums</a></li>
                  </ul>

                  <div class="video-wrap">
                    <a href="ajax-video.php" data-fancybox-type="ajax" data-id="id" class="item-video">
                      <span class="img-wrap">
                        <img src="images/video/1.png" alt="img">
                      </span>
                      <span class="name">My magic in my paint</span>
                    </a>
                    <a href="ajax-video.php" data-fancybox-type="ajax" data-id="id" class="item-video">
                      <span class="img-wrap">
                        <img src="images/video/2.png" alt="img">
                      </span>
                      <span class="name">RUMINEELY</span>
                    </a>
                    <a href="ajax-video.php" data-fancybox-type="ajax" data-id="id" class="item-video">
                      <span class="img-wrap">
                        <img src="images/video/3.png" alt="img">
                      </span>
                      <span class="name">ABOVE AMERICA</span>
                    </a>
                    <a href="ajax-video.php" data-fancybox-type="ajax" data-id="id" class="item-video">
                      <span class="img-wrap">
                        <img src="images/video/4.png" alt="img">
                      </span>
                      <span class="name">FOLLOW YOUR DREAMS</span>
                    </a>
                    <a href="ajax-video.php" data-fancybox-type="ajax" data-id="id" class="item-video">
                      <span class="img-wrap">
                        <img src="images/video/5.png" alt="img">
                      </span>
                      <span class="name">ELIN KLING</span>
                    </a>
                    <a href="ajax-video.php" data-fancybox-type="ajax" data-id="id" class="item-video">
                      <span class="img-wrap">
                        <img src="images/video/6.png" alt="img">
                      </span>
                      <span class="name">STAY PLAY</span>
                    </a>
                    <a href="ajax-video.php" data-fancybox-type="ajax" data-id="id" class="item-video">
                      <span class="img-wrap">
                        <img src="images/video/7.png" alt="img">
                      </span>
                      <span class="name">DREAMS COME TRUE</span>
                    </a>
                    <a href="ajax-video.php" data-fancybox-type="ajax" data-id="id" class="item-video">
                      <span class="img-wrap">
                        <img src="images/video/8.png" alt="img">
                      </span>
                      <span class="name">MULBERRY</span>
                    </a>
                    <a href="ajax-video.php" data-fancybox-type="ajax" data-id="id" class="item-video">
                      <span class="img-wrap">
                        <img src="images/video/9.png" alt="img">
                      </span>
                      <span class="name">NO MAKE</span>
                    </a>
                    <a href="ajax-video.php" data-fancybox-type="ajax" data-id="id" class="item-video">
                      <span class="img-wrap">
                        <img src="images/video/10.png" alt="img">
                      </span>
                      <span class="name">FASHION PROFESSION</span>
                    </a>
                    <a href="ajax-video.php" data-fancybox-type="ajax" data-id="id" class="item-video">
                      <span class="img-wrap">
                        <img src="images/video/11.png" alt="img">
                      </span>
                      <span class="name">FASHION PROFESSION</span>
                    </a>
                    <a href="ajax-video.php" data-fancybox-type="ajax" data-id="id" class="item-video">
                      <span class="img-wrap">
                        <img src="images/video/12.png" alt="img">
                      </span>
                      <span class="name">My magic in my paint</span>
                    </a>
                    <a href="ajax-video.php" data-fancybox-type="ajax" data-id="id" class="item-video">
                      <span class="img-wrap">
                        <img src="images/video/13.png" alt="img">
                      </span>
                      <span class="name">My magic in my paint</span>
                    </a>
                    <a href="ajax-video.php" data-fancybox-type="ajax" data-id="id" class="item-video">
                      <span class="img-wrap">
                        <img src="images/video/14.png" alt="img">
                      </span>
                      <span class="name">My magic in my paint</span>
                    </a>
                    <a href="ajax-video.php" data-fancybox-type="ajax" data-id="id" class="item-video">
                      <span class="img-wrap">
                        <img src="images/video/15.png" alt="img">
                      </span>
                      <span class="name">My magic in my paint</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End content -->
          </div>
        </div>
      </div>

    </div>

    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->

    <!-- Begin modal -->
    <include src="../chunks/modal.html"></include>
    <!-- End modal -->

  </div>

  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>

</html>
