.grid-system-px(@grid-columns: 12, @grid-gutter: 20px) {
	@grid-width: @widthContent/@grid-columns;
	@grid-width-fifth: @widthContent/5;

	/* Containers
	----------------------------------------------------------------------------------------------------*/
	.container {
		margin-left: auto;
		margin-right: auto;
		padding-left: (@grid-gutter / 2);
		padding-right: (@grid-gutter / 2);
		width: @widthContent;
		box-sizing: border-box;
		&:extend(.clear-fix all);
		.row {
			margin-left: -(@grid-gutter / 2);
			margin-right: -(@grid-gutter / 2);
			&:extend(.clear-fix all);
		}
	}

	/* Columns
	----------------------------------------------------------------------------------------------------*/
	[class|=col-px], [class*=col-px-] {
		min-height: 1px;
		padding-left: (@grid-gutter / 2);
		padding-right: (@grid-gutter / 2);
		box-sizing: border-box;
		.pr;
		.fl;
	}
	.make-grid-px(@index) when (@index > 0) {
		.col-px-@{index} {
			width: @grid-width*@index;
		}
		.make-grid-px(@index - 1);
	}
	.make-grid-fifth-px(@index) when (@index > 0) {
		.col-fifth-px-@{index} {
			width: @grid-width-fifth*@index;
		}
		.make-grid-fifth-px(@index - 1);
	}
	.container {
		.make-grid-px(@grid-columns);
		.make-grid-fifth-px(5);
	}

	/* Extra Space
	----------------------------------------------------------------------------------------------------*/
	.make-extra-space-px(@index) when (@index > 0) {
		.col-px-offset-@{index} {
			margin-left: @grid-width*@index;
		}
		.col-px-push-@{index} {
			left: @grid-width*@index;
		}
		.col-px-pull-@{index} {
			left: -(@grid-width*@index);
		}
		.make-extra-space-px(@index - 1);
	}
	.make-extra-space-px-fifth(@index) when (@index > 0) {
		.col-fifth-px-offset-@{index} {
			margin-left: @grid-width-fifth*@index;
		}
		.col-fifth-px-push-@{index} {
			left: @grid-width-fifth*@index;
		}
		.col-fifth-px-pull-@{index} {
			left: -(@grid-width-fifth*@index);
		}
		.make-extra-space-px-fifth(@index - 1);
	}
	.container {
		.make-extra-space-px(@grid-columns - 1);
		.make-extra-space-px-fifth(4);
	}
}

.grid-system-px();
