$base64-png: 'image/png;base64'
$base64-jpg: 'image/jpeg;base64'
$base64-svg: 'image/svg+xml;base64'

// font var
//-----------------------------------------------------------------------------------
$default-font: Arial, 'Helvetica Neue', Helvetica, sans-serif

// +font-face('font-icon', 'fonts/font-icon/font-icon', 'font-icon')

// font-face('OpenSans', 'fonts/OpenSans/OpenSans-Light', 'OpenSans-Light', 300)
// font-face('OpenSans', 'fonts/OpenSans/OpenSans', 'OpenSans', normal)
// font-face('OpenSans', 'fonts/OpenSans/OpenSans-Semibold', 'OpenSans-Semibold', 600)
// font-face('OpenSans', 'fonts/OpenSans/OpenSans-Bold', 'OpenSans-Bold', bold)

// font-face('Xenia-Bold', 'fonts/Xenia-Bold/Xenia-Bold', 'Xenia-Bold', bold)
// font-face('LevenimMT', 'fonts/LevenimMT/LevenimMT', 'LevenimMT', 400)

$gotham: 'OpenSans', $default-font
$xenia: 'Xenia-Bold', $default-font
$levenim: 'LevenimMT', $default-font

// selection color
//-----------------------------------------------------------------------------------
$color-selection: dodgerblue

// COlOR var
//-----------------------------------------------------------------------------------
$color-link: dodgerblue

$color-text: #2c2e33
$color-pure: #ff0169
$black: #000
$grey-icon: #999999
$black-opacity: rgba(0, 0, 0, 0.51)