{% load static from staticfiles %}
<div class="modall-message modal" id="send-message">
  <div class="title">
		<h2>Send Message <span>to Antonia Ricosso</span></h2>

		<a class="icon-close" href="javascript:jQuery.fancybox.close();"><svg><use xlink:href="#icon-close"></use></svg></a>
	</div>
  <div class="content-modal">
    <form action="#">
      <div class="img">
        <div class="user-pick">
          <img src="{% static 'images/img-12.jpg' %}" alt="">
        </div>
      </div>
      <div class="form">
        <div class="el-label">
          <input type="text" placeholder="Subject">
        </div>

        <textarea name="name" rows="8" cols="80" placeholder="Enter Your Messages here"></textarea>
        <div class="btn-wrap">
          <div class="p">Available Messages (2/5)</div>
          <button type="submit" class="el-btn">SEND</button>
        </div>

      </div>
    </form>
  </div>
</div>
