<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>
  <meta charset="utf-8"/>
  <title>fashionjam</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"o/>
  <link rel="stylesheet" href="{{ app.router.static.url(filename='css/libs.css') }}"/>
  <link rel="stylesheet" href="{{ app.router.static.url(filename='css/style.css') }}"/>
  <script src="{{ app.router.static.url(filename='js/ie-detector.js') }}"></script>
  <script src="{{ app.router.static.url(filename='js/modernizr.js') }}"></script>
  <!--[if lte IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->

  <!--
    mobile define colors for elements of the browser

    <meta name="theme-color" content="HEX_COLOR">
    <meta name="msapplication-navbutton-color" content="HEX_COLOR">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="HEX_COLOR">

  -->

  <!--
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="">
  -->
  <style>
      #page-preloader {
          position: fixed;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: white;
          z-index: 100500;
      }

      .spinner {
          position: absolute;
          width: 140px;
          height: 140px;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background-size: 132px;
          margin: 0;
      }
  </style>
</head>
