{% load static from staticfiles %}
<!-- login modal window -->
<div class="modall-register modal" id="login">
  <div class="title">
    <h2>SIGN UP WITH <b>MAIL</b> OR <b>FACEBOOK</b></h2>

    <!--<a class="icon-close" href="javascript:jQuery.fancybox.close();"><svg><use xlink:href="#icon-close"></use></svg></a>-->
  </div>
  <div class="content-modal">
    <form action="#">

      <div class="form">
        <div class="el-label">
          <input type="text" placeholder="Email">
        </div>
        <div class="el-label">
          <input type="password" placeholder="Password">
        </div>
        
        <button class="el-btn">LOG IN</button>
        <p class="or">OR</p>
        <button class="el-btn mod-fb"><img src="{% static 'images/fb.png' %}" alt="" >Continue with FACEBOOK</button>
      </div>
    </form>
  </div>
</div>
<!-- eot login modal window -->