
<div id="page-preloader">
    <div class="spinner">
        <div class="spinner-container">
            <div class="cmn-spinner__multisquare">Loading...</div>
        </div>
    </div>
</div>
<script src="{{ app.router.static.url(filename='js/libs.js') }}"></script>
<script type="text/javascript" src="{{ app.router.static.url(filename='js/jquery.fancybox-media.js') }}"></script>
<script src="{{ app.router.static.url(filename='js/core.js') }}"></script>
<script src="{{ app.router.static.url(filename='js/common.js') }}"></script>
<script src="{{ app.react_url }}"></script>

<script>
    $(window).on("load", function () {
        var $preloader = $('#page-preloader'),
            $spinner = $preloader.find('.spinner');

        setTimeout(function () {
            $spinner.fadeOut();
            $preloader.delay(300).fadeOut('slow');
        }, 500);
    });
</script>
