<include src="../chunks/head.html"></include>
</head>

<body>
  <!-- Begin svg -->
  <include src="../chunks/svg.html"></include>
  <!-- End svg -->
  <div id="page-wrapper" class="page-wrapper">

    <!-- Begin header -->
    <include src="../chunks/header.html"></include>
    <!-- End header -->

    <div id="page-body" class="page-body">

      <div class="container">
        <div class="row">
          <div class="col-md-12 content-page">
            <!-- Begin sidebar -->
            <div class="sidebar">
              <div class="user-img" style="background-image: url(images/img1.jpg);"></div>
              <div class="user-name">
                Alexis Connor Photographer
              </div>

              <div class="location"><svg><use xlink:href="#icon-location"></use></svg> Los Angeles, USA</div>
              <a href="dribbble.com/DeniseKing" class="site" target="_blank"><svg><use xlink:href="#icon-site"></use></svg>dribbble.com/DeniseKing</a>
              <div class="text-center">
                <ul class="social">
                  <li><a href="#"><svg><use xlink:href="#icon-soc-1"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-2"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-3"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-4"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-5"></use></svg></a></li>
                </ul>
              </div>
              <div class="folow">
                <div class="folow-item">
                  <div class="number">
                    1,286
                  </div>
                  <div class="name">followers</div>
                  <a href="#" class="el-btn">FOLLOW</a>
                </div>
                <div class="folow-item">
                  <div class="number">
                    86
                  </div>
                  <div class="name">following</div>
                  <a href="#send-message" class="el-btn js-modal-link">MESSAGE</a>
                </div>
              </div>
              <ul class="categiry">
                <li><a href="index.html">Overview</a></li>
                <li class="active"><a href="about-my.html">About me</a></li>
                <li><a href="followers.html">Followers</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="video.html">Video</a></li>
                <li><a href="castings.html">CASTINGS</a></li>
              </ul>
            </div>
            <!-- End sidebar -->

            <!-- Begin content -->
            <div class="content">
              <div class="about-content mod-content">
                <div class="row">
                  <h2 class="title-page ">ABOUT ME</h2>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label class="el-label">
                    First Name
                    <input type="text" value="Denice">
                  </label>
                  </div>
                  <div class="col-md-3">
                    <label class="el-label">
                    King
                    <input type="text" value="Denice">
                  </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label class="el-label">
                    Member Type
                    <input type="text" value="Photographer">
                  </label>
                  </div>
                  <div class="col-md-3">
                    <label class="el-label">
                    Gender
                    <input type="text" value="Female">
                  </label>
                  </div>
                  <div class="col-md-2">
                    <label class="el-label">
                    Age
                    <input type="text" value="30">
                  </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label class="el-label">
                    City
                    <select class="ui dropdown">
                      <option value="">Los Angeles</option>
                      <option value="1">City 1</option>
                      <option value="0">City 2</option>
                    </select>
                  </label>
                  </div>
                  <div class="col-md-3">
                    <label class="el-label">
                    State
                    <select class="ui dropdown">
                      <option value="">Illinois</option>
                      <option value="1">State 1</option>
                      <option value="0">State 2</option>
                    </select>
                  </label>
                  </div>
                  <div class="col-md-3">
                    <label class="el-label">
                    Country
                    <select class="ui dropdown">
                      <option value="">USA</option>
                      <option value="1">Country 1</option>
                      <option value="0">Country 2</option>
                    </select>
                  </label>
                  </div>
                  <div class="col-md-2">
                    <label class="el-label">
                    ZIP Code
                    <input type="text" value="29000">
                  </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label class="el-label calendar">
                    Joined
                    <input type="text" value="25.03.2014">
                  </label>
                  </div>
                  <div class="col-md-3">
                    <label class="el-label">
                    Experience
                    <input type="text" value="Experienced">
                  </label>
                  </div>
                  <div class="col-md-3">
                    <label class="el-label">
                    Compensation
                    <input type="text" value="Any">
                  </label>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-12">
                    <label class="el-label">Description</label>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
                      of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 map-wrap">
                    <script src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js'></script>

                    <script>
                      google.maps.event.addDomListener(window, 'load', init);
                      var map;

                      function init() {
                        var mapOptions = {
                          center: new google.maps.LatLng(49.423111, -333.012685),
                          zoom: 17,
                          zoomControl: false,
                          disableDoubleClickZoom: true,
                          mapTypeControl: false,
                          scaleControl: false,
                          scrollwheel: true,
                          panControl: false,
                          streetViewControl: false,
                          draggable: true,
                          overviewMapControl: false,
                          overviewMapControlOptions: {
                            opened: false,
                          },
                          mapTypeId: google.maps.MapTypeId.ROADMAP,
                          styles: [{
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [{
                              "color": "#e9e9e9"
                            }, {
                              "lightness": 17
                            }]
                          }, {
                            "featureType": "landscape",
                            "elementType": "geometry",
                            "stylers": [{
                              "color": "#f5f5f5"
                            }, {
                              "lightness": 20
                            }]
                          }, {
                            "featureType": "road.highway",
                            "elementType": "geometry.fill",
                            "stylers": [{
                              "color": "#ffffff"
                            }, {
                              "lightness": 17
                            }]
                          }, {
                            "featureType": "road.highway",
                            "elementType": "geometry.stroke",
                            "stylers": [{
                              "color": "#ffffff"
                            }, {
                              "lightness": 29
                            }, {
                              "weight": 0.2
                            }]
                          }, {
                            "featureType": "road.arterial",
                            "elementType": "geometry",
                            "stylers": [{
                              "color": "#ffffff"
                            }, {
                              "lightness": 18
                            }]
                          }, {
                            "featureType": "road.local",
                            "elementType": "geometry",
                            "stylers": [{
                              "color": "#ffffff"
                            }, {
                              "lightness": 16
                            }]
                          }, {
                            "featureType": "poi",
                            "elementType": "geometry",
                            "stylers": [{
                              "color": "#f5f5f5"
                            }, {
                              "lightness": 21
                            }]
                          }, {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [{
                              "color": "#dedede"
                            }, {
                              "lightness": 21
                            }]
                          }, {
                            "elementType": "labels.text.stroke",
                            "stylers": [{
                              "visibility": "on"
                            }, {
                              "color": "#ffffff"
                            }, {
                              "lightness": 16
                            }]
                          }, {
                            "elementType": "labels.text.fill",
                            "stylers": [{
                              "saturation": 36
                            }, {
                              "color": "#333333"
                            }, {
                              "lightness": 40
                            }]
                          }, {
                            "elementType": "labels.icon",
                            "stylers": [{
                              "visibility": "off"
                            }]
                          }, {
                            "featureType": "transit",
                            "elementType": "geometry",
                            "stylers": [{
                              "color": "#f2f2f2"
                            }, {
                              "lightness": 19
                            }]
                          }, {
                            "featureType": "administrative",
                            "elementType": "geometry.fill",
                            "stylers": [{
                              "color": "#fefefe"
                            }, {
                              "lightness": 20
                            }]
                          }, {
                            "featureType": "administrative",
                            "elementType": "geometry.stroke",
                            "stylers": [{
                              "color": "#fefefe"
                            }, {
                              "lightness": 17
                            }, {
                              "weight": 1.2
                            }]
                          }],
                        }
                        var mapElement = document.getElementById('map');
                        var map = new google.maps.Map(mapElement, mapOptions);
                        var locations = [
                          ['Title', 'undefined', 'undefined', 'undefined', 'undefined', 49.422983, 26.98713299999997, 'http://riffux.com/work/fashionjam/images/icon/pinmap.png']
                        ];
                        for (i = 0; i < locations.length; i++) {
                          if (locations[i][1] == 'undefined') {
                            description = '';
                          } else {
                            description = locations[i][1];
                          }
                          if (locations[i][2] == 'undefined') {
                            telephone = '';
                          } else {
                            telephone = locations[i][2];
                          }
                          if (locations[i][3] == 'undefined') {
                            email = '';
                          } else {
                            email = locations[i][3];
                          }
                          if (locations[i][4] == 'undefined') {
                            web = '';
                          } else {
                            web = locations[i][4];
                          }
                          if (locations[i][7] == 'undefined') {
                            markericon = '';
                          } else {
                            markericon = locations[i][7];
                          }
                          marker = new google.maps.Marker({
                            icon: markericon,
                            position: new google.maps.LatLng(locations[i][5], locations[i][6]),
                            map: map,
                            title: locations[i][0],
                            desc: description,
                            tel: telephone,
                            email: email,
                            web: web
                          });
                          link = '';
                        }

                      }
                    </script>

                    <div id='map'></div>
                  </div>

                </div>
              </div>
            </div>
            <!-- End content -->
          </div>
        </div>
      </div>

    </div>

    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->

    <!-- Begin modal -->
    <include src="../chunks/modal.html"></include>
    <!-- End modal -->

  </div>

  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>

</html>
