<include src="../chunks/head.html"></include>
</head>

<body>
  <!-- Begin svg -->
  <include src="../chunks/svg.html"></include>
  <!-- End svg -->
  <div id="page-wrapper" class="page-wrapper">

    <!-- Begin header -->
    <include src="../chunks/header.html"></include>
    <!-- End header -->

    <div id="page-body" class="page-body">

      <div class="container">
        <div class="row">
          <div class="col-md-12 content-page">
            <!-- Begin sidebar -->
            <div class="sidebar">
              <h2 class="title-page">LOCATION</h2>
              <div class="map-wrap">
                <script src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js'></script>
                <script>
                  google.maps.event.addDomListener(window, 'load', init);
                  var map;

                  function init() {
                    var mapOptions = {
                      center: new google.maps.LatLng(49.423111, -333.012685),
                      zoom: 17,
                      zoomControl: false,
                      disableDoubleClickZoom: true,
                      mapTypeControl: false,
                      scaleControl: false,
                      scrollwheel: true,
                      panControl: false,
                      streetViewControl: false,
                      draggable: true,
                      overviewMapControl: false,
                      overviewMapControlOptions: {
                        opened: false,
                      },
                      mapTypeId: google.maps.MapTypeId.ROADMAP,
                      styles: [{
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [{
                          "color": "#e9e9e9"
                        }, {
                          "lightness": 17
                        }]
                      }, {
                        "featureType": "landscape",
                        "elementType": "geometry",
                        "stylers": [{
                          "color": "#f5f5f5"
                        }, {
                          "lightness": 20
                        }]
                      }, {
                        "featureType": "road.highway",
                        "elementType": "geometry.fill",
                        "stylers": [{
                          "color": "#ffffff"
                        }, {
                          "lightness": 17
                        }]
                      }, {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [{
                          "color": "#ffffff"
                        }, {
                          "lightness": 29
                        }, {
                          "weight": 0.2
                        }]
                      }, {
                        "featureType": "road.arterial",
                        "elementType": "geometry",
                        "stylers": [{
                          "color": "#ffffff"
                        }, {
                          "lightness": 18
                        }]
                      }, {
                        "featureType": "road.local",
                        "elementType": "geometry",
                        "stylers": [{
                          "color": "#ffffff"
                        }, {
                          "lightness": 16
                        }]
                      }, {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [{
                          "color": "#f5f5f5"
                        }, {
                          "lightness": 21
                        }]
                      }, {
                        "featureType": "poi.park",
                        "elementType": "geometry",
                        "stylers": [{
                          "color": "#dedede"
                        }, {
                          "lightness": 21
                        }]
                      }, {
                        "elementType": "labels.text.stroke",
                        "stylers": [{
                          "visibility": "on"
                        }, {
                          "color": "#ffffff"
                        }, {
                          "lightness": 16
                        }]
                      }, {
                        "elementType": "labels.text.fill",
                        "stylers": [{
                          "saturation": 36
                        }, {
                          "color": "#333333"
                        }, {
                          "lightness": 40
                        }]
                      }, {
                        "elementType": "labels.icon",
                        "stylers": [{
                          "visibility": "off"
                        }]
                      }, {
                        "featureType": "transit",
                        "elementType": "geometry",
                        "stylers": [{
                          "color": "#f2f2f2"
                        }, {
                          "lightness": 19
                        }]
                      }, {
                        "featureType": "administrative",
                        "elementType": "geometry.fill",
                        "stylers": [{
                          "color": "#fefefe"
                        }, {
                          "lightness": 20
                        }]
                      }, {
                        "featureType": "administrative",
                        "elementType": "geometry.stroke",
                        "stylers": [{
                          "color": "#fefefe"
                        }, {
                          "lightness": 17
                        }, {
                          "weight": 1.2
                        }]
                      }],
                    }
                    var mapElement = document.getElementById('map');
                    var map = new google.maps.Map(mapElement, mapOptions);
                    var locations = [
                      ['Title', 'undefined', 'undefined', 'undefined', 'undefined', 49.422983, 26.98713299999997, 'http://riffux.com/work/fashionjam/images/icon/pinmap.png']
                    ];
                    for (i = 0; i < locations.length; i++) {
                      if (locations[i][1] == 'undefined') {
                        description = '';
                      } else {
                        description = locations[i][1];
                      }
                      if (locations[i][2] == 'undefined') {
                        telephone = '';
                      } else {
                        telephone = locations[i][2];
                      }
                      if (locations[i][3] == 'undefined') {
                        email = '';
                      } else {
                        email = locations[i][3];
                      }
                      if (locations[i][4] == 'undefined') {
                        web = '';
                      } else {
                        web = locations[i][4];
                      }
                      if (locations[i][7] == 'undefined') {
                        markericon = '';
                      } else {
                        markericon = locations[i][7];
                      }
                      marker = new google.maps.Marker({
                        icon: markericon,
                        position: new google.maps.LatLng(locations[i][5], locations[i][6]),
                        map: map,
                        title: locations[i][0],
                        desc: description,
                        tel: telephone,
                        email: email,
                        web: web
                      });
                      link = '';
                    }

                  }
                </script>
                <div id='map'></div>
              </div>
              <h2 class="title-page">Advanced Search</h2>
              <div class="col-md-12">
                <label class="el-label">
                  Type
                  <select class="ui dropdown">
                    <option value="">Select</option>
                    <option value="1">Select 1</option>
                    <option value="0">Select 2</option>
                  </select>
                </label>
              </div>
              <div class="col-md-12">
                <label class="el-label">
                  Country
                  <select class="ui dropdown">
                    <option value="">Select</option>
                    <option value="1">Select 1</option>
                    <option value="0">Select 2</option>
                  </select>
                </label>
              </div>
              <div class="col-md-6">
                <label class="el-label">
                  Age
                  <select class="ui dropdown">
                    <option value="">From</option>
                    <option value="1">Select 1</option>
                    <option value="0">Select 2</option>
                  </select>
                </label>
              </div>
              <div class="col-md-6 mod-mob">
                <label class="el-label">
                  &nbsp;
                  <select class="ui dropdown">
                    <option value="">To</option>
                    <option value="1">Select 1</option>
                    <option value="0">Select 2</option>
                  </select>
                </label>
              </div>
              <div class="col-md-12">
                <div class="el-label">
                  Gender
                  <div class="radio-list">
                    <label class="el-radio">
                      <input type="radio" name="size" checked>
                      <span class="radio-icon"></span>
                      Male
                    </label>
                    <label class="el-radio">
                      <input type="radio" name="size">
                      <span class="radio-icon"></span>
                      Female
                    </label>
                    <label class="el-radio">
                      <input type="radio" name="size">
                      <span class="radio-icon"></span>
                      Any
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-12 text-center start-search">
                <a href="#" class="el-btn">START SEARCHING</a>
                <h5>365 25</h5>
                <span>active members</span>
              </div>

            </div>
            <!-- End sidebar -->

            <!-- Begin content -->
            <div class="content">
              <div class="mod-content">
                <div class="row">
                  <div class="col-sm-4 item-cast">
                    <h3>Casting call</h3>
                    <p>Find  members <br>for a specific project</p>
                    <a href="#" class="el-btn">SELECT</a>
                  </div>
                  <div class="col-sm-4 item-cast">
                    <h3>Travel Notice</h3>
                    <p>Connect with other members <br> while traveling</p>
                    <a href="#" class="el-btn">SELECT</a>
                  </div>
                  <div class="col-sm-4 item-cast">
                    <h3>Availability Notice</h3>
                    <p>Post your availability <br>to be considered for local projects</p>
                    <a href="#" class="el-btn">SELECT</a>
                  </div>
                </div>
              </div>
              <div class="mod-content none-overflov">
                <div class="row">
                  <div class="col-sm-6 col-md-7">
                    <form action="#" class="search">
                      <input type="text" placeholder="Search">
                    </form>
                  </div>
                  <div class="col-md-5 sort-wrap">
                    <span>Sort By</span>
                    <select class="ui dropdown">
                      <option value="">Select</option>
                      <option value="1">Select 1</option>
                      <option value="0">Select 2</option>
                    </select>
                    <ul class="sort">
                      <li><a href="#"><svg><use xlink:href="#icon-sort-1"></use></svg></a></li>
                      <li><a href="#"><svg><use xlink:href="#icon-sort-2"></use></svg></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="mod-content mod-browse">
                <div class="row">
                  <h2 class="title-page">SEARCH RESULTS</h2>
                </div>
                <div class="casting-item row">
                  <div class="col-sm-8">
                    <div class="media-left">
                      <div class="user-pick">
                        <img src="images/img1.jpg" alt="">
                      </div>
                      <div class="user">
                        <div class="user-name">Emily Larson</div>
                        <div class="user-prof">MUA, of the creative type needed, In Utrecht Now!</div>
                        <ul class="user-info">
                          <li><svg><use xlink:href="#icon-sye"></use></svg>Looking for: <span>Make up Artists.</span></li>
                          <li><svg><use xlink:href="#icon-location"></use></svg>Location: <span>Turkey, Istanbul.</span></li>
                          <li><svg><use xlink:href="#icon-cub"></use></svg>Rate: <span>$100.</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="media-right">
                      <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>13.08.2016 - 28.08.2016</div>
                      <div class="btn-wrap">
                        <a href="#test-modal" class="el-btn bg-none js-modal-casting">READ MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="casting-item row">
                  <div class="col-sm-8">
                    <div class="media-left">
                      <div class="user-pick">
                        <img src="images/img1.jpg" alt="">
                      </div>
                      <div class="user">
                        <div class="user-name">Emily Larson</div>
                        <div class="user-prof">MUA, of the creative type needed, In Utrecht Now!</div>
                        <ul class="user-info">
                          <li><svg><use xlink:href="#icon-sye"></use></svg>Looking for: <span>Make up Artists.</span></li>
                          <li><svg><use xlink:href="#icon-location"></use></svg>Location: <span>Turkey, Istanbul.</span></li>
                          <li><svg><use xlink:href="#icon-cub"></use></svg>Rate: <span>$100.</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="media-right">
                      <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>13.08.2016 - 28.08.2016</div>
                      <div class="btn-wrap">
                        <a href="#test-modal" class="el-btn bg-none js-modal-casting">READ MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="casting-item row">
                  <div class="col-sm-8">
                    <div class="media-left">
                      <div class="user-pick">
                        <img src="images/img1.jpg" alt="">
                      </div>
                      <div class="user">
                        <div class="user-name">Emily Larson</div>
                        <div class="user-prof">MUA, of the creative type needed, In Utrecht Now!</div>
                        <ul class="user-info">
                          <li><svg><use xlink:href="#icon-sye"></use></svg>Looking for: <span>Make up Artists.</span></li>
                          <li><svg><use xlink:href="#icon-location"></use></svg>Location: <span>Turkey, Istanbul.</span></li>
                          <li><svg><use xlink:href="#icon-cub"></use></svg>Rate: <span>$100.</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="media-right">
                      <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>13.08.2016 - 28.08.2016</div>
                      <div class="btn-wrap">
                        <a href="#test-modal" class="el-btn bg-none js-modal-casting">READ MORE</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="casting-item row">
                  <div class="col-sm-8">
                    <div class="media-left">
                      <div class="user-pick">
                        <img src="images/img1.jpg" alt="">
                      </div>
                      <div class="user">
                        <div class="user-name">Emily Larson</div>
                        <div class="user-prof">MUA, of the creative type needed, In Utrecht Now!</div>
                        <ul class="user-info">
                          <li><svg><use xlink:href="#icon-sye"></use></svg>Looking for: <span>Make up Artists.</span></li>
                          <li><svg><use xlink:href="#icon-location"></use></svg>Location: <span>Turkey, Istanbul.</span></li>
                          <li><svg><use xlink:href="#icon-cub"></use></svg>Rate: <span>$100.</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="media-right">
                      <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>13.08.2016 - 28.08.2016</div>
                      <div class="btn-wrap">
                        <a href="#test-modal" class="el-btn bg-none js-modal-casting">READ MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="casting-item row">
                  <div class="col-sm-8">
                    <div class="media-left">
                      <div class="user-pick">
                        <img src="images/img1.jpg" alt="">
                      </div>
                      <div class="user">
                        <div class="user-name">Emily Larson</div>
                        <div class="user-prof">MUA, of the creative type needed, In Utrecht Now!</div>
                        <ul class="user-info">
                          <li><svg><use xlink:href="#icon-sye"></use></svg>Looking for: <span>Make up Artists.</span></li>
                          <li><svg><use xlink:href="#icon-location"></use></svg>Location: <span>Turkey, Istanbul.</span></li>
                          <li><svg><use xlink:href="#icon-cub"></use></svg>Rate: <span>$100.</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="media-right">
                      <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>13.08.2016 - 28.08.2016</div>
                      <div class="btn-wrap">
                        <a href="#test-modal" class="el-btn bg-none js-modal-casting">READ MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="casting-item row">
                  <div class="col-sm-8">
                    <div class="media-left">
                      <div class="user-pick">
                        <img src="images/img1.jpg" alt="">
                      </div>
                      <div class="user">
                        <div class="user-name">Emily Larson</div>
                        <div class="user-prof">MUA, of the creative type needed, In Utrecht Now!</div>
                        <ul class="user-info">
                          <li><svg><use xlink:href="#icon-sye"></use></svg>Looking for: <span>Make up Artists.</span></li>
                          <li><svg><use xlink:href="#icon-location"></use></svg>Location: <span>Turkey, Istanbul.</span></li>
                          <li><svg><use xlink:href="#icon-cub"></use></svg>Rate: <span>$100.</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="media-right">
                      <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>13.08.2016 - 28.08.2016</div>
                      <div class="btn-wrap">
                        <a href="#test-modal" class="el-btn bg-none js-modal-casting">READ MORE</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- End content -->
          </div>
        </div>
      </div>

    </div>

    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->

    <!-- Begin modal -->
    <include src="../chunks/modal.html"></include>
    <!-- End modal -->

  </div>

  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>

</html>
