<include src="../chunks/head.html"></include>
</head>

<body>
  <!-- Begin svg -->
  <include src="../chunks/svg.html"></include>
  <!-- End svg -->
  <div id="page-wrapper" class="page-wrapper">

    <!-- Begin header -->
    <include src="../chunks/header.html"></include>
    <!-- End header -->

    <div id="page-body" class="page-body">

      <div class="container">
        <div class="row">
          <div class="col-md-12 content-page">
            <!-- Begin sidebar -->
            <div class="sidebar">
              <div class="user-img" style="background-image: url(images/img1.jpg);"></div>
              <div class="user-name">
                Alexis Connor Photographer
              </div>

              <div class="location"><svg><use xlink:href="#icon-location"></use></svg> Los Angeles, USA</div>
              <a href="dribbble.com/DeniseKing" class="site" target="_blank"><svg><use xlink:href="#icon-site"></use></svg>dribbble.com/DeniseKing</a>
              <div class="text-center">
                <ul class="social">
                  <li><a href="#"><svg><use xlink:href="#icon-soc-1"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-2"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-3"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-4"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-5"></use></svg></a></li>
                </ul>
              </div>
              <div class="folow">
                <div class="folow-item">
                  <div class="number">
                    1,286
                  </div>
                  <div class="name">followers</div>
                  <a href="#" class="el-btn">FOLLOW</a>
                </div>
                <div class="folow-item">
                  <div class="number">
                    86
                  </div>
                  <div class="name">following</div>
                  <a href="#send-message" class="el-btn js-modal-link">MESSAGE</a>
                </div>
              </div>
              <ul class="categiry">
                <li><a href="index.html">Overview</a></li>
                <li><a href="about-my.html">About me</a></li>
                <li><a href="followers.html">Followers</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="video.html">Video</a></li>
                <li class="active"><a href="castings.html">CASTINGS</a></li>
              </ul>
            </div>
            <!-- End sidebar -->

            <!-- Begin content -->
            <div class="content">
              <div class="castings-content mod-content">
                <div class="row">

                  <h2 class="title-page">CASTINGS</h2>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="uppercase">All CASTINGS <span>3</span></h3>
                  </div>
                </div>
                <div class="casting-item row">
                  <div class="col-sm-8">
                    <div class="media-left">
                      <div class="user-pick">
                        <img src="images/img1.jpg" alt="">
                      </div>
                      <div class="user">
                        <div class="user-name">Emily Larson</div>
                        <div class="user-prof">MUA, of the creative type needed, In Utrecht Now!</div>
                        <ul class="user-info">
                          <li><svg><use xlink:href="#icon-sye"></use></svg>Looking for: <span>Make up Artists.</span></li>
                          <li><svg><use xlink:href="#icon-location"></use></svg>Location: <span>Turkey, Istanbul.</span></li>
                          <li><svg><use xlink:href="#icon-cub"></use></svg>Rate: <span>$100.</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="media-right">
                      <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>13.08.2016 - 28.08.2016</div>
                      <div class="btn-wrap">
                        <a href="#test-modal" class="el-btn bg-none js-modal-casting">READ MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="casting-item row">
                  <div class="col-sm-8">
                    <div class="media-left">
                      <div class="user-pick">
                        <img src="images/img1.jpg" alt="">
                      </div>
                      <div class="user">
                        <div class="user-name">Emily Larson</div>
                        <div class="user-prof">MUA, of the creative type needed, In Utrecht Now!</div>
                        <ul class="user-info">
                          <li><svg><use xlink:href="#icon-sye"></use></svg>Looking for: <span>Make up Artists.</span></li>
                          <li><svg><use xlink:href="#icon-location"></use></svg>Location: <span>Turkey, Istanbul.</span></li>
                          <li><svg><use xlink:href="#icon-cub"></use></svg>Rate: <span>$100.</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="media-right">
                      <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>13.08.2016 - 28.08.2016</div>
                      <div class="btn-wrap">
                        <a href="#test-modal" class="el-btn bg-none js-modal-casting">READ MORE</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="casting-item row">
                  <div class="col-sm-8">
                    <div class="media-left">
                      <div class="user-pick">
                        <img src="images/img1.jpg" alt="">
                      </div>
                      <div class="user">
                        <div class="user-name">Emily Larson</div>
                        <div class="user-prof">MUA, of the creative type needed, In Utrecht Now!</div>
                        <ul class="user-info">
                          <li><svg><use xlink:href="#icon-sye"></use></svg>Looking for: <span>Make up Artists.</span></li>
                          <li><svg><use xlink:href="#icon-location"></use></svg>Location: <span>Turkey, Istanbul.</span></li>
                          <li><svg><use xlink:href="#icon-cub"></use></svg>Rate: <span>$100.</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="media-right">
                      <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>13.08.2016 - 28.08.2016</div>
                      <div class="btn-wrap">
                        <a href="#test-modal" class="el-btn bg-none js-modal-casting">READ MORE</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- End content -->
          </div>
        </div>
      </div>

    </div>


    <div class="modal" id="test-modal" style="display: none;">
        <div class="title">
            <h2>PAID Lingerie/Intimates Shoot for Fashion Book</h2>
            <a class="icon-close" href="javascript:jQuery.fancybox.close();"><svg><use xlink:href="#icon-close"></use></svg></a>
        </div>

        <div class="content-modal">
            <div class="content__bg" style="background: url(images/casting-call.jpg);">
                <div class="content__info">
                    <div class="btn-wrap">
                        <a href="#" class="el-btn bg-none">APPLY</a>
                    </div>
                    <h2>PAID Lingerie/Intimates Shoot for Fashion Book</h2>
                    <ul class="user-info">
                        <li><svg><use xlink:href="#icon-location"></use></svg> <span>USA, Chicago</span></li>
                        <li><svg><use xlink:href="#icon-sye"></use></svg><span>Models</span></li>
                        <li><svg><use xlink:href="#icon-cub"></use></svg><span>$500</span></li>
                    </ul>
                </div>
            </div>
            <div class="content__body">
                <p class="content__info_desc">We are looking for great looking models who are willing to forgame roles for fantasy world</p>
                <ul class="list-photos owl-carousel">
                    <li><a href="images/portfolio/img-1.jpg"> <img src="images/portfolio/img-1.jpg" alt=""></a></li>
                    <li><a href="images/portfolio/img-2.jpg"><img src="images/portfolio/img-2.jpg" alt=""></a></li>
                    <li><a href="images/portfolio/img-3.jpg"><img src="images/portfolio/img-3.jpg" alt=""></a></li>
                    <li><a href="images/portfolio/img-3.jpg"><img src="images/portfolio/img-3.jpg" alt=""></a></li>
                </ul>
                <h3>Details:</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of usin</p>
                <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'</p>
                <p>will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some </p>
                <div class="content-footer">
                    <div class="user-wrap">
                        <div class="titl-motal">
                            PHOTO BY
                        </div>
                        <div class="item-owner">
                            <div class="user-pick">
                                <img src="images/img-13.jpg" alt="">
                            </div>
                            <div class="user">
                                <a href="#" class="user-name">Emily Larson</a>
                                <div class="user-prof">Model</div>
                                <ul class="user-info">
                                    <li><svg><use xlink:href="#icon-location"></use></svg><span>Kyiv, Ukraine</span></li>
                                </ul>
                            </div>
                        </div>
                        <ul class="infos">
                            <li><svg><use xlink:href="#icon-sye"></use></svg><strong>View: </strong><span>158</span></li>
                            <li><svg><use xlink:href="#icon-comment"></use></svg><strong>Comments: </strong><span>9</span></li>
                        </ul>
                        <ul class="tags">
                            <li><a href="#">#model</a></li>
                            <li><a href="#">#fashion</a></li>
                            <li><a href="#">#boy</a></li>
                            <li><a href="#">#girl</a></li>
                        </ul>
                        <ul class="share">
                            <li><a href="#"><svg><use xlink:href="#icon-soc-1"></use></svg></a></li>
                            <li><a href="#"><svg><use xlink:href="#icon-soc-2"></use></svg></a></li>
                            <li><a href="#"><svg><use xlink:href="#icon-soc-4"></use></svg></a></li>
                        </ul>
                    </div>
                    <div class="comment">
                        <div class="titl-motal">
                            Comments
                        </div>
                        <ul class="list-comment">
                            <li>
                                <div class="user-pick">
                                    <img src="images/img-13.jpg" alt="">
                                </div>
                                <div class="wrap-info">
                                    <a href="#" class="user-name">
                                        Anna Lambrechts
                                        <span class="time">
                                            Yesterday at 17:09
                                        </span>
                                    </a>
                                    <div class="user-coment">
                                        Amazing photo
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-pick">
                                    <img src="images/img-13.jpg" alt="">
                                </div>
                                <div class="wrap-info">
                                    <a href="#" class="user-name">
                                        Anna Lambrechts
                                        <span class="time">
                                            Yesterday at 17:09
                                        </span>
                                    </a>
                                    <div class="user-coment">
                                        Amazing photo
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="user-pick">
                                    <img src="images/img-13.jpg" alt="">
                                </div>
                                <div class="wrap-info">
                                    <form class="#" action="#" method="post">
                                        <input type="text" name="mess" value="" placeholder="Comment...">
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->

    <!-- Begin modal -->
    <include src="../chunks/modal.html"></include>
    <!-- End modal -->

  </div>

  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>

</html>
