<include src="../chunks/head.html"></include>
</head>

<body>
<!-- Begin svg -->
<include src="../chunks/svg.html"></include>
<!-- End svg -->
<div id="page-wrapper" class="page-wrapper">

    <!-- Begin header -->
    <include src="../chunks/header.html"></include>
    <!-- End header -->

    <div id="page-body" class="page-body">
        <div class="wrap-home-slider">
            <div class="home-slider owl-carousel">
                <div class="item" style="background-image: url('images/home.jpg')"></div>
                <div class="item" style="background-image: url('images/home1.jpg')"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>fashion<span>jam</span></h1>
                        <ul class="btn-wrap-home">
                            <li><a class="el-btn" href="#">LOG IN</a></li>
                            <li><a class="el-btn" href="#">SIGN UP</a></li>
                            <li><a class="el-btn mod-fb" href="#"><img src="images/fb.png" alt="" > Continue with FACEBOOK</a></li>
                        </ul>
                        <h3>welcome to the world fashion network</h3>
                        <h4>Photo by Antony Manson</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 home-page">

                    <!-- Begin content -->
                    <div class="content">
                        <div class="wrap-posts js-posts">
                            <div class="grid-sizer"></div>
                            <div class="item-post-wrap">
                                <div class="item-post">
                                    <div class="item-post-header">
                                        <div class="user-post">
                                            <a href="#" class="user-img">
                                                <img src="images/img1.jpg" alt="">
                                            </a>
                                            <div class="text-wrp">
                                                <div class="name">Denise King</div>
                                                <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                                            </div>

                                        </div>
                                        <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                                    </div>
                                    <div class="item-post-content">
                                        <a href="#" class="title-post">Looking for models to Snapshot style Fashion and Editorial</a>
                                        <p>The majority have suffered alteration in some form, by injected humour</p>
                                        <a class="img-post" href="#">
                                            <img src="images/img11.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="item-post-foot">
                                        <ul class="dops-inf">
                                            <li class="location"><svg><use xlink:href="#icon-location"></use></svg>Los Angeles, USA</li>
                                            <li class="price"><svg><use xlink:href="#icon-price"></use></svg>$8000</li>
                                            <li class="time"><svg><use xlink:href="#icon-time"></use></svg>30.06.16</li>
                                        </ul>
                                        <ul class="activity">

                                            <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                                            <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item-post-wrap">
                                <div class="item-post">
                                    <div class="item-post-header">
                                        <div class="user-post">
                                            <a href="#" class="user-img">
                                                <img src="images/img1.jpg" alt="">
                                            </a>
                                            <div class="text-wrp">
                                                <div class="name">Denise King</div>
                                                <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                                            </div>

                                        </div>
                                        <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                                    </div>
                                    <div class="item-post-content">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                                    </div>
                                    <div class="item-post-foot">

                                        <ul class="activity">

                                            <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                                            <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item-post-wrap">
                                <div class="item-post">
                                    <div class="item-post-header">
                                        <div class="user-post">
                                            <a href="#" class="user-img">
                                                <img src="images/img1.jpg" alt="">
                                            </a>
                                            <div class="text-wrp">
                                                <div class="name">Denise King</div>
                                                <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                                            </div>

                                        </div>
                                        <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                                    </div>
                                    <div class="item-post-content">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text</p>

                                        <a class="img-post video" href="#">
                                            <img src="images/img8.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="item-post-foot">
                                        <ul class="activity">

                                            <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                                            <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item-post-wrap">
                                <div class="item-post">
                                    <div class="item-post-header">
                                        <div class="user-post">
                                            <a href="#" class="user-img">
                                                <img src="images/img1.jpg" alt="">
                                            </a>
                                            <div class="text-wrp">
                                                <div class="name">Denise King</div>
                                                <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                                            </div>

                                        </div>
                                        <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                                    </div>
                                    <div class="item-post-content">
                                        <a href="#" class="title-post">Looking for models to Snapshot style Fashion and Editorial</a>
                                        <p>The majority have suffered alteration in some form, by injected humour</p>

                                        <a class="img-post event" href="#">
                                            <img src="images/img9.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="item-post-foot">
                                        <ul class="dops-inf">
                                            <li class="location"><svg><use xlink:href="#icon-location"></use></svg>Los Angeles, USA</li>
                                            <li class="price"><svg><use xlink:href="#icon-price"></use></svg>$8000</li>
                                            <li class="time"><svg><use xlink:href="#icon-time"></use></svg>30.06.16</li>
                                        </ul>
                                        <ul class="activity">

                                            <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                                            <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item-post-wrap">
                                <div class="item-post">
                                    <div class="item-post-header">
                                        <div class="user-post">
                                            <a href="#" class="user-img">
                                                <img src="images/img1.jpg" alt="">
                                            </a>
                                            <div class="text-wrp">
                                                <div class="name">Denise King</div>
                                                <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                                            </div>

                                        </div>
                                        <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                                    </div>
                                    <div class="item-post-content">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                                    </div>
                                    <div class="item-post-foot">

                                        <ul class="activity">

                                            <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                                            <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item-post-wrap">
                                <div class="item-post">
                                    <div class="item-post-header">
                                        <div class="user-post">
                                            <a href="#" class="user-img">
                                                <img src="images/img1.jpg" alt="">
                                            </a>
                                            <div class="text-wrp">
                                                <div class="name">Denise King</div>
                                                <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                                            </div>

                                        </div>
                                        <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                                    </div>
                                    <div class="item-post-content">
                                        <a href="#" class="title-post">Looking for models to Snapshot style Fashion and Editorial</a>
                                        <p>The majority have suffered alteration in some form, by injected humour</p>

                                        <a class="img-post" href="#">
                                            <img src="images/img10.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="item-post-foot">

                                        <ul class="activity">

                                            <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                                            <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End content -->
                </div>
            </div>
        </div>

    </div>

    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->

    <!-- Begin modal -->
    <include src="../chunks/modal.html"></include>
    <!-- End modal -->

</div>

<!-- Begin script -->
<include src="../chunks/scripts.html"></include>
<!-- End script -->
</body>

</html>
