<include src="../chunks/head.html"></include>
</head>

<body>
  <!-- Begin svg -->
  <include src="../chunks/svg.html"></include>
  <!-- End svg -->
  <div id="page-wrapper" class="page-wrapper">

    <!-- Begin header -->
    <include src="../chunks/header.html"></include>
    <!-- End header -->

    <div id="page-body" class="page-body">

      <div class="container">
        <div class="row">
          <div class="col-md-12 content-page">
            <!-- Begin sidebar -->
            <div class="sidebar">
              <div class="user-img" style="background-image: url(images/img1.jpg);"></div>
              <div class="user-name">
                Alexis Connor Photographer
              </div>

              <div class="location"><svg><use xlink:href="#icon-location"></use></svg> Los Angeles, USA</div>
              <a href="dribbble.com/DeniseKing" class="site" target="_blank"><svg><use xlink:href="#icon-site"></use></svg>dribbble.com/DeniseKing</a>
              <div class="text-center">
                <ul class="social">
                  <li><a href="#"><svg><use xlink:href="#icon-soc-1"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-2"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-3"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-4"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-5"></use></svg></a></li>
                </ul>
              </div>
              <div class="folow">
                <div class="folow-item">
                  <div class="number">
                    1,286
                  </div>
                  <div class="name">followers</div>
                  <a href="#" class="el-btn">FOLLOW</a>
                </div>
                <div class="folow-item">
                  <div class="number">
                    86
                  </div>
                  <div class="name">following</div>
                  <a href="#send-message" class="el-btn js-modal-link">MESSAGE</a>
                </div>
              </div>
              <ul class="categiry">
                <li class="active"><a href="index.html">Overview</a></li>
                <li><a href="about-my.html">About me</a></li>
                <li><a href="followers.html">Followers</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="video.html">Video</a></li>
                <li><a href="castings.html">CASTINGS</a></li>
              </ul>
            </div>
            <!-- End sidebar -->

            <!-- Begin content -->
            <div class="content">
              <div class="colection-top">
                <div class="wrap-sm">
                  <div class="colection-item">
                    <img src="images/img2.jpg" alt="">
                  </div>
                  <div class="colection-item">
                    <img src="images/img3.jpg" alt="">
                  </div>
                </div>
                <div class="wrap-md">
                  <div class="colection-item">
                    <img src="images/img1.jpg" alt="">
                  </div>
                </div>

                <div class="wrap-md">
                  <div class="colection-item mod-sm">
                    <img src="images/img4.jpg" alt="">
                  </div>
                  <div class="colection-item mod-sm">
                    <img src="images/img5.jpg" alt="">
                  </div>
                  <div class="colection-item mod-sm">
                    <img src="images/img6.jpg" alt="">
                  </div>
                  <div class="colection-item mod-sm">
                    <img src="images/img7.jpg" alt="">
                  </div>
                </div>

              </div>

              <div class="add-new-post">
                <form action="#">
                  <input type="text" name="post" placeholder="WHATS NEW">
                  <a href="#" class="plus"><svg><use xlink:href="#icon-plus"></use></svg></a>
                  <button class="el-btn" type="submit">POST</button>
                </form>
              </div>

              <div class="wrap-posts js-posts">
                <div class="grid-sizer"></div>
                <div class="item-post-wrap">
                  <div class="item-post">
                    <div class="item-post-header">
                      <div class="user-post">
                        <a href="#" class="user-img">
                          <img src="images/img1.jpg" alt="">
                        </a>
                        <div class="text-wrp">
                          <div class="name">Denise King</div>
                          <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                        </div>

                      </div>
                      <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                    </div>
                    <div class="item-post-content">
                      <a href="#" class="title-post">Looking for models to Snapshot style Fashion and Editorial</a>
                      <p>The majority have suffered alteration in some form, by injected humour</p>
                      <a class="img-post" href="#">
                        <img src="images/img11.jpg" alt="">
                      </a>
                    </div>
                    <div class="item-post-foot">
                      <ul class="dops-inf">
                        <li class="location"><svg><use xlink:href="#icon-location"></use></svg>Los Angeles, USA</li>
                        <li class="price"><svg><use xlink:href="#icon-price"></use></svg>$8000</li>
                        <li class="time"><svg><use xlink:href="#icon-time"></use></svg>30.06.16</li>
                      </ul>
                      <ul class="activity">

                        <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                        <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item-post-wrap">
                  <div class="item-post">
                    <div class="item-post-header">
                      <div class="user-post">
                        <a href="#" class="user-img">
                          <img src="images/img1.jpg" alt="">
                        </a>
                        <div class="text-wrp">
                          <div class="name">Denise King</div>
                          <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                        </div>

                      </div>
                      <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                    </div>
                    <div class="item-post-content">
                      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                    </div>
                    <div class="item-post-foot">

                      <ul class="activity">

                        <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                        <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item-post-wrap">
                  <div class="item-post">
                    <div class="item-post-header">
                      <div class="user-post">
                        <a href="#" class="user-img">
                          <img src="images/img1.jpg" alt="">
                        </a>
                        <div class="text-wrp">
                          <div class="name">Denise King</div>
                          <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                        </div>

                      </div>
                      <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                    </div>
                    <div class="item-post-content">
                      <p>Contrary to popular belief, Lorem Ipsum is not simply random text</p>

                      <a class="img-post video" href="#">
                        <img src="images/img8.jpg" alt="">
                      </a>
                    </div>
                    <div class="item-post-foot">
                      <ul class="activity">

                        <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                        <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item-post-wrap">
                  <div class="item-post">
                    <div class="item-post-header">
                      <div class="user-post">
                        <a href="#" class="user-img">
                          <img src="images/img1.jpg" alt="">
                        </a>
                        <div class="text-wrp">
                          <div class="name">Denise King</div>
                          <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                        </div>

                      </div>
                      <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                    </div>
                    <div class="item-post-content">
                      <a href="#" class="title-post">Looking for models to Snapshot style Fashion and Editorial</a>
                      <p>The majority have suffered alteration in some form, by injected humour</p>

                      <a class="img-post event" href="#">
                        <img src="images/img9.jpg" alt="">
                      </a>
                    </div>
                    <div class="item-post-foot">
                      <ul class="dops-inf">
                        <li class="location"><svg><use xlink:href="#icon-location"></use></svg>Los Angeles, USA</li>
                        <li class="price"><svg><use xlink:href="#icon-price"></use></svg>$8000</li>
                        <li class="time"><svg><use xlink:href="#icon-time"></use></svg>30.06.16</li>
                      </ul>
                      <ul class="activity">

                        <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                        <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item-post-wrap">
                  <div class="item-post">
                    <div class="item-post-header">
                      <div class="user-post">
                        <a href="#" class="user-img">
                          <img src="images/img1.jpg" alt="">
                        </a>
                        <div class="text-wrp">
                          <div class="name">Denise King</div>
                          <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                        </div>

                      </div>
                      <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                    </div>
                    <div class="item-post-content">
                      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                    </div>
                    <div class="item-post-foot">

                      <ul class="activity">

                        <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                        <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item-post-wrap">
                  <div class="item-post">
                    <div class="item-post-header">
                      <div class="user-post">
                        <a href="#" class="user-img">
                          <img src="images/img1.jpg" alt="">
                        </a>
                        <div class="text-wrp">
                          <div class="name">Denise King</div>
                          <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                        </div>

                      </div>
                      <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                    </div>
                    <div class="item-post-content">
                      <a href="#" class="title-post">Looking for models to Snapshot style Fashion and Editorial</a>
                      <p>The majority have suffered alteration in some form, by injected humour</p>

                      <a class="img-post" href="#">
                        <img src="images/img10.jpg" alt="">
                      </a>
                    </div>
                    <div class="item-post-foot">

                      <ul class="activity">

                        <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                        <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End content -->
          </div>
        </div>
      </div>

    </div>

    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->

    <!-- Begin modal -->
    <include src="../chunks/modal.html"></include>
    <!-- End modal -->

  </div>

  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>

</html>
