<include src="../chunks/head.html"></include>
</head>

<body>
  <!-- Begin svg -->
  <include src="../chunks/svg.html"></include>
  <!-- End svg -->
  <div id="page-wrapper" class="page-wrapper">

    <!-- Begin header -->
    <include src="../chunks/header.html"></include>
    <!-- End header -->

    <div id="page-body" class="page-body">

      <div class="container">
        <div class="row">
          <div class="col-md-12 content-page">
            <!-- Begin sidebar -->
            <div class="sidebar">
              <div class="user-img" style="background-image: url(images/img1.jpg);"></div>
              <div class="user-name">
                Alexis Connor Photographer
              </div>

              <div class="location"><svg><use xlink:href="#icon-location"></use></svg> Los Angeles, USA</div>
              <a href="dribbble.com/DeniseKing" class="site" target="_blank"><svg><use xlink:href="#icon-site"></use></svg>dribbble.com/DeniseKing</a>
              <div class="text-center">
                <ul class="social">
                  <li><a href="#"><svg><use xlink:href="#icon-soc-1"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-2"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-3"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-4"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-5"></use></svg></a></li>
                </ul>
              </div>
              <div class="folow">
                <div class="folow-item">
                  <div class="number">
                    1,286
                  </div>
                  <div class="name">followers</div>
                  <a href="#" class="el-btn">FOLLOW</a>
                </div>
                <div class="folow-item">
                  <div class="number">
                    86
                  </div>
                  <div class="name">following</div>
                  <a href="#send-message" class="el-btn js-modal-link">MESSAGE</a>
                </div>
              </div>
              <ul class="categiry">
                <li><a href="index.html">Overview</a></li>
                <li><a href="about-my.html">About me</a></li>
                <li class="active"><a href="followers.html">Followers</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="video.html">Video</a></li>
                <li><a href="castings.html">CASTINGS</a></li>
              </ul>
            </div>
            <!-- End sidebar -->

            <!-- Begin content -->
            <div class="content">
              <div class="mod-content">
                <div class="row">
                  <h2 class="title-page">NOTIFICATIONS</h2>
                </div>
                <div class="row">
                  <ul class="col-md-12 tabs-head">
                    <li><a href="#">RECENT ACTIVITY</a></li>
                  </ul>
                </div>
                <div class="notific-content">
                    <div class="item-notific">
                      <div class="img">
                        <div class="user-pick">
                          <img src="images/img-12.jpg" alt="">
                        </div>
                        <span class="like icons"></span>
                      </div>
                      <div class="text-wrap">
                        <div class="name">
                          <a href="#" class="user-name"><span>Emily Larson</span></a> evaluated <b>5</b> Your records
                        </div>
                        <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>minute ago</div>
                      </div>
                      <div class="item-img">
                        <a href="#" class="img-wrap" style="background-image: url(images/img1.jpg);"></a>
                      </div>
                    </div>
                    <div class="item-notific">
                      <div class="img">
                        <div class="user-pick">
                          <img src="images/img-13.jpg" alt="">
                        </div>
                        <span class="delete icons"></span>
                      </div>
                      <div class="text-wrap">
                        <div class="name">
                          <a href="#" class="user-name"><span>Kathryn Garcia</span></a> accepted Your application to friends
                        </div>
                        <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>minute ago</div>
                      </div>
                      <div></div>
                    </div>
                    <div class="item-notific">
                      <div class="img">
                        <div class="user-pick">
                          <img src="images/img-14.jpg" alt="">
                        </div>
                        <span class="shar icons"></span>
                      </div>
                      <div class="text-wrap">
                        <div class="name">
                          <a href="#" class="user-name"><span>Marie Roberts</span></a> commented on Your photo
                        </div>
                        <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>minute ago</div>
                      </div>
                      <div class="item-img">
                        <a href="#" class="img-wrap" style="background-image: url(images/img2.jpg);"></a>
                      </div>
                    </div>
                    <div class="item-notific">
                      <div class="img">
                        <div class="user-pick">
                          <img src="images/img-16.jpg" alt="">
                        </div>
                        <span class="add icons"></span>
                      </div>
                      <div class="text-wrap">
                        <div class="name">
                          <a href="#" class="user-name"><span>Elizabeth Day</span></a> applied to friends
                        </div>
                        <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>minute ago</div>
                      </div>
                      <div></div>
                    </div>
                    <div class="item-notific">
                      <div class="img">
                        <div class="user-pick">
                          <img src="images/img-12.jpg" alt="">
                        </div>
                        <span class="like icons"></span>
                      </div>
                      <div class="text-wrap">
                        <div class="name">
                          <a href="#" class="user-name"><span>Emily Larson</span></a> evaluated <b>5</b> Your records
                        </div>
                        <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>minute ago</div>
                      </div>
                      <div class="item-img">
                        <a href="#" class="img-wrap" style="background-image: url(images/img1.jpg);"></a>
                      </div>
                    </div>
                    <div class="item-notific">
                      <div class="img">
                        <div class="user-pick">
                          <img src="images/img-13.jpg" alt="">
                        </div>
                        <span class="delete icons"></span>
                      </div>
                      <div class="text-wrap">
                        <div class="name">
                          <a href="#" class="user-name"><span>Kathryn Garcia</span></a> accepted Your application to friends
                        </div>
                        <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>minute ago</div>
                      </div>
                      <div></div>
                    </div>
                    <div class="item-notific">
                      <div class="img">
                        <div class="user-pick">
                          <img src="images/img-14.jpg" alt="">
                        </div>
                        <span class="shar icons"></span>
                      </div>
                      <div class="text-wrap">
                        <div class="name">
                          <a href="#" class="user-name"><span>Marie Roberts</span></a> commented on Your photo
                        </div>
                        <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>minute ago</div>
                      </div>
                      <div class="item-img">
                        <a href="#" class="img-wrap" style="background-image: url(images/img2.jpg);"></a>
                      </div>
                    </div>
                    <div class="item-notific">
                      <div class="img">
                        <div class="user-pick">
                          <img src="images/img-16.jpg" alt="">
                        </div>
                        <span class="add icons"></span>
                      </div>
                      <div class="text-wrap">
                        <div class="name">
                          <a href="#" class="user-name"><span>Elizabeth Day</span></a> applied to friends
                        </div>
                        <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>minute ago</div>
                      </div>
                      <div></div>
                    </div>
                </div>
              </div>

            </div>
            <!-- End content -->
          </div>
        </div>
      </div>

    </div>

    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->

    <!-- Begin modal -->
    <include src="../chunks/modal.html"></include>
    <!-- End modal -->

  </div>

  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>

</html>
