<include src="../chunks/head.html"></include>
</head>

<body>
  <!-- Begin svg -->
  <include src="../chunks/svg.html"></include>
  <!-- End svg -->
  <div id="page-wrapper" class="page-wrapper">

    <!-- Begin header -->
    <include src="../chunks/header.html"></include>
    <!-- End header -->

    <div id="page-body" class="page-body">

      <div class="container">
        <div class="row">
          <div class="col-md-12 content-page">
            <!-- Begin sidebar -->
            <div class="sidebar">
              <div class="user-img" style="background-image: url(images/img1.jpg);"></div>
              <div class="user-name">
                Alexis Connor Photographer
              </div>

              <div class="location"><svg><use xlink:href="#icon-location"></use></svg> Los Angeles, USA</div>
              <a href="dribbble.com/DeniseKing" class="site" target="_blank"><svg><use xlink:href="#icon-site"></use></svg>dribbble.com/DeniseKing</a>
              <div class="text-center">
                <ul class="social">
                  <li><a href="#"><svg><use xlink:href="#icon-soc-1"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-2"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-3"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-4"></use></svg></a></li>
                  <li><a href="#"><svg><use xlink:href="#icon-soc-5"></use></svg></a></li>
                </ul>
              </div>
              <div class="folow">
                <div class="folow-item">
                  <div class="number">
                    1,286
                  </div>
                  <div class="name">followers</div>
                  <a href="#" class="el-btn">FOLLOW</a>
                </div>
                <div class="folow-item">
                  <div class="number">
                    86
                  </div>
                  <div class="name">following</div>
                  <a href="#send-message" class="el-btn js-modal-link">MESSAGE</a>
                </div>
              </div>
              <ul class="categiry">
                <li><a href="index.html">Overview</a></li>
                <li><a href="about-my.html">About me</a></li>
                <li><a href="followers.html">Followers</a></li>
                <li class="active"><a href="portfolio.html">Portfolio</a></li>
                <li><a href="video.html">Video</a></li>
                <li><a href="castings.html">CASTINGS</a></li>
              </ul>
            </div>
            <!-- End sidebar -->

            <!-- Begin content -->
            <div class="content">
              <div class="mod-content portfolio">
                <div class="row">
                  <h2 class="title-page">PORTFOLIO</h2>
                </div>
                <div class="row">
                  <ul class="col-md-12 tabs-head">
                    <li><a href="#">All images <span>32</span></a></li>
                    <li><a href="#">Albums</a></li>
                  </ul>
                  <div class="portfolio-wrap">

                    <a href="ajax.php" data-fancybox-type="ajax" data-id="17" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/17.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="1" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/1.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="2" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/2.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="3" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/3.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="4" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/4.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="5" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/5.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="6" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/6.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="7" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/7.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="8" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/8.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="9" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/9.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="10" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/10.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="11" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/11.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="12" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/12.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="13" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/13.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="14" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/14.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="15" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/15.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="16" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/16.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="17" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/17.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="18" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/18.jpg" alt="img">
                      </span>
                    </a>
                    <a href="ajax.php" data-fancybox-type="ajax" data-id="19" class="item-portfolio">
                      <span class="img-wrap">
                        <img src="images/portfolio/19.jpg" alt="img">
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End content -->
          </div>
        </div>
      </div>

    </div>

    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->

    <!-- Begin modal -->
    <include src="../chunks/modal.html"></include>
    <!-- End modal -->

  </div>

  <!-- Begin script -->
  <include src="../chunks/scripts.html"></include>
  <!-- End script -->
</body>

</html>
