<include src="../chunks/head.html"></include>
</head>

<body>
<!-- Begin svg -->
<include src="../chunks/svg.html"></include>
<!-- End svg -->
<div id="page-wrapper" class="page-wrapper">

    <!-- Begin header -->
    <include src="../chunks/header.html"></include>
    <!-- End header -->

    <div id="page-body" class="page-body">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <div class="colection-top mod-full">
                      <div class="wrap-md">
                          <div class="colection-item mod-sm">
                              <img src="images/portfolio/1.jpg" alt="">
                          </div>
                          <div class="colection-item mod-sm">
                              <img src="images/portfolio/2.jpg" alt="">
                          </div>
                          <div class="colection-item mod-sm">
                              <img src="images/portfolio/3.jpg" alt="">
                          </div>
                          <div class="colection-item mod-sm">
                              <img src="images/portfolio/4.jpg" alt="">
                          </div>
                      </div>
                      <div class="wrap-md">
                          <div class="colection-item">
                              <img src="images/portfolio/8.jpg" alt="">
                          </div>
                      </div>

                      <div class="wrap-lg">
                          <div class="colection-item mod-sm">
                              <img src="images/portfolio/6.jpg" alt="">
                          </div>
                          <div class="colection-item mod-sm">
                              <img src="images/portfolio/7.jpg" alt="">
                          </div>
                          <div class="colection-item mod-sm">
                              <img src="images/portfolio/5.jpg" alt="">
                          </div>
                          <div class="colection-item mod-sm">
                              <img src="images/portfolio/9.jpg" alt="">
                          </div>
                          <div class="colection-item mod-sm">
                              <img src="images/portfolio/10.jpg" alt="">
                          </div>
                          <div class="colection-item mod-sm">
                              <img src="images/portfolio/11.jpg" alt="">
                          </div>
                      </div>

                  </div>
                </div>
                <div class="col-md-12 content-page mod-right">

                    <!-- Begin content -->
                    <div class="content">
                        <div class="wrap-filter">
                          <ul class="first-filt">
                            <li class="active"><a href="#">Global News</a></li>
                            <li><a href="#">Followed</a></li>
                          </ul>
                          <ul class="two-filt">
                            <li class="active"><a href="#">Show All</a></li>
                            <li><a href="#">Only Photos</a></li>
                            <li><a href="#">Only Videos</a></li>
                            <li><a href="#">ONLY PROJECTS</a></li>
                          </ul>
                        </div>
                        <div class="wrap-posts js-posts">
                            <div class="grid-sizer"></div>
                            <div class="item-post-wrap">
                                <div class="item-post">
                                    <div class="item-post-header">
                                        <div class="user-post">
                                            <a href="#" class="user-img">
                                                <img src="images/img1.jpg" alt="">
                                            </a>
                                            <div class="text-wrp">
                                                <div class="name">Denise King</div>
                                                <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                                            </div>

                                        </div>
                                        <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                                    </div>
                                    <div class="item-post-content">
                                        <a href="#" class="title-post">Looking for models to Snapshot style Fashion and Editorial</a>
                                        <p>The majority have suffered alteration in some form, by injected humour</p>
                                        <a class="img-post" href="#">
                                            <img src="images/img11.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="item-post-foot">
                                        <ul class="dops-inf">
                                            <li class="location"><svg><use xlink:href="#icon-location"></use></svg>Los Angeles, USA</li>
                                            <li class="price"><svg><use xlink:href="#icon-price"></use></svg>$8000</li>
                                            <li class="time"><svg><use xlink:href="#icon-time"></use></svg>30.06.2016</li>
                                        </ul>
                                        <ul class="activity">
                                            <li><a class="like" href="#"><svg><use xlink:href="#icon-like"></use></svg></a></li>
                                            <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                                            <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item-post-wrap">
                                <div class="item-post">
                                    <div class="item-post-header">
                                        <div class="user-post">
                                            <a href="#" class="user-img">
                                                <img src="images/img1.jpg" alt="">
                                            </a>
                                            <div class="text-wrp">
                                                <div class="name">Denise King</div>
                                                <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                                            </div>

                                        </div>
                                        <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                                    </div>
                                    <div class="item-post-content">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                                    </div>
                                    <div class="item-post-foot">

                                        <ul class="activity">
                                            <li><a class="like" href="#"><svg><use xlink:href="#icon-like"></use></svg></a></li>
                                            <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                                            <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item-post-wrap">
                                <div class="item-post">
                                    <div class="item-post-header">
                                        <div class="user-post">
                                            <a href="#" class="user-img">
                                                <img src="images/img1.jpg" alt="">
                                            </a>
                                            <div class="text-wrp">
                                                <div class="name">Denise King</div>
                                                <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                                            </div>

                                        </div>
                                        <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                                    </div>
                                    <div class="item-post-content">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text</p>

                                        <a class="img-post video" href="#">
                                            <img src="images/img8.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="item-post-foot">
                                        <ul class="activity">
                                            <li><a class="like" href="#"><svg><use xlink:href="#icon-like"></use></svg></a></li>
                                            <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                                            <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item-post-wrap">
                                <div class="item-post">
                                    <div class="item-post-header">
                                        <div class="user-post">
                                            <a href="#" class="user-img">
                                                <img src="images/img1.jpg" alt="">
                                            </a>
                                            <div class="text-wrp">
                                                <div class="name">Denise King</div>
                                                <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                                            </div>

                                        </div>
                                        <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                                    </div>
                                    <div class="item-post-content">
                                        <a href="#" class="title-post">Looking for models to Snapshot style Fashion and Editorial</a>
                                        <p>The majority have suffered alteration in some form, by injected humour</p>

                                        <a class="img-post event" href="#">
                                            <img src="images/img9.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="item-post-foot">
                                        <ul class="dops-inf">
                                            <li class="location"><svg><use xlink:href="#icon-location"></use></svg>Los Angeles, USA</li>
                                            <li class="price"><svg><use xlink:href="#icon-price"></use></svg>$8000</li>
                                            <li class="time"><svg><use xlink:href="#icon-time"></use></svg>30.06.2016</li>
                                        </ul>
                                        <ul class="activity">
                                            <li><a class="like" href="#"><svg><use xlink:href="#icon-like"></use></svg></a></li>
                                            <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                                            <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item-post-wrap">
                                <div class="item-post">
                                    <div class="item-post-header">
                                        <div class="user-post">
                                            <a href="#" class="user-img">
                                                <img src="images/img1.jpg" alt="">
                                            </a>
                                            <div class="text-wrp">
                                                <div class="name">Denise King</div>
                                                <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                                            </div>

                                        </div>
                                        <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                                    </div>
                                    <div class="item-post-content">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                                    </div>
                                    <div class="item-post-foot">

                                        <ul class="activity">
                                            <li><a class="like" href="#"><svg><use xlink:href="#icon-like"></use></svg></a></li>
                                            <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                                            <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item-post-wrap">
                                <div class="item-post">
                                    <div class="item-post-header">
                                        <div class="user-post">
                                            <a href="#" class="user-img">
                                                <img src="images/img1.jpg" alt="">
                                            </a>
                                            <div class="text-wrp">
                                                <div class="name">Denise King</div>
                                                <div class="data"><svg><use xlink:href="#icon-calendar"></use></svg>30.06.2016</div>
                                            </div>

                                        </div>
                                        <a class="like" href="#">876 <span><svg><use xlink:href="#icon-like"></use></svg></span></a>
                                    </div>
                                    <div class="item-post-content">
                                        <a href="#" class="title-post">Looking for models to Snapshot style Fashion and Editorial</a>
                                        <p>The majority have suffered alteration in some form, by injected humour</p>

                                        <a class="img-post" href="#">
                                            <img src="images/img10.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="item-post-foot">

                                        <ul class="activity">
                                            <li><a class="like" href="#"><svg><use xlink:href="#icon-like"></use></svg></a></li>
                                            <li><a class="comment" href="#"><svg><use xlink:href="#icon-comment"></use></svg></a></li>
                                            <li><a class="share" href="#"><svg><use xlink:href="#icon-share"></use></svg></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End content -->

                    <div class="sidebar">
                      <div class="section-sidebar">
                        <h2 class="title-sidebar">Popular Users</h2>
                        <ul class="user-list">
                          <li><a class="user-pick" href="#"><img src="images/img-12.jpg" alt=""></a></li>
                          <li><a class="user-pick" href="#"><img src="images/img-12.jpg" alt=""></a></li>
                          <li><a class="user-pick" href="#"><img src="images/img-12.jpg" alt=""></a></li>
                          <li><a class="user-pick" href="#"><img src="images/img-12.jpg" alt=""></a></li>
                          <li><a class="user-pick" href="#"><img src="images/img-12.jpg" alt=""></a></li>
                          <li><a class="user-pick" href="#"><img src="images/img-12.jpg" alt=""></a></li>
                        </ul>
                      </div>
                      <div class="section-sidebar">
                        <h2 class="title-sidebar">Videos </h2>
                        <div class="portfolio">
                          <a href="ajax-video.php" data-fancybox-type="ajax" data-id="id" class="item-video">
                            <span class="img-wrap">
                              <img src="images/video/1.png" alt="img">
                            </span>
                            <span class="name">My magic in my paint</span>
                          </a>
                        </div>
                      </div>
                      <div class="section-sidebar">
                        <h2 class="title-sidebar">Popular projeCts</h2>
                        <ul class="list-projects">
                          <li><a href="#" class="pick"><img src="images/img-12.jpg" alt=""></a> <span>MUA, of the creative type needed, In Utrecht Now!</span></li>
                          <li><a href="#" class="pick"><img src="images/img-12.jpg" alt=""></a> <span>PAID Lingerie/Intimates Shoot for Fashion Book</span></li>
                          <li><a href="#" class="pick"><img src="images/img-12.jpg" alt=""></a> <span>Sexy Model Needed For Las Vegas Bar and Nightclub Trade Show.</span></li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Begin footer -->
    <include src="../chunks/footer.html"></include>
    <!-- End footer -->

    <!-- Begin modal -->
    <include src="../chunks/modal.html"></include>
    <!-- End modal -->

</div>

<!-- Begin script -->
<include src="../chunks/scripts.html"></include>
<!-- End script -->
</body>

</html>
