@font-face 
    font-family: "OpenSans"
    src: url("../fonts/OpenSans/OpenSans-Light.eot"), url("../fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Light.svg#OpenSans-Light") format("svg")
    font-weight: 300
    font-style: normal

@font-face 
    font-family: "OpenSans"
    src: url("../fonts/OpenSans/OpenSans.eot"), url("../fonts/OpenSans/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans.woff") format("woff"), url("../fonts/OpenSans/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans.svg#OpenSans") format("svg")
    font-weight: normal
    font-style: normal

@font-face
    font-family: "OpenSans"
    src: url("../fonts/OpenSans/OpenSans-Semibold.eot"), url("../fonts/OpenSans/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg")
    font-weight: 600
    font-style: normal

@font-face
    font-family: "OpenSans"
    src: url("../fonts/OpenSans/OpenSans-Bold.eot"), url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold") format("svg")
    font-weight: bold
    font-style: normal

@font-face
    font-family: "Xenia-Bold"
    src: url("../fonts/Xenia-Bold/Xenia-Bold.eot"), url("../fonts/Xenia-Bold/Xenia-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Xenia-Bold/Xenia-Bold.woff2") format("woff2"), url("../fonts/Xenia-Bold/Xenia-Bold.woff") format("woff"), url("../fonts/Xenia-Bold/Xenia-Bold.ttf") format("truetype"), url("../fonts/Xenia-Bold/Xenia-Bold.svg#Xenia-Bold") format("svg")
    font-weight: bold
    font-style: normal

@font-face 
    font-family: "LevenimMT"
    src: url("../fonts/LevenimMT/LevenimMT.eot"), url("../fonts/LevenimMT/LevenimMT.eot?#iefix") format("embedded-opentype"),  url("../fonts/LevenimMT/LevenimMT.woff2") format("woff2"), url("../fonts/LevenimMT/LevenimMT.woff") format("woff"), url("../fonts/LevenimMT/LevenimMT.ttf") format("truetype"), url("../fonts/LevenimMT/LevenimMT.svg#LevenimMT") format("svg")
    font-weight: 400
    font-style: normal