// header
//----------------------------------------------------------------------------------
.header
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 99
	background-color: #191919
	color: white
	padding: 10px 0
	height: 50px
	box-sizing: border-box
	.col-xs-10
		@media (max-width: $screen-xs-max)
			padding-left: 0

	.more
		float: left
		height: 32px
		width: 8px
		display: inline-block
		margin-right: 15px

		svg
			width: 8px
			height: 32px
			fill: white
			margin-top: -2px
			transform: scale(0.6)

	.burger
		float: right
		display: none
		height: 30px
		line-height: 29px
		text-decoration: none
		margin-right: 0
		margin-left: 10px

		@media (max-width: $screen-sm-max)
			display: inline-block

		&:hover
			text-decoration: none

			svg
				fill: white

		svg
			transition: all 0.2s
			vertical-align: middle
			width: 22px
			height: 15px
			fill: #bebebe
			fill-rule: evenodd

	.user
		float: right
		display: inline-block
		text-decoration: none
		margin-right: 40px
		@media (max-width: $screen-md-max)
			margin-right: 30px
		@media (max-width: $screen-xs-max)
			margin-right: 20px

		&:hover
			text-decoration: none

		.wrap-img
			float: left
			margin-right: 20px
			display: inline-block
			width: 30px
			height: 30px
			border-radius: 100%
			overflow: hidden
			@media (max-width: $screen-xs-max)
				margin-right: 10px

			img
				width: 100%
				height: auto

		.name
			display: inline-block
			font-size: 12px
			line-height: 30px
			color: white
			font-weight: bold
			text-overflow: ellipsis
			white-space: nowrap
			overflow: hidden
			max-width: 90px


	.activity
		@extend %clear-fix

		float: right
		display: inline-block

		li
			float: left
			height: 30px

			a
				position: relative
				height: 30px
				line-height: 30px
				display: inline-block
				text-decoration: none
				margin-right: 6px

				&:hover
					text-decoration: none

			span
				position: absolute
				right: -6px
				top: 0
				display: inline-block
				width: 14px
				height: 14px
				line-height: 15px
				text-align: center
				background-color: $color-pure
				border-radius: 100%
				color: white
				font-size: 9px
				font-weight: 400
				vertical-align: top

			svg
				transition: all 0.2s

			.message
				margin-right: 35px
				@media (max-width: $screen-xs-max)
					margin-right: 20px
				svg
					vertical-align: middle
					width: 20px
					height: 16px
					fill: #bebebe

				&:hover
					svg
						fill: white

			.notification
				margin-right: 15px
				@media (max-width: $screen-xs-max)
					margin-right: 10px

				svg
					vertical-align: middle
					width: 19px
					height: 21px
					fill: #bebebe

				&:hover
					svg
						fill: white

	.search
		float: left
		position: relative
		padding: 0
		height: 24px
		line-height: 24px
		box-sizing: border-box
		width: 285px
		margin-top: 3px
		padding-right: 55px
		border-left: 1px solid rgba(white, 0.5)

		@media (max-width: $screen-md-max)
			width: 250px


		@media (max-width: $screen-sm-max)
			width: 100%
			max-width: 720px
			display: block
			margin: 15px auto 0
			float: none
			border: 1px solid rgba(white, 0.5)
			height: 35px
			line-height: 32px

		input
			color: white
			font-family: $gotham
			font-size: 11px
			font-weight: 300
			line-height: 20px
			padding-left: 10px
			text-transform: uppercase
			background: none
			border: none
			margin-top: -3px

			&:-webkit-input-placeholder
				color: rgba(white, 0.2)

			&:-moz-placeholder
				color: rgba(white, 0.2)

			&:-moz-placeholder
				color: rgba(white, 0.2)

			&:-ms-input-placeholder
				color: rgba(white, 0.2)

		.btn
			position: absolute
			right: 35px
			top: 6px
			color: white
			@media (max-width: $screen-sm-max)
				right: 12px

			&:hover
				svg
					fill: $color-pure

			svg
				fill: white
				width: 15px
				height: 16px
				margin-top: -2px
				transition: all 0.2s

	.des-hide
		display: none

		@media (max-width: $screen-md-max)
			display: inline-block
			width: 5%
		@media (max-width: $screen-sm-max)
			width: 16.66667%

	.mob-hidden
		@extend %clear-fix
		&.js-active
			display: block !important
		@media (max-width: $screen-md-max)
			width: 69.66667%
		@media (max-width: $screen-sm-max)
			display: none
			background-color: rgba(black, 0.9)

			position: absolute
			left: 0
			right: 0
			top: 50px
			width: auto

	.navigation
		height: 30px
		line-height: 28px
		@media (max-width: $screen-sm-max)
			width: 100%
			max-width: 720px
			display: block
			margin: 0 auto
			float: none
			height: auto


		ul
			@extend %clear-fix
			@media (max-width: $screen-sm-max)
				margin: 25px 0px
		li
			float: left
			margin-right: 30px
			@media (max-width: $screen-sm-max)
				width: 100%

			&:last-child
				margin-right: 0
			&.active
				a
					color: white

		a
			text-transform: uppercase
			color: #bebebe
			font-family: $gotham
			font-size: 12px
			font-weight: 500
			line-height: 20px
			transition: all 0.2s

			&:hover
				color: white
				text-decoration: none
