// modal
//-----------------------------------------------------------------------------------
.fancybox-inner
	position: static
	margin-right: -15px
	padding-right: 15px

.fancybox-close
	display: none !important

.modal
	min-width: 810px
	max-width: 810px
	width: 100%
	overflow: hidden
	padding-right: 5px
	// display: none

	@media (max-width: $screen-md-max)
		max-width: 810px
		width: 100%
		min-width: 680px

	@media (max-width: $screen-xs-max)
		min-width: 100%

	.title
		h2
			display: block
			color: black
			font-family: $gotham
			font-size: 14px
			font-weight: 500
			margin: 0 0 15px
			padding: 0 30px 15px 0
			border-bottom: 1px solid rgba(black, 0.1)

		.icon-close
			position: absolute
			right: 0
			top: 0
			z-index: 2
			width: 13px
			height: 13px
			display: inline-block
			svg
				width: 100%
				height: 100%

	.content-modal
		@extend %clear-fix

		width: 100%
		height: auto
		margin-bottom: 15px

	iframe
		width: 100%
		height: 455px
		@media (max-width: $screen-xs-max)
			height: 220px !important

	img
		width: 100%
		height: auto

	.btn-wrap .el-btn.bg-none
		@media (max-width: $screen-xs-max)
			padding: 0 20px

	h2
		margin-right: 120px
		color: #ff0169
		font-family: $gotham
		font-size: 22px
		font-weight: 500
		line-height: 28px
		margin-bottom: 15px
		@media (max-width: $screen-xs-max)
			font-size: 14px
			margin-right: 90px
			line-height: 20px

	h3
		color: black
		font-family: $gotham
		font-size: 16px
		font-weight: 600
		line-height: 24px
	p
		color: black
		font-family: $gotham
		font-size: 12px
		font-weight: 400
		line-height: 22px
		margin-bottom: 12px

	.list-photos
		@extend %clear-fix

		margin-left: -7px
		margin-top: 25px
		padding-top: 25px
		margin-bottom: 25px
		border-top: 1px solid rgba(black, 0.1)

		li
			float: left
			width: 33.3333%
			display: inline-block
			box-sizing: border-box
			padding-left: 7px

		img
			width: 100%
			height: auto

	.btn-wrap
		float: right

	.user-info
		li
			color: black
			font-family: $gotham
			font-size: 13px
			line-height: 19px
			font-weight: 600

		span
			font-weight: 400

		svg
			margin-right: 7px
			width: 13px
			height: 12px
			display: inline-block
			vertical-align: middle
			margin-top: -2px

	.content-footer
		@extend %clear-fix

	.comment
		float: left
		width: 70%
		box-sizing: border-box
		padding-right: 15px

		@media (max-width: $screen-md-max)
			width: 65%

		@media (max-width: $screen-xs-max)
			width: 100%
			float: none
			margin-top: 15px

		.user-pick
			display: inline-block
			width: 45px
			height: 45px
			border-radius: 100% !important
			overflow: hidden

		img
			width: 100%
			height: 100%
			border-radius: 100% !important

	.list-comment
		padding-bottom: 10px

		li
			@extend %clear-fix

			position: relative
			border-bottom: 1px solid rgba(black, 0.1)
			padding-top: 20px
			padding-bottom: 20px

		&:last-child
			border-bottom: none

		.user-pick
			position: absolute
			left: 0
			top: 15px
			margin-right: 15px

		.wrap-info
			display: block
			margin-left: 60px

		form
			padding-top: 8px
			width: 100%

			input
				width: 100%
				color: black
				font-family: $gotham
				font-size: 12px
				font-weight: 500
				border: none
				box-shadow: none
				background-color: transparent

			.user-name
				@extend %clear-fix

				color: black
				font-family: $gotham
				font-size: 14px
				font-weight: 600
				width: 100%

			.time
				float: right
				opacity: 0.7
				color: black
				font-family: $gotham
				font-size: 11px
				font-weight: 400

			.user-coment
				margin-top: 10px
				color: black
				font-family: $gotham
				font-size: 13px
				font-weight: 500

	.user-wrap
		float: right
		width: 30%
		box-sizing: border-box

		@media (max-width: $screen-md-max)
			width: 35%

		@media (max-width: $screen-xs-max)
			width: 100%
			float: none

		.user-pick
			position: absolute
			top: 12px
			left: 14px
			display: inline-block
			width: 60px
			height: 60px
			border-radius: 100% !important
			overflow: hidden

		img
			width: 100%
			height: 100%
			border-radius: 100% !important

	.titl-motal
		color: black
		font-family: $gotham
		font-size: 14px
		font-weight: 500
		line-height: 22px
		text-transform: uppercase
		padding-bottom: 10px
		border-bottom: 1px solid rgba(black, 0.1)

	.item-owner
		position: relative
		@extend %clear-fix
		background-color: rgba(black, 0.1)
		min-height: 85px
		padding: 15px 0px
		box-sizing: border-box

		.user
			margin-left: 90px
			float: left

		.user-name
			color: black
			font-family: $gotham
			font-size: 13px
			font-weight: 600

		.user-prof
			color: #ff0169
			font-family: $gotham
			font-size: 13px
			font-weight: 600
			line-height: 22px

		.user-info
			li
				color: black
				font-family: $gotham
				font-size: 13px
				line-height: 19px
				font-weight: 600

			span
				font-weight: 400

			svg
				margin-right: 7px
				width: 13px
				height: 12px
				display: inline-block
				vertical-align: middle
				margin-top: -2px

	.infos
		margin-top: 18px

		li
			color: black
			font-family: $gotham
			font-size: 12px
			line-height: 20px

		span
			font-weight: 400

		strong
			font-weight: 600

		svg
			width: 14px
			height: 11px
			margin-right: 10px
			vertical-align: middle

	.tags
		@extend %clear-fix
		margin-top: 15px

		li
			float: left
			margin-right: 2px

			&:last-child
				margin-right: 0

		a
			color: #919191
			font-family: $gotham
			font-size: 12px
			font-weight: 500

	.share
		@extend %clear-fix
		margin-top: 15px

		li
			float: left
			margin-right: 12px

		&:last-child
			margin-right: 0

		a:hover
			svg
				fill: $color-pure

		svg
			width: 25px
			height: 25px
			fill: #919191

.modall-register 
	max-width: 300px
	min-width: 270px
	display: none
	padding: 0
	.registration-form__title
		text-align: left
	&__label
		text-align: left
		font-size: 14px
		line-height: 40px
		color: black

	.icon-close 
		top: 10px
		right: 10px 

	.title 
		background-color: white
		border-radius: 8px 8px 0 0
		@media (max-width: $screen-xs-max) 
			margin-right: 0 

		h2 
			padding-top: 15px
			text-align: center
			color: black
			font-family: $gotham
			padding-left: 20px
			padding-right: 20px
			font-weight: 500
			padding-bottom: 15px
			span 
				display: block
				color: #ff0169
				font-family: $gotham
				font-size: 12px
				font-weight: 500	 

	.content-modal 
		padding: 0 24px 15px
		box-sizing: border-box
		text-align: center
		@media (max-width: $screen-xs-max) 
			padding: 0px 15px 10px 
	.terms 
		margin-bottom: 20px 
	.or 
		padding-top: 10px 
	.el-btn 
		width: 100%

		&.mod-fb 
			text-align: left
			background-color: #3b5998
			border-color: #3b5998
			padding-left: 12px
			padding-right: 12px
			text-transform: none
		img 
			margin-bottom: 4px
			width: auto
			vertical-align: middle
			margin-right: 12px		 



.modall-message
	max-width: 440px
	min-width: 270px
	display: none
	.title
		background-color: white
		margin-right: -5px
		border-radius: 8px 8px 0 0
		@media (max-width: $screen-xs-max)
			margin-right: 0

	.icon-close
		top: 10px
		right: 10px

	h2
		padding-top: 15px
		text-align: center
		color: black
		font-family: $gotham
		font-size: 19px
		padding-left: 30px
		font-weight: 500
	span
		display: block
		color: #ff0169
		font-family: $gotham
		font-size: 12px
		font-weight: 500

	.content-modal
		padding: 0 30px 15px
		box-sizing: border-box
		@media (max-width: $screen-xs-max)
			padding: 0px 15px 10px

	form
		position: relative
	.img
		position: absolute
		top: 0
		left: 0
		.user-pick
			display: inline-block
			width: 80px
			height: 80px
			border-radius: 100%
			overflow: hidden
			vertical-align: middle

		@media (max-width: $screen-xs-max)
			display: block
			width: 50px
			height: 50px

		img
			width: 100%
			height: auto
	.form
		width: 100%
		padding-left: 95px
		box-sizing: border-box
		@media (max-width: $screen-xs-max)
			padding-left: 65px
		.btn-wrap
			@extend %clear-fix
			width: 100%
			@media (max-width: $screen-xs-max)
				text-align: center

		.p
			float: left
			margin-top: 10px
			color: black
			font-family: $gotham
			font-size: 11px
			font-weight: 500
			@media (max-width: $screen-xs-max)
				float: none
				text-align: center
				margin-top: 0

		.el-btn
			float: right
			@media (max-width: $screen-xs-max)
				float: none
				margin-top: 10px
	textarea
		margin-bottom: 15px
		width: 100%
		height: 150px
		background-color: white
		border: 1px solid #bebebe
		border-radius: 2px
		padding: 6px 10px
		box-sizing: border-box
		color: black
		font-family: $gotham
		font-size: 13px
		line-height: 20px
		vertical-align: middle
		font-weight: 400
		resize: none