// index/home page
//-----------------------------------------------------------------------------------
.wrap-home-slider
  position: relative
  margin-bottom: 15px
  margin-top: -15px
  height: 770px
  width: 100%
  text-align: center
  padding-top: 280px
  box-sizing: border-box
  @media (max-width: $screen-sm-max)
    height: 500px
    padding-top: 130px
  @media (max-width: $screen-xs-max)
    height: auto
    padding-top: 80px
    padding-bottom: 60px
  .owl-nav
    @extend %clear-fix
    position: absolute
    top: 50%
    left: 0
    right: 0
    margin-top: -17px

  .owl-prev, .owl-next
    display: inline-block
    width: 19px
    height: 34px
    background-position: center
    background-repeat: no-repeat

  .owl-prev
    float: left
    margin-left: 15px
    background-image: url("../images/a-l.svg")

  .owl-next
    float: right
    margin-right: 15px
    background-image: url("../images/a-r.svg")
  

  .home-slider
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0

    .owl-stage-outer
      height: 100%

    .owl-stage
      height: 100%

    .owl-item
      height: 100%

    .item
      width: 100%
      height: 100%
      position: relative
      background-repeat: no-repeat
      background-position: center
      background-size: cover

  &:after
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    content: ''
    background-color: rgba(black, 0.2)

  .col-md-12
    position: static

  h1
    position: relative
    z-index: 1
    margin-bottom: 25px
    font-size: 156px
    font-weight: 400
    line-height: 1
    color: #ffffff
    font-family: $levenim
    @media (max-width: $screen-sm-max)
      font-size: 120px
    @media (max-width: $screen-xs-max)
      font-size: 50px

    span
      color: $color-pure
      font-family: $xenia
      font-weight: bold

  h3
    position: relative
    z-index: 1
    color: #ffffff
    font-family: $gotham
    font-size: 27px
    font-weight: 300
    line-height: 29px

  h4
    z-index: 1
    position: absolute
    bottom: 10px
    left: 0
    right: 0
    margin: 0 auto
    color: #ffffff
    font-family: $gotham
    font-size: 13px
    font-weight: 500
    line-height: 20px
    display: block


  .btn-wrap-home
    position: relative
    z-index: 1
    @extend %clear-fix
    display: inline-block
    margin-bottom: 25px
    li
      float: left
      margin-right: 25px
      @media (max-width: $screen-xs-max)
        float: none
        margin-right: 0
        margin-bottom: 10px
      &:last-child
        margin-right: 0
  .el-btn
    &.mod-fb
      background-color: #3b5998
      border-color: #3b5998
      padding-left: 12px
      padding-right: 12px
      text-transform: none
      img
        margin-bottom: 4px
        vertical-align: middle
        margin-right: 12px
.home-page
  position: relative
  min-height: 100%

  .content
    padding-left: 0
    display: block
    margin: 0 auto
    max-width: 790px


.main-box
  display: flex
.content-page
  min-height: 1100px
  //display: flex

  &.mod-right
    min-height: 100vh
    display: flex

    .sidebar
      right: 15px
      background: none
      box-shadow: none

      @media (max-width: $screen-md-max)
        background: white
        box-shadow: 0 20px 30px rgba(black, 0.3)
    .posts-wall 
        width: calc(100% - 245px)
    .content
      @extend %clear-fix
      padding-right: 15px
      margin-left: 0
      padding-left: 0

      @media (max-width: $screen-md-max)
        margin-right: 0
        padding-right: 0

.overflow
  opacity: 0
  visibility: hidden
  position: fixed
  z-index: 1
  top: 0
  left: 0
  width: 100%
  height: 100%
  cursor: pointer
  background-color: rgba(black, 0.3)
  transition: all 0.2s

  &.js-active
    opacity: 1
    visibility: visible

.list-projects
  li
    @extend %clear-fix

    position: relative
    height: 52px
    margin-bottom: 15px
    line-height: 52px

    &:last-child
      margin-bottom: 0

    .pick
      position: absolute
      left: 0
      top: 0
      width: 50px
      height: 50px
      border-radius: 100%
      overflow: hidden
      margin-right: 12px

    span
      color: #000
      font-family: $gotham
      font-size: 12px
      font-weight: 700
      line-height: 17px
      margin-left: 62px
      display: inline-block
      vertical-align: middle

.wrap-filter
  @extend %clear-fix

  width: 100%
  box-sizing: border-box
  padding-left: 260px
  position: relative
  margin-bottom: 15px
  @media (max-width: $screen-xs-max)
    padding-left: 0

  ul
    @extend %clear-fix

    float: left
    box-shadow: 1px 2px 5px rgba(0, 0, 1, 0.08)
    border-radius: 3px
    background-color: #fff
    padding: 0 25px
    box-sizing: border-box

    li
      float: left
      margin-right: 24px

      &:last-child
        margin-right: 0

      &.active
        a
          color: #000
          &:after
            position: absolute
            bottom: 0
            left: -8px
            right: -8px
            content: ''
            height: 4px
            background-color: $color-pure

      a
        position: relative
        line-height: 40px
        vertical-align: middle
        display: inline-block
        text-decoration: none
        color: #919191
        font-family: $gotham
        font-size: 12px
        font-weight: 700
        text-transform: uppercase


  .two-filt
    width: 100%

  .first-filt
    width: 245px
    margin-right: 15px
    position: absolute
    left: 0
    top: 0
    @media (max-width: $screen-xs-max)
      position: static
      width: 100%
      margin-bottom: 15px

.user-list
  @extend %clear-fix

  li
    float: left
    margin-right: 15px
    margin-bottom: 4px

    &:nth-child(3n)
      margin-right: 0

  .user-pick
    width: 60px
    height: 60px
    display: inline-block
    border-radius: 100%
    overflow: hidden

    img
      border-radius: 100%
      overflow: hidden

.sidebar
  border-radius: 3px 3px 0 0
  position: static
  //overflow: hidden
  //top: 0
  //bottom: 0
  width: 245px
  background-color: white
  box-shadow: 1px 2px 5px rgba(0, 0, 1, 0.08)
  height: 100%
  @media (max-width: $screen-md-max)
    transition: all 0.2s
    transform: translateX(-300px)
    position: fixed
    top: 50px
    left: 0
    overflow-y: auto
    border-radius: 0
    z-index: 3
    box-shadow: 0 20px 30px rgba(black, 0.3)

    &.js-active
      transform: translateX(0px)

  .portfolio
    padding: 0
    margin-bottom: -5px

    .item-video
      width: 100%
      float: none
      padding: 0

      .img-wrap::after
        height: 127px

      .name
        bottom: 0
        left: 0
        right: 0

  .section-sidebar
    border-radius: 3px
    background-color: #fff
    margin-bottom: 15px
    padding: 15px
    box-sizing: border-box
    box-shadow: 1px 2px 5px rgba(0, 0, 1, 0.08)

    .title-sidebar
      margin-bottom: 12px
      color: #22202b
      font-family: $gotham
      font-size: 13px
      font-weight: 700
      line-height: 20px
      text-transform: uppercase

  .user-img
    width: 100%
    height: 245px
    background-position: center
    background-repeat: no-repeat
    background-size: cover

  .user-name
    font-size: 16px
    color: black
    font-weight: 600
    margin: 15px 15px 10px

  .location
    display: inline-block
    line-height: 20px
    margin-left: 15px
    font-size: 12px
    font-weight: 400
    margin-bottom: 5px

    svg
      vertical-align: middle
      width: 11px
      height: 14px
      fill: black
      margin-right: 10px

  .site
    display: inline-block
    font-size: 12px
    font-weight: 400
    margin-left: 15px
    line-height: 20px
    text-decoration: underline
    margin-bottom: 10px

    &:hover
      text-decoration: none

    svg
      vertical-align: middle
      width: 13px
      height: 13px
      fill: black
      margin-right: 13px

  .social
    @extend %clear-fix

    display: inline-block
    // margin-top: 2px
    // margin-bottom: 8px

    li
      float: left
      display: inline-block
      margin-right: 15px

      &:last-child
        margin-right: 0

    a
      display: inline-block

      svg
        width: 30px
        height: 30px

  .folow
    @extend %clear-fix

    margin-bottom: 18px
    width: 100%
    box-sizing: border-box
    position: relative

    &::before
      position: absolute
      left: 50%
      top: 0
      margin-left: -1px
      width: 1px
      height: 45px
      background-color: #d8d8d8
      display: inline-block
      content: ""

  .folow-item
    text-align: center
    float: left
    width: 50%
    box-sizing: border-box

    .number
      color: black
      font-size: 22px
      line-height: 22px
      font-weight: 600

    .name
      color: black
      font-size: 14px
      line-height: 22px
      font-weight: 400
      margin-bottom: 14px

  .categiry
    margin-bottom: 20px

    li
      display: block

      &.active
        background-color: #ededed

      &:hover
        background-color: #eee

    a
      width: 100%
      display: block
      line-height: 40px
      padding: 0 15px
      text-transform: uppercase
      color: black
      font-size: 14px
      font-weight: 400

      &:hover
        text-decoration: none

.content
  @extend %clear-fix
  box-sizing: border-box
  padding-left: 15px
  width: calc(100% - 245px)

  @media (max-width: $screen-md-max)
    margin-left: 0
    padding-left: 0

.colection-top
  @extend %clear-fix

  width: 100%
  margin-bottom: 15px
  border-radius: 3px
  overflow: hidden
  font-size: 0
  background-color: white

  &.mod-full
    .wrap-md
      width: 28.571%

    .wrap-lg
      width: 42.8565%
      float: left

      .colection-item
        &.mod-sm
          width: 33.3333%

.wrap-md
  width: 40%
  float: left

  @extend %clear-fix
  
  .colection-item
    height: 300px
    
.wrap-sm
  width: 20%
  float: left

  @extend %clear-fix

.colection-item
  width: 100%
  display: inline-block
  background-position: center
  background-repeat: no-repeat
  background-size: cover

  //img
    //display: none

  &.mod-sm
    width: 50%
    height: auto
    height: 150px
  *
.add-new-post
  @extend %clear-fix

  box-shadow: 1px 2px 5px rgba(0, 0, 1, 0.08)
  padding: 8px
  box-sizing: border-box
  width: 100%
  margin-bottom: 15px
  border-radius: 3px
  overflow: hidden
  background-color: white

  form
    height: 32px
    position: relative
    padding-right: 172px

  input
    height: 32px
    line-height: 32px
    width: 100%
    box-sizing: border-box
    border: none
    background-color: white
    padding: 0 10px
    font-size: 12px
    font-weight: 600

  .plus
    display: inline-block
    position: absolute
    right: 112px
    top: 0
    width: 30px
    height: 30px
    line-height: 28px
    text-align: center

    &:hover
      svg
        fill: $color-pure

    svg
      vertical-align: middle
      width: 16px
      height: 16px
      fill: #919191
      transition: all 0.2s

  .el-btn
    position: absolute
    right: 0
    top: 0
    width: 100px

.wrap-posts
  @extend %clear-fix

  position: relative
  margin-left: -15px
  &.mod-two
    .grid-sizer
      width: 50%

      @media (max-width: $screen-md-max)
        width: 50%

      @media (max-width: $screen-xs-max)
        width: 100%

    .item-post-wrap
      width: 50%

      @media (max-width: $screen-md-max)
        width: 50%

      @media (max-width: $screen-xs-max)
        width: 100%

.grid-sizer
  width: 33.33%

  @media (max-width: $screen-md-max)
    width: 50%

  @media (max-width: $screen-xs-max)
    width: 100%

.item-post-wrap
  box-sizing: border-box
  width: 33.33%
  float: left
  display: inline-block
  padding-left: 15px

  @media (max-width: $screen-md-max)
    width: 50%

  @media (max-width: $screen-xs-max)
    width: 100%
    text-align: center

.item-post
  box-sizing: border-box
  margin-bottom: 15px
  border-radius: 3px
  overflow: hidden
  background-color: white
  box-shadow: 1px 2px 5px rgba(0, 0, 1, 0.08)

  @media (max-width: $screen-xs-max)
    text-align: left
    max-width: 360px
    width: 100%
    display: inline-block

.item-post-header
  @extend %clear-fix

  padding-top: 15px
  padding-right: 15px

  .user-post
    @extend %clear-fix

    display: inline-block
    padding-left: 15px

  .user-img
    display: inline-block
    width: 40px
    height: 40px
    overflow: hidden
    border-radius: 100%
    margin-right: 6px
    float: left

    img
      width: 100%
      height: auto

  .text-wrp
    float: left

  .name
    color: black
    font-size: 12px
    font-weight: 600
    margin: 3px 0 3px

  .data
    color: black
    font-size: 11px
    font-weight: 400
    line-height: 12px
    opacity: 0.6

    svg
      margin-top: -3px
      display: inline-block
      width: 10px
      height: 11px
      margin-right: 6px
      margin-left: 6px
      vertical-align: middle
      fill: $color-pure

  //.like
    // display: inline-block
    // text-decoration: none
    // font-size: 12px
    // font-weight: 400
    // line-height: 20px
    // float: right
    // margin-top: 10px

    // &:hover
    //   span
    //     background-color: $color-pure

    // span
    //   transition: all 0.2s
    //   display: inline-block
    //   width: 20px
    //   height: 20px
    //   line-height: 19px
    //   text-align: center
    //   border-radius: 100%
    //   overflow: hidden
    //   //background-color: black
    //   background-color: $grey-icon
    //   vertical-align: middle
    //   margin-top: -4px
    //   margin-left: 3px

    svg
      width: 10px
      height: 11px
      display: inline-block
      vertical-align: middle
      fill: white
      margin-bottom: 3px

.item-post-content
  padding: 6px 0 0
  position: relative
  .img-post
    width: 100%
    position: relative
    display: inline-block

    &.video
      &::after
        content: ""
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        display: inline-block
        background-image: url(../images/icon/play.svg)
        background-position: center
        background-repeat: no-repeat
        background-size: 60px

    &.event
      &::after
        @extend .evenType
        content: "EVENT"
    &.photoshoot
      &::after
        @extend .evenType
        content: "PHOTOSHOOT"
    img
      width: 100%
      height: auto

  .title-post
    color: black
    font-size: 12px
    line-height: 20px
    font-weight: 600
    padding: 0 15px
    display: block

  p
    color: black
    font-size: 12px
    line-height: 20px
    font-weight: 400
    padding: 0 15px 6px

  p + .img-post
    margin-top: 5px


  .dops-inf
    padding: 15px 0
    @extend %clear-fix
    position: absolute
    bottom: 0
    background: rgba(0, 0, 0, 0.71)
    width: 100%
    &-container
      width: 93%
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      margin: auto
    li
      color: #919191
      color: #fff
      font-size: 12px
      font-weight: 400
      line-height: 12px
      vertical-align: middle
      margin-right: 15px

      &:last-child
        margin-right: 0

      svg
        display: inline-block
        vertical-align: middle
        fill: $color-pure
        margin-right: 6px
        margin-top: -2px

    .location
      svg
        width: 12px
        height: 12px

    .price
      position: relative
      left: -10px
      svg
        width: 10px
        height: 10px

    .time
      svg
        width: 11px
        height: 13px

.item-post-foot
  .activity
    @extend %clear-fix

    padding: 5px
    width: 100%
    box-sizing: border-box
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center

    li
      color: $grey-icon
      svg
        fill: #999999
        transition: all 0.2s
        margin: 0px 3px

      a
        padding: 5px
        display: inline-block
        font-size: 12px
        display: flex
        align-items: center
        font-weight: 600
        &:hover
          text-decoration: none
          svg
            fill: $color-pure

    .like
      display: inline-block
      text-decoration: none
      font-size: 12px
      line-height: 20px
      &-icon
        transition: all 0.2s
        display: inline-block
        width: 19px
        height: 19px
        line-height: 19px
        text-align: center
        border-radius: 100%
        overflow: hidden
        //background-color: black
        background-color: $grey-icon
        vertical-align: middle
        margin-top: -4px
        margin-left: 3px
      svg
        width: 9px
        height: 9px
        fill: #fff

    .comment
      position: relative
      left: 15px
      svg
        width: 13px
        height: 14px
        position: relative
        top: 1px
    .share
      svg
        width: 17px
        height: 17px


.shared-head
  display: flex

.share-to
  transition: all 0.2s
  display: inline-block
  width: 20px
  height: 20px
  line-height: 24px
  text-align: center
  border-radius: 100%
  overflow: hidden
  vertical-align: middle
  margin-left: 3px
  margin: 0px 5px
  .share
      svg
        width: 15px
        height: 14px
        fill: $grey-icon
