.notific-content
	padding: 5px 0 15px
	display: table
	width: 100%

	.item-notific
		@extend %clear-fix

		height: 105px
		padding: 12px 0
		display: table-row
		@media (max-width: 500px)
			border-bottom: 1px solid rgba(#919191, 0.3)
			margin-bottom: 10px
			display: block
			height: auto

		&:last-child
			@media (max-width: 500px)
				border-bottom: 0
			& > div
				border-bottom: none

		& > div
			display: table-cell
			vertical-align: middle 
			border-bottom: 1px solid rgba(#919191, 0.3)
			@media (max-width: 500px)
				border: none
				display: block
				margin: 10px 0

		.img
			position: relative
			width: 80px

			.icons
				position: absolute
				bottom: 15%
				right: 5%
				z-index: 2
				display: inline-block
				width: 16px
				height: 16px
				line-height: 16px
				text-align: center
				border-radius: 100%
				background-color: #ccc
				background-repeat: no-repeat

				&.delete
					background-color: #ff3201
					background-image: url(../images/icon/plus-i.svg)
					background-size: 8px
					background-position: 4px 5px

				&.add
					background-color: #0113ff
					background-image: url(../images/icon/plus-i.svg)
					background-size: 8px
					background-position: 4px 4.5px

				&.like
					background-color: $color-pure
					background-image: url(../images/icon/like-i.svg)
					background-size: 9px
					background-position: 3.5px 4.5px

				&.shar
					background-color: #22c064
					background-image: url(../images/icon/shar-i.svg)
					background-size: 11px 7px
					background-position: 3px 4px


			.user-pick
				display: inline-block
				width: 80px
				height: 80px
				border-radius: 100%
				overflow: hidden
				vertical-align: middle

				@media (max-width: $screen-xs-max)
					display: block
					width: 50px
					height: 50px

				img
					width: 100%
					height: auto

		.text-wrap
			font-family: $gotham
			font-size: 14px
			font-weight: 400
			padding-left: 20px
			@media (max-width: 500px)
				padding-left: 0

			b
				font-weight: 600

		.user-name
			text-decoration: none
			display: inline-block
			color: black
			font-family: $gotham
			font-size: 16px
			font-weight: 600

			@media (max-width: $screen-xs-max)
				font-size: 14px

			&:hover
				color: $color-pure

		.data-wrap
			text-align: left
			width: 100%

		.data
			display: inline-block
			color: black
			font-size: 10px
			font-weight: 400
			line-height: 12px
			min-width: 50px
			text-align: left

			svg
				margin-top: -2px
				display: inline-block
				width: 11px
				height: 12px
				margin-right: 6px
				vertical-align: middle
				fill: $color-pure

		.item-img
			width: 100px
			text-align: right

			.img-wrap
				vertical-align: middle
				display: inline-block
				width: 85px
				height: 80px
				background-repeat: no-repeat
				background-size: cover

.messages-content
	border-top: 1px solid rgba(0, 0, 0, 0.1)
	margin: 15px -20px 0
	padding: 5px 20px 15px
	display: table
	width: 100%

	.item-massage
		@extend %clear-fix

		height: 105px
		padding: 12px 0
		display: table-row

		&:last-child
			& > div
				border-bottom: none

		& > div
			display: table-cell
			vertical-align: middle
			border-bottom: 1px solid rgba(#919191, 0.3)

	.check
		padding-right: 20px

		@media (max-width: $screen-xs-max)
			padding-right: 10px

	.img
		padding-right: 10px

		@media (max-width: $screen-xs-max)
			padding-right: 10px

	.name
		min-width: 120px

		@media (max-width: $screen-xs-max)
			min-width: 100px

		span
			max-width: 120px
			text-overflow: ellipsis
			white-space: nowrap
			overflow: hidden

			@media (max-width: $screen-xs-max)
				max-width: 100px

	.user-pick
		display: inline-block
		width: 80px
		height: 80px
		border-radius: 100%
		overflow: hidden
		vertical-align: middle

		@media (max-width: $screen-xs-max)
			display: block
			width: 50px
			height: 50px

		img
			width: 100%
			height: auto

	.user-name
		text-decoration: none
		display: inline-block
		color: black
		font-family: $gotham
		font-size: 14px
		font-weight: 500
		vertical-align: top

		@media (max-width: $screen-xs-max)
			font-size: 14px

		&:hover
			color: $color-pure

	.text-mess
		color: black
		font-family: $gotham
		font-size: 12px
		font-weight: 400
		@media (max-width: 500px)
			display: none

		p
			display: block
			width: 100%
			max-width: 420px
			text-overflow: ellipsis
			white-space: nowrap
			overflow: hidden

			@media (max-width: $screen-sm-max)
				max-width: 300px

			@media (max-width: $screen-xs-max)
				max-width: 100px

			@media (max-width: 500px)
				display: none

	.data-wrap
		text-align: right

	.data
		display: inline-block
		color: black
		font-size: 10px
		font-weight: 400
		line-height: 12px
		min-width: 50px
		text-align: left

		svg
			margin-top: -2px
			display: inline-block
			width: 11px
			height: 12px
			margin-right: 6px
			vertical-align: middle
			fill: $color-pure
