.portfolio
	padding-bottom: 10px

	.tabs-head
		margin-top: 0

	.portfolio-wrap
		@extend %clear-fix

		width: 100%
		box-sizing: border-box
		float: left
		padding: 5px 8px 4px

	.item-portfolio
		display: inline-block
		width: 25%
		float: left
		padding: 7px
		box-sizing: border-box
		@media (max-width: $screen-xs-max)
			width: 50%


		.img-wrap
			width: 100%
			height: 100%
			display: inline-block 
			background-position: center
			background-repeat: no-repeat
			background-size: cover

		img
			display: none

	.video-wrap
		@extend %clear-fix

		width: 100%
		box-sizing: border-box
		float: left
		padding: 7px 9px 6px

	.item-video
		display: inline-block
		width: 33.333%
		float: left
		padding: 5px
		box-sizing: border-box
		height: 155px
		position: relative
		@media (max-width: $screen-xs-max)
			width: 100%
		&:hover
			.img-wrap::after
				top: 0
			.name
				color: $color-pure

		&::before
			position: absolute
			z-index: 1
			left: 50%
			top: 50%
			width: 36px
			height: 36px
			content: ''
			background: url(../images/video/play-vid.svg) no-repeat center/34px
			margin-left: -17px
			margin-top: -17px

		.name
			position: absolute
			bottom: 5px
			left: 5px
			right: 5px
			padding: 0 15px
			line-height: 28px
			text-align: right
			color: white
			font-family: $gotham
			font-size: 11px
			font-weight: 300
			text-transform: uppercase
			height: 28px
			background-color: rgba(black, 0.6)
			transition: all .2s

		.img-wrap
			width: 100%
			height: 100%
			display: inline-block
			background-position: center
			background-repeat: no-repeat
			background-size: cover
			position: relative
			overflow: hidden
			&::after
				transition: all .2s
				position: absolute
				left: 0
				right: 0
				top: -100%
				height: 117px
				content: ''
				background-color: rgba(black, 0.6)

		img
			height: 100%
