<<<<<<< HEAD
/*
Error: The line was indented 2 levels deeper than the previous line.
        on line 460 of sass/components/modal.sass
        from line 22 of sass/style.sass

455:           margin-top: 0
456: 
457:       .el-btn
458:         float: right
459:         @media (max-width: $screen-xs-max)
460:             float: none
461:             margin-top: 10px
462:     textarea
463:         margin-bottom: 15px
464:         width: 100%
465:         height: 150px

Backtrace:
sass/components/modal.sass:460
sass/style.sass:22
/usr/lib/ruby/vendor_ruby/sass/engine.rb:517:in `tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:521:in `tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:521:in `tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:521:in `tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:521:in `tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:406:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:309:in `to_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:88:in `block in with_import'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:323:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:157:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:278:in `render'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:293:in `watch'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:109:in `method_missing'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:379:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:51:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 2 levels deeper than the previous line.\A         on line 460 of sass/components/modal.sass\A         from line 22 of sass/style.sass\A \A 455:           margin-top: 0\A 456: \A 457:       .el-btn\A 458:         float: right\A 459:         @media (max-width: $screen-xs-max)\A 460:             float: none\A 461:             margin-top: 10px\A 462:     textarea\A 463:         margin-bottom: 15px\A 464:         width: 100%\A 465:         height: 150px"; }
=======
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

input:focus, textarea:focus, a:focus, button:focus, select:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del, s, strike {
  text-decoration: line-through; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, fieldset, footer, header, hgroup, main, nav, section, summary {
  display: block;
  margin: 0; }

ul, ol {
  list-style: none; }

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans/OpenSans-Light.eot"), url("../fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans.eot"), url("../fonts/OpenSans/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans.woff") format("woff"), url("../fonts/OpenSans/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Semibold.eot"), url("../fonts/OpenSans/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Bold.eot"), url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Xenia-Bold";
  src: url("../fonts/Xenia-Bold/Xenia-Bold.eot"), url("../fonts/Xenia-Bold/Xenia-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Xenia-Bold/Xenia-Bold.woff") format("woff"), url("../fonts/Xenia-Bold/Xenia-Bold.ttf") format("truetype"), url("../fonts/Xenia-Bold/Xenia-Bold.svg#Xenia-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "LevenimMT";
  src: url("../fonts/LevenimMT/LevenimMT.eot"), url("../fonts/LevenimMT/LevenimMT.eot?#iefix") format("embedded-opentype"), url("../fonts/LevenimMT/LevenimMT.woff") format("woff"), url("../fonts/LevenimMT/LevenimMT.ttf") format("truetype"), url("../fonts/LevenimMT/LevenimMT.svg#LevenimMT") format("svg");
  font-weight: 400;
  font-style: normal; }
body, input, button, select, textarea {
  font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif; }

.clear {
  clear: both; }

.container:after, .container-fluid:after, .row:after, .header .activity:after, .header .mob-hidden:after, .header .navigation ul:after, .modal .content-modal:after, .modal .content-modal .list-photos:after, .modal .content-footer:after, .modal .content-footer .list-comment li:after, .modal .content-footer .list-comment li .wrap-info .user-name:after, .modal .content-footer .item-owner:after, .modal .content-footer .tags:after, .modal .content-footer .share:after, .modall-message form .form .btn-wrap:after, .wrap-home-slider .owl-nav:after, .wrap-home-slider .btn-wrap-home:after, .content-page.mod-right .content:after, .list-projects li:after, .wrap-filter:after, .wrap-filter ul:after, .user-list:after, .sidebar .social:after, .sidebar .folow:after, .content:after, .colection-top:after, .wrap-md:after, .wrap-sm:after, .add-new-post:after, .wrap-posts:after, .item-post-header:after, .item-post-header .user-post:after, .item-post-foot .dops-inf:after, .item-post-foot .activity:after, .tabs-head:after, .casting-item .media-right:after, .casting-item .media-left:after, .portfolio .portfolio-wrap:after, .portfolio .video-wrap:after, .notific-content .item-notific:after, .messages-content .item-massage:after, .sort-wrap .sort:after {
  content: "";
  clear: both;
  display: table;
  width: 100%; }

.pa {
  position: absolute; }

.pr {
  position: relative; }

.fl {
  float: left; }

.fr {
  float: right; }

.text-left {
  text-align: left; }
.text-center {
  text-align: center; }
.text-right {
  text-align: right; }

pre, code {
  font-family: monospace; }

a {
  color: inherit;
  outline: none;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

img {
  border: none;
  vertical-align: top;
  max-width: 100%;
  height: auto; }

img {
  position: relative;
  display: inline-block;
  border: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  font: 300 12px/2 Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center; }
  img:after {
    content: "" " Broken Image of " attr(alt);
    display: block;
    font: 12px/1.2 "FontAwesome";
    color: #646464;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; }

input {
  vertical-align: middle;
  margin: 0;
  padding: 0; }
  input ::-ms-clear,
  input ::-ms-reveal {
    display: none;
    width: 0;
    height: 0; }

button,
a.button,
input[type='reset'],
input[type='submit'],
input[type='button'],
input[type='image'] {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  background: none;
  outline: 0;
  border: 0;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  text-decoration: none; }

::selection {
  background: dodgerblue; }

html {
  height: 100%; }

.no-flexbox body {
  min-height: 100%;
  height: 100%;
  display: block !important; }

.page-wrapper,
.footer {
  max-width: none;
  min-width: 0;
  width: 100%;
  margin: 0 auto; }
  .no-flexbox .page-wrapper, .no-flexbox
  .footer {
    width: auto; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .lte-ie-11 .page-wrapper, .lt-ie-11 .page-wrapper {
    min-height: 0; }
  .no-flexbox .page-wrapper {
    display: block !important;
    width: auto;
    min-height: 100%;
    height: auto !important;
    height: 100%; }

.page-body {
  flex: 1; }
  .page-body.flex-none {
    flex: none; }

.wrapper {
  position: relative; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px; }

.container {
  max-width: 1080px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1080px) {
    .container {
      width: 1200px; } }

.container-fluid {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1080px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
.text-xs-left {
  text-align: left; }
.text-xs-right {
  text-align: right; }
.text-xs-center {
  text-align: center; }
@media (min-width: 768px) {
  .text-sm-left {
    text-align: left; }
  .text-sm-right {
    text-align: right; }
  .text-sm-center {
    text-align: center; } }
@media (min-width: 992px) {
  .text-md-left {
    text-align: left; }
  .text-md-right {
    text-align: right; }
  .text-md-center {
    text-align: center; } }
@media (min-width: 1080px) {
  .text-lg-left {
    text-align: left; }
  .text-lg-right {
    text-align: right; }
  .text-lg-center {
    text-align: center; } }

.page-wrapper {
  background-color: #eff0f2; }

.page-body {
  overflow: hidden;
  padding-top: 65px; }

.search {
  padding: 12px 0; }
  .search input {
    width: 100%;
    border: none;
    box-shadow: none;
    color: black;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase; }

.title-page {
  color: black;
  font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  padding: 15px 20px 13px;
  margin: 0 -5px 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: auto;
  display: block; }

.mod-content {
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  padding: 0 20px;
  margin-bottom: 17px;
  box-shadow: 1px 2px 5px rgba(0, 0, 1, 0.08); }
  .mod-content.none-overflov {
    overflow: visible; }

h3 {
  color: black;
  font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 10px; }

.uppercase {
  text-transform: uppercase; }

.el-btn {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  font-size: 11px;
  font-weight: 600;
  height: 32px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  background-color: #191919;
  transition: all 0.2s;
  padding: 0 28px;
  box-sizing: border-box;
  border: 1px solid #191919; }
  .el-btn + .el-btn {
    margin-left: 20px; }
  .el-btn.bg-none {
    background: none;
    color: black; }
    .el-btn.bg-none:hover {
      color: white; }
  .el-btn:hover {
    text-decoration: none;
    background-color: #ff0169;
    border-color: #ff0169; }

.el-label {
  width: 100%;
  color: #2c2e33;
  font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  position: relative; }
  .el-label.calendar::after {
    display: inline-block;
    position: absolute;
    right: 9px;
    top: 32px;
    width: 14px;
    height: 14px;
    background: url(../images/icon/calendar-input.svg) no-repeat center/cover;
    content: ""; }
  .el-label.calendar input {
    padding-right: 30px; }
  .el-label .ui.selection.dropdown {
    margin-top: 6px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px; }
  .el-label input {
    margin-top: 6px;
    margin-bottom: 20px;
    width: 100%;
    height: 32px;
    background-color: white;
    border: 1px solid #bebebe;
    border-radius: 2px;
    padding: 6px 10px;
    box-sizing: border-box;
    color: black;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    line-height: 33px;
    vertical-align: middle;
    font-weight: 400; }

.radio-list {
  display: block;
  margin-top: 12px; }
  @media (max-width: 1079px) {
    .radio-list {
      padding-bottom: 15px; } }

.el-radio {
  display: inline-block;
  position: relative;
  margin-right: 12px;
  cursor: pointer;
  color: #2c2e33;
  font-size: 12px;
  font-weight: 600; }
  .el-radio input[type="radio"] {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0; }
    .el-radio input[type="radio"]:checked ~ .radio-icon:before {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 6px;
      width: 6px;
      background-color: #ff0169;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      content: ""; }
  .el-radio .radio-icon {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-top: -2px;
    margin-right: 10px;
    border: 1px solid #bebebe;
    border-radius: 50%;
    vertical-align: middle; }
  .el-radio .radio-text {
    display: inline-block;
    vertical-align: middle; }

.el-checkbox {
  display: inline-block;
  position: relative;
  margin-right: 12px;
  cursor: pointer;
  color: #2c2e33;
  font-size: 14px;
  font-weight: 600; }
  .el-checkbox.none-text {
    margin-right: 0; }
    .el-checkbox.none-text .checkbox-icon {
      margin-right: 0; }
  .el-checkbox input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0; }
    .el-checkbox input[type="checkbox"]:checked ~ .checkbox-icon:before {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 8px;
      width: 10px;
      background: url(../images/icon/check.svg) no-repeat center;
      transform: translate(-50%, -50%);
      content: ""; }
  .el-checkbox .checkbox-icon {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-top: -2px;
    margin-right: 10px;
    border: 1px solid #bebebe;
    border-radius: 2px;
    vertical-align: middle; }
  .el-checkbox .checkbox-text {
    display: inline-block;
    vertical-align: middle; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #191919;
  color: white;
  padding: 10px 0;
  height: 50px;
  box-sizing: border-box; }
  @media (max-width: 767px) {
    .header .col-xs-10 {
      padding-left: 0; } }
  .header .more {
    float: left;
    height: 32px;
    width: 8px;
    display: inline-block;
    margin-right: 15px; }
    .header .more svg {
      width: 8px;
      height: 32px;
      fill: white;
      margin-top: -2px;
      transform: scale(0.6); }
  .header .burger {
    float: right;
    display: none;
    height: 30px;
    line-height: 29px;
    text-decoration: none;
    margin-right: 0;
    margin-left: 10px; }
    @media (max-width: 991px) {
      .header .burger {
        display: inline-block; } }
    .header .burger:hover {
      text-decoration: none; }
      .header .burger:hover svg {
        fill: white; }
    .header .burger svg {
      transition: all 0.2s;
      vertical-align: middle;
      width: 22px;
      height: 15px;
      fill: #bebebe;
      fill-rule: evenodd; }
  .header .user {
    float: right;
    display: inline-block;
    text-decoration: none;
    margin-right: 40px; }
    @media (max-width: 1079px) {
      .header .user {
        margin-right: 30px; } }
    @media (max-width: 767px) {
      .header .user {
        margin-right: 20px; } }
    .header .user:hover {
      text-decoration: none; }
    .header .user .wrap-img {
      float: left;
      margin-right: 20px;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      overflow: hidden; }
      @media (max-width: 767px) {
        .header .user .wrap-img {
          margin-right: 10px; } }
      .header .user .wrap-img img {
        width: 100%;
        height: auto; }
    .header .user .name {
      display: inline-block;
      font-size: 12px;
      line-height: 30px;
      color: white;
      font-weight: bold;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 90px; }
  .header .activity {
    float: right;
    display: inline-block; }
    .header .activity li {
      float: left;
      height: 30px; }
      .header .activity li a {
        position: relative;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        text-decoration: none;
        margin-right: 6px; }
        .header .activity li a:hover {
          text-decoration: none; }
      .header .activity li span {
        position: absolute;
        right: -6px;
        top: 0;
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 15px;
        text-align: center;
        background-color: #ff0169;
        border-radius: 100%;
        color: white;
        font-size: 9px;
        font-weight: 400;
        vertical-align: top; }
      .header .activity li svg {
        transition: all 0.2s; }
      .header .activity li .message {
        margin-right: 35px; }
        @media (max-width: 767px) {
          .header .activity li .message {
            margin-right: 20px; } }
        .header .activity li .message svg {
          vertical-align: middle;
          width: 20px;
          height: 16px;
          fill: #bebebe; }
        .header .activity li .message:hover svg {
          fill: white; }
      .header .activity li .notification {
        margin-right: 15px; }
        @media (max-width: 767px) {
          .header .activity li .notification {
            margin-right: 10px; } }
        .header .activity li .notification svg {
          vertical-align: middle;
          width: 19px;
          height: 21px;
          fill: #bebebe; }
        .header .activity li .notification:hover svg {
          fill: white; }
  .header .search {
    float: left;
    position: relative;
    padding: 0;
    height: 24px;
    line-height: 24px;
    box-sizing: border-box;
    width: 285px;
    margin-top: 3px;
    padding-right: 55px;
    border-left: 1px solid rgba(255, 255, 255, 0.5); }
    @media (max-width: 1079px) {
      .header .search {
        width: 250px; } }
    @media (max-width: 991px) {
      .header .search {
        width: 100%;
        max-width: 720px;
        display: block;
        margin: 15px auto 0;
        float: none;
        border: 1px solid rgba(255, 255, 255, 0.5);
        height: 35px;
        line-height: 32px; } }
    .header .search input {
      color: white;
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 11px;
      font-weight: 300;
      line-height: 20px;
      padding-left: 10px;
      text-transform: uppercase;
      background: none;
      border: none;
      margin-top: -3px; }
      .header .search input:-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.2); }
      .header .search input:-moz-placeholder {
        color: rgba(255, 255, 255, 0.2); }
      .header .search input:-moz-placeholder {
        color: rgba(255, 255, 255, 0.2); }
      .header .search input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.2); }
    .header .search .btn {
      position: absolute;
      right: 35px;
      top: 6px;
      color: white; }
      @media (max-width: 991px) {
        .header .search .btn {
          right: 12px; } }
      .header .search .btn:hover svg {
        fill: #ff0169; }
      .header .search .btn svg {
        fill: white;
        width: 15px;
        height: 16px;
        margin-top: -2px;
        transition: all 0.2s; }
  .header .des-hide {
    display: none; }
    @media (max-width: 1079px) {
      .header .des-hide {
        display: inline-block;
        width: 5%; } }
    @media (max-width: 991px) {
      .header .des-hide {
        width: 16.66667%; } }
  .header .mob-hidden.js-active {
    display: block !important; }
  @media (max-width: 1079px) {
    .header .mob-hidden {
      width: 69.66667%; } }
  @media (max-width: 991px) {
    .header .mob-hidden {
      display: none;
      background-color: rgba(0, 0, 0, 0.9);
      position: absolute;
      left: 0;
      right: 0;
      top: 50px;
      width: auto; } }
  .header .navigation {
    height: 30px;
    line-height: 28px; }
    @media (max-width: 991px) {
      .header .navigation {
        width: 100%;
        max-width: 720px;
        display: block;
        margin: 0 auto;
        float: none;
        height: auto; } }
    @media (max-width: 991px) {
      .header .navigation ul {
        margin: 25px 0px; } }
    .header .navigation li {
      float: left;
      margin-right: 30px; }
      @media (max-width: 991px) {
        .header .navigation li {
          width: 100%; } }
      .header .navigation li:last-child {
        margin-right: 0; }
      .header .navigation li.active a {
        color: white; }
    .header .navigation a {
      text-transform: uppercase;
      color: #bebebe;
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      transition: all 0.2s; }
      .header .navigation a:hover {
        color: white;
        text-decoration: none; }

.footer {
  overflow: hidden; }

.fancybox-inner {
  position: static;
  margin-right: -15px;
  padding-right: 15px; }

.fancybox-close {
  display: none !important; }

.modal {
  min-width: 810px;
  max-width: 810px;
  width: 100%;
  overflow: hidden;
  padding-right: 5px; }
  @media (max-width: 1079px) {
    .modal {
      max-width: 810px;
      width: 100%;
      min-width: 680px; } }
  @media (max-width: 767px) {
    .modal {
      min-width: 100%; } }
  .modal .title h2 {
    display: block;
    color: black;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 15px;
    padding: 0 30px 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .modal .title .icon-close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 13px;
    height: 13px;
    display: inline-block; }
    .modal .title .icon-close svg {
      width: 100%;
      height: 100%; }
  .modal .content-modal {
    width: 100%;
    height: auto;
    margin-bottom: 15px; }
    .modal .content-modal iframe {
      width: 100%;
      height: 455px; }
      @media (max-width: 767px) {
        .modal .content-modal iframe {
          height: 220px !important; } }
    .modal .content-modal img {
      width: 100%;
      height: auto; }
    @media (max-width: 767px) {
      .modal .content-modal .btn-wrap .el-btn.bg-none {
        padding: 0 20px; } }
    .modal .content-modal h2 {
      margin-right: 120px;
      color: #ff0169;
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 22px;
      font-weight: 500;
      line-height: 28px;
      margin-bottom: 15px; }
      @media (max-width: 767px) {
        .modal .content-modal h2 {
          font-size: 14px;
          margin-right: 90px;
          line-height: 20px; } }
    .modal .content-modal h3 {
      color: black;
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px; }
    .modal .content-modal p {
      color: black;
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 12px; }
    .modal .content-modal .list-photos {
      margin-left: -7px;
      margin-top: 25px;
      padding-top: 25px;
      margin-bottom: 25px;
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
      .modal .content-modal .list-photos li {
        float: left;
        width: 33.3333%;
        display: inline-block;
        box-sizing: border-box;
        padding-left: 7px; }
        .modal .content-modal .list-photos li img {
          width: 100%;
          height: auto; }
    .modal .content-modal .btn-wrap {
      float: right; }
    .modal .content-modal .user-info li {
      color: black;
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 13px;
      line-height: 19px;
      font-weight: 600; }
      .modal .content-modal .user-info li span {
        font-weight: 400; }
      .modal .content-modal .user-info li svg {
        margin-right: 7px;
        width: 13px;
        height: 12px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px; }
  .modal .content-footer .comment {
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding-right: 15px; }
    @media (max-width: 1079px) {
      .modal .content-footer .comment {
        width: 65%; } }
    @media (max-width: 767px) {
      .modal .content-footer .comment {
        width: 100%;
        float: none;
        margin-top: 15px; } }
    .modal .content-footer .comment .user-pick {
      display: inline-block;
      width: 45px;
      height: 45px;
      border-radius: 100% !important;
      overflow: hidden; }
      .modal .content-footer .comment .user-pick img {
        width: 100%;
        height: 100%;
        border-radius: 100% !important; }
  .modal .content-footer .list-comment {
    padding-bottom: 10px; }
    .modal .content-footer .list-comment li {
      position: relative;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-top: 20px;
      padding-bottom: 20px; }
      .modal .content-footer .list-comment li:last-child {
        border-bottom: none; }
      .modal .content-footer .list-comment li .user-pick {
        position: absolute;
        left: 0;
        top: 15px;
        margin-right: 15px; }
      .modal .content-footer .list-comment li .wrap-info {
        display: block;
        margin-left: 60px; }
        .modal .content-footer .list-comment li .wrap-info form {
          padding-top: 8px;
          width: 100%; }
          .modal .content-footer .list-comment li .wrap-info form input {
            width: 100%;
            color: black;
            font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
            border: none;
            box-shadow: none;
            background-color: transparent; }
        .modal .content-footer .list-comment li .wrap-info .user-name {
          color: black;
          font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
          width: 100%; }
          .modal .content-footer .list-comment li .wrap-info .user-name .time {
            float: right;
            opacity: 0.7;
            color: black;
            font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 11px;
            font-weight: 400; }
        .modal .content-footer .list-comment li .wrap-info .user-coment {
          margin-top: 10px;
          color: black;
          font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 500; }
  .modal .content-footer .user-wrap {
    float: right;
    width: 30%;
    box-sizing: border-box; }
    @media (max-width: 1079px) {
      .modal .content-footer .user-wrap {
        width: 35%; } }
    @media (max-width: 767px) {
      .modal .content-footer .user-wrap {
        width: 100%;
        float: none; } }
    .modal .content-footer .user-wrap .user-pick {
      position: absolute;
      top: 12px;
      left: 14px;
      display: inline-block;
      width: 60px;
      height: 60px;
      border-radius: 100% !important;
      overflow: hidden; }
      .modal .content-footer .user-wrap .user-pick img {
        width: 100%;
        height: 100%;
        border-radius: 100% !important; }
  .modal .content-footer .titl-motal {
    color: black;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .modal .content-footer .item-owner {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 85px;
    padding: 15px 0px;
    box-sizing: border-box; }
    .modal .content-footer .item-owner .user {
      margin-left: 90px;
      float: left; }
    .modal .content-footer .item-owner .user-name {
      color: black;
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 600; }
    .modal .content-footer .item-owner .user-prof {
      color: #ff0169;
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 600;
      line-height: 22px; }
    .modal .content-footer .item-owner .user-info li {
      color: black;
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 13px;
      line-height: 19px;
      font-weight: 600; }
      .modal .content-footer .item-owner .user-info li span {
        font-weight: 400; }
      .modal .content-footer .item-owner .user-info li svg {
        margin-right: 7px;
        width: 13px;
        height: 12px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px; }
  .modal .content-footer .infos {
    margin-top: 18px; }
    .modal .content-footer .infos li {
      color: black;
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 12px;
      line-height: 20px; }
      .modal .content-footer .infos li span {
        font-weight: 400; }
      .modal .content-footer .infos li strong {
        font-weight: 600; }
    .modal .content-footer .infos svg {
      width: 14px;
      height: 11px;
      margin-right: 10px;
      vertical-align: middle; }
  .modal .content-footer .tags {
    margin-top: 15px; }
    .modal .content-footer .tags li {
      float: left;
      margin-right: 2px; }
      .modal .content-footer .tags li:last-child {
        margin-right: 0; }
    .modal .content-footer .tags a {
      color: #919191;
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500; }
  .modal .content-footer .share {
    margin-top: 15px; }
    .modal .content-footer .share li {
      float: left;
      margin-right: 12px; }
      .modal .content-footer .share li:last-child {
        margin-right: 0; }
      .modal .content-footer .share li a:hover svg {
        fill: #ff0169; }
    .modal .content-footer .share svg {
      width: 25px;
      height: 25px;
      fill: #919191; }

.modall-message {
  max-width: 440px;
  min-width: 270px;
  display: none; }
  .modall-message .title {
    background-color: white;
    margin-right: -5px;
    border-radius: 8px 8px 0 0; }
    @media (max-width: 767px) {
      .modall-message .title {
        margin-right: 0; } }
    .modall-message .title .icon-close {
      top: 10px;
      right: 10px; }
    .modall-message .title h2 {
      padding-top: 15px;
      text-align: center;
      color: black;
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 19px;
      padding-left: 30px;
      font-weight: 500; }
      .modall-message .title h2 span {
        display: block;
        color: #ff0169;
        font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500; }
  .modall-message .content-modal {
    padding: 0 30px 15px;
    box-sizing: border-box; }
    @media (max-width: 767px) {
      .modall-message .content-modal {
        padding: 0px 15px 10px; } }
  .modall-message form {
    position: relative; }
    .modall-message form .img {
      position: absolute;
      top: 0;
      left: 0; }
      .modall-message form .img .user-pick {
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        overflow: hidden;
        vertical-align: middle; }
        @media (max-width: 767px) {
          .modall-message form .img .user-pick {
            display: block;
            width: 50px;
            height: 50px; } }
        .modall-message form .img .user-pick img {
          width: 100%;
          height: auto; }
    .modall-message form .form {
      width: 100%;
      padding-left: 95px;
      box-sizing: border-box; }
      @media (max-width: 767px) {
        .modall-message form .form {
          padding-left: 65px; } }
      .modall-message form .form .btn-wrap {
        width: 100%; }
        @media (max-width: 767px) {
          .modall-message form .form .btn-wrap {
            text-align: center; } }
      .modall-message form .form .p {
        float: left;
        margin-top: 10px;
        color: black;
        font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 11px;
        font-weight: 500; }
        @media (max-width: 767px) {
          .modall-message form .form .p {
            float: none;
            text-align: center;
            margin-top: 0; } }
      .modall-message form .form .el-btn {
        float: right; }
        @media (max-width: 767px) {
          .modall-message form .form .el-btn {
            float: none;
            margin-top: 10px; } }
    .modall-message form textarea {
      margin-bottom: 15px;
      width: 100%;
      height: 150px;
      background-color: white;
      border: 1px solid #bebebe;
      border-radius: 2px;
      padding: 6px 10px;
      box-sizing: border-box;
      color: black;
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 13px;
      line-height: 20px;
      vertical-align: middle;
      font-weight: 400;
      resize: none; }

.spinner-container {
  padding: 20px 0; }

[class*="cmn-spinner"] {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  color: transparent;
  font-size: 0;
  text-indent: -99999px; }

.cmn-spinner__multisquare::before, .cmn-spinner__multisquare::after {
  display: block;
  position: absolute;
  width: 48%;
  height: 48%;
  box-sizing: border-box;
  border-radius: 4px;
  content: ""; }
.cmn-spinner__multisquare::before {
  top: 0;
  left: 0;
  border: solid 2px #000000;
  animation: cmn-spinner--animation__multisquare1 1.5s infinite; }
.cmn-spinner__multisquare::after {
  bottom: 0;
  right: 0;
  border: solid 2px #ff0169;
  animation: cmn-spinner--animation__multisquare2 1.5s infinite; }

/* animation keyframes - square 1 */
@keyframes cmn-spinner--animation__multisquare1 {
  0% {
    top: 0;
    left: 0; }
  25% {
    top: 0;
    left: 52%; }
  50% {
    top: 52%;
    left: 52%; }
  75% {
    top: 52%;
    left: 0; }
  100% {
    top: 0;
    left: 0; } }
/* animation keyframes - square 2 */
@keyframes cmn-spinner--animation__multisquare2 {
  0% {
    bottom: 0;
    right: 0; }
  25% {
    bottom: 0;
    right: 52%; }
  50% {
    bottom: 52%;
    right: 52%; }
  75% {
    bottom: 52%;
    right: 0; }
  100% {
    bottom: 0;
    right: 0; } }
.wrap-home-slider {
  position: relative;
  margin-bottom: 15px;
  margin-top: -15px;
  height: 770px;
  width: 100%;
  text-align: center;
  padding-top: 280px;
  box-sizing: border-box; }
  @media (max-width: 991px) {
    .wrap-home-slider {
      height: 500px;
      padding-top: 130px; } }
  @media (max-width: 767px) {
    .wrap-home-slider {
      height: auto;
      padding-top: 80px;
      padding-bottom: 60px; } }
  .wrap-home-slider .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -17px; }
  .wrap-home-slider .owl-prev, .wrap-home-slider .owl-next {
    display: inline-block;
    width: 19px;
    height: 34px;
    background-position: center;
    background-repeat: no-repeat; }
  .wrap-home-slider .owl-prev {
    float: left;
    margin-left: 15px;
    background-image: url("../images/a-l.svg"); }
  .wrap-home-slider .owl-next {
    float: right;
    margin-right: 15px;
    background-image: url("../images/a-r.svg"); }
  .wrap-home-slider .home-slider {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }
    .wrap-home-slider .home-slider .owl-stage-outer {
      height: 100%; }
    .wrap-home-slider .home-slider .owl-stage {
      height: 100%; }
    .wrap-home-slider .home-slider .owl-item {
      height: 100%; }
    .wrap-home-slider .home-slider .item {
      width: 100%;
      height: 100%;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
  .wrap-home-slider:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.2); }
  .wrap-home-slider .col-md-12 {
    position: static; }
  .wrap-home-slider h1 {
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
    font-size: 156px;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
    font-family: "LevenimMT", Arial, "Helvetica Neue", Helvetica, sans-serif; }
    @media (max-width: 991px) {
      .wrap-home-slider h1 {
        font-size: 120px; } }
    @media (max-width: 767px) {
      .wrap-home-slider h1 {
        font-size: 50px; } }
    .wrap-home-slider h1 span {
      color: #ff0169;
      font-family: "Xenia-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-weight: bold; }
  .wrap-home-slider h3 {
    position: relative;
    z-index: 1;
    color: #ffffff;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 27px;
    font-weight: 300;
    line-height: 29px; }
  .wrap-home-slider h4 {
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #ffffff;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    display: block; }
  .wrap-home-slider .btn-wrap-home {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-bottom: 25px; }
    .wrap-home-slider .btn-wrap-home li {
      float: left;
      margin-right: 25px; }
      @media (max-width: 767px) {
        .wrap-home-slider .btn-wrap-home li {
          float: none;
          margin-right: 0;
          margin-bottom: 10px; } }
      .wrap-home-slider .btn-wrap-home li:last-child {
        margin-right: 0; }
  .wrap-home-slider .el-btn.mod-fb {
    background-color: #3b5998;
    border-color: #3b5998;
    padding-left: 12px;
    padding-right: 12px;
    text-transform: none; }
    .wrap-home-slider .el-btn.mod-fb img {
      margin-bottom: 4px;
      vertical-align: middle;
      margin-right: 12px; }

.home-page {
  position: relative;
  min-height: 100%; }
  .home-page .content {
    padding-left: 0;
    display: block;
    margin: 0 auto;
    max-width: 790px; }

.content-page {
  position: relative;
  min-height: 1100px; }
  .content-page.mod-right {
    min-height: 100%; }
    .content-page.mod-right .sidebar {
      right: 15px;
      background: none;
      box-shadow: none; }
      @media (max-width: 1079px) {
        .content-page.mod-right .sidebar {
          background: white;
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3); } }
    .content-page.mod-right .content {
      margin-right: 245px;
      padding-right: 15px;
      margin-left: 0;
      padding-left: 0; }
      @media (max-width: 1079px) {
        .content-page.mod-right .content {
          margin-right: 0;
          padding-right: 0; } }

.overflow {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s; }
  .overflow.js-active {
    opacity: 1;
    visibility: visible; }

.list-projects li {
  position: relative;
  height: 52px;
  margin-bottom: 15px;
  line-height: 52px; }
  .list-projects li:last-child {
    margin-bottom: 0; }
  .list-projects li .pick {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 12px; }
  .list-projects li span {
    color: #000;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    margin-left: 62px;
    display: inline-block;
    vertical-align: middle; }

.wrap-filter {
  width: 100%;
  box-sizing: border-box;
  padding-left: 260px;
  position: relative;
  margin-bottom: 15px; }
  @media (max-width: 767px) {
    .wrap-filter {
      padding-left: 0; } }
  .wrap-filter ul {
    float: left;
    box-shadow: 1px 2px 5px rgba(0, 0, 1, 0.08);
    border-radius: 3px;
    background-color: #fff;
    padding: 0 25px;
    box-sizing: border-box; }
    .wrap-filter ul li {
      float: left;
      margin-right: 24px; }
      .wrap-filter ul li:last-child {
        margin-right: 0; }
      .wrap-filter ul li.active a {
        color: #000; }
        .wrap-filter ul li.active a:after {
          position: absolute;
          bottom: 0;
          left: -8px;
          right: -8px;
          content: "";
          height: 4px;
          background-color: #ff0169; }
      .wrap-filter ul li a {
        position: relative;
        line-height: 40px;
        vertical-align: middle;
        display: inline-block;
        text-decoration: none;
        color: #919191;
        font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase; }
  .wrap-filter .two-filt {
    width: 100%; }
  .wrap-filter .first-filt {
    width: 245px;
    margin-right: 15px;
    position: absolute;
    left: 0;
    top: 0; }
    @media (max-width: 767px) {
      .wrap-filter .first-filt {
        position: static;
        width: 100%;
        margin-bottom: 15px; } }

.user-list li {
  float: left;
  margin-right: 15px;
  margin-bottom: 4px; }
  .user-list li:nth-child(3n) {
    margin-right: 0; }
.user-list .user-pick {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden; }
  .user-list .user-pick img {
    border-radius: 100%;
    overflow: hidden; }

.sidebar {
  border-radius: 3px 3px 0 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  width: 245px;
  background-color: white;
  box-shadow: 1px 2px 5px rgba(0, 0, 1, 0.08); }
  @media (max-width: 1079px) {
    .sidebar {
      transition: all 0.2s;
      transform: translateX(-300px);
      position: fixed;
      top: 50px;
      left: 0;
      overflow-y: auto;
      border-radius: 0;
      z-index: 3;
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3); }
      .sidebar.js-active {
        transform: translateX(0px); } }
  .sidebar .portfolio {
    padding: 0;
    margin-bottom: -5px; }
    .sidebar .portfolio .item-video {
      width: 100%;
      float: none;
      padding: 0; }
      .sidebar .portfolio .item-video .img-wrap::after {
        height: 127px; }
      .sidebar .portfolio .item-video .name {
        bottom: 0;
        left: 0;
        right: 0; }
  .sidebar .section-sidebar {
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 1px 2px 5px rgba(0, 0, 1, 0.08); }
    .sidebar .section-sidebar .title-sidebar {
      margin-bottom: 12px;
      color: #22202b;
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase; }
  .sidebar .user-img {
    width: 100%;
    height: 245px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .sidebar .user-name {
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin: 15px 15px 10px; }
  .sidebar .location {
    display: inline-block;
    line-height: 20px;
    margin-left: 15px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px; }
    .sidebar .location svg {
      vertical-align: middle;
      width: 11px;
      height: 14px;
      fill: black;
      margin-right: 10px; }
  .sidebar .site {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-left: 15px;
    line-height: 20px;
    text-decoration: underline;
    margin-bottom: 10px; }
    .sidebar .site:hover {
      text-decoration: none; }
    .sidebar .site svg {
      vertical-align: middle;
      width: 13px;
      height: 13px;
      fill: black;
      margin-right: 13px; }
  .sidebar .social {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 8px; }
    .sidebar .social li {
      float: left;
      display: inline-block;
      margin-right: 15px; }
      .sidebar .social li:last-child {
        margin-right: 0; }
    .sidebar .social a {
      display: inline-block; }
      .sidebar .social a svg {
        width: 30px;
        height: 30px; }
  .sidebar .folow {
    margin-bottom: 18px;
    width: 100%;
    box-sizing: border-box;
    position: relative; }
    .sidebar .folow::before {
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: -1px;
      width: 1px;
      height: 45px;
      background-color: #d8d8d8;
      display: inline-block;
      content: ""; }
  .sidebar .folow-item {
    text-align: center;
    float: left;
    width: 50%;
    box-sizing: border-box; }
    .sidebar .folow-item .number {
      color: black;
      font-size: 22px;
      line-height: 22px;
      font-weight: 600; }
    .sidebar .folow-item .name {
      color: black;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      margin-bottom: 14px; }
  .sidebar .categiry {
    margin-bottom: 20px; }
    .sidebar .categiry li {
      display: block; }
      .sidebar .categiry li.active {
        background-color: #ededed; }
      .sidebar .categiry li:hover {
        background-color: #eee; }
    .sidebar .categiry a {
      width: 100%;
      display: block;
      line-height: 40px;
      padding: 0 15px;
      text-transform: uppercase;
      color: black;
      font-size: 14px;
      font-weight: 400; }
      .sidebar .categiry a:hover {
        text-decoration: none; }

.content {
  margin-left: 245px;
  box-sizing: border-box;
  padding-left: 15px; }
  @media (max-width: 1079px) {
    .content {
      margin-left: 0;
      padding-left: 0; } }

.colection-top {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 3px;
  overflow: hidden;
  font-size: 0;
  background-color: white; }
  .colection-top.mod-full .wrap-md {
    width: 28.571%; }
  .colection-top.mod-full .wrap-lg {
    width: 42.8565%;
    float: left; }
    .colection-top.mod-full .wrap-lg .colection-item.mod-sm {
      width: 33.3333%; }

.wrap-md {
  width: 40%;
  float: left; }

.wrap-sm {
  width: 20%;
  float: left; }

.colection-item {
  width: 100%;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .colection-item img {
    display: none; }
  .colection-item.mod-sm {
    width: 50%;
    height: auto; }

.add-new-post {
  box-shadow: 1px 2px 5px rgba(0, 0, 1, 0.08);
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 3px;
  overflow: hidden;
  background-color: white; }
  .add-new-post form {
    height: 32px;
    position: relative;
    padding-right: 172px; }
  .add-new-post input {
    height: 32px;
    line-height: 32px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: white;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 600; }
  .add-new-post .plus {
    display: inline-block;
    position: absolute;
    right: 112px;
    top: 0;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center; }
    .add-new-post .plus:hover svg {
      fill: #ff0169; }
    .add-new-post .plus svg {
      vertical-align: middle;
      width: 16px;
      height: 16px;
      fill: #919191;
      transition: all 0.2s; }
  .add-new-post .el-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px; }

.wrap-posts {
  position: relative;
  margin-left: -15px; }
  .wrap-posts.mod-two .grid-sizer {
    width: 50%; }
    @media (max-width: 1079px) {
      .wrap-posts.mod-two .grid-sizer {
        width: 50%; } }
    @media (max-width: 767px) {
      .wrap-posts.mod-two .grid-sizer {
        width: 100%; } }
  .wrap-posts.mod-two .item-post-wrap {
    width: 50%; }
    @media (max-width: 1079px) {
      .wrap-posts.mod-two .item-post-wrap {
        width: 50%; } }
    @media (max-width: 767px) {
      .wrap-posts.mod-two .item-post-wrap {
        width: 100%; } }

.grid-sizer {
  width: 33.33%; }
  @media (max-width: 1079px) {
    .grid-sizer {
      width: 50%; } }
  @media (max-width: 767px) {
    .grid-sizer {
      width: 100%; } }

.item-post-wrap {
  box-sizing: border-box;
  width: 33.33%;
  float: left;
  display: inline-block;
  padding-left: 15px; }
  @media (max-width: 1079px) {
    .item-post-wrap {
      width: 50%; } }
  @media (max-width: 767px) {
    .item-post-wrap {
      width: 100%;
      text-align: center; } }

.item-post {
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 3px;
  overflow: hidden;
  background-color: white;
  box-shadow: 1px 2px 5px rgba(0, 0, 1, 0.08); }
  @media (max-width: 767px) {
    .item-post {
      text-align: left;
      max-width: 360px;
      width: 100%;
      display: inline-block; } }

.item-post-header {
  padding-top: 15px;
  padding-right: 15px; }
  .item-post-header .user-post {
    display: inline-block;
    padding-left: 15px; }
  .item-post-header .user-img {
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 6px;
    float: left; }
    .item-post-header .user-img img {
      width: 100%;
      height: auto; }
  .item-post-header .text-wrp {
    float: left; }
  .item-post-header .name {
    color: black;
    font-size: 12px;
    font-weight: 600;
    margin: 3px 0 3px; }
  .item-post-header .data {
    color: black;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px; }
    .item-post-header .data svg {
      margin-top: -2px;
      display: inline-block;
      width: 11px;
      height: 12px;
      margin-right: 6px;
      vertical-align: middle;
      fill: #ff0169; }
  .item-post-header .like {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    float: right;
    margin-top: 10px; }
    .item-post-header .like:hover span {
      background-color: #ff0169; }
    .item-post-header .like span {
      transition: all 0.2s;
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 19px;
      text-align: center;
      border-radius: 100%;
      overflow: hidden;
      background-color: black;
      vertical-align: middle;
      margin-top: -4px;
      margin-left: 3px; }
    .item-post-header .like svg {
      width: 10px;
      height: 11px;
      display: inline-block;
      vertical-align: middle;
      fill: white;
      margin-bottom: 3px; }

.item-post-content {
  padding: 6px 0 0; }
  .item-post-content .img-post {
    width: 100%;
    position: relative;
    display: inline-block; }
    .item-post-content .img-post.video::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      background-image: url(../images/icon/play.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 60px; }
    .item-post-content .img-post.event::after {
      position: absolute;
      left: 5px;
      top: 5px;
      display: inline-block;
      content: "EVENT";
      padding: 6px 10px;
      font-size: 11px;
      color: white;
      background-color: #ff0169;
      border-radius: 3px; }
    .item-post-content .img-post img {
      width: 100%;
      height: auto; }
  .item-post-content .title-post {
    color: black;
    font-size: 11px;
    line-height: 20px;
    font-weight: 600;
    padding: 0 15px;
    display: block; }
  .item-post-content p {
    color: black;
    font-size: 11px;
    line-height: 20px;
    font-weight: 400;
    padding: 0 15px 6px; }
  .item-post-content p + .img-post {
    margin-top: 5px; }

.item-post-foot .dops-inf {
  padding-top: 10px;
  padding-left: 15px; }
  .item-post-foot .dops-inf li {
    color: #919191;
    margin-right: 10px;
    float: left;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    vertical-align: middle; }
    .item-post-foot .dops-inf li:last-child {
      margin-right: 0; }
    .item-post-foot .dops-inf li svg {
      display: inline-block;
      vertical-align: middle;
      fill: #ff0169;
      margin-right: 6px;
      margin-top: -2px; }
  .item-post-foot .dops-inf .location svg {
    width: 9px;
    height: 10px; }
  .item-post-foot .dops-inf .price svg {
    width: 10px;
    height: 10px; }
  .item-post-foot .dops-inf .time svg {
    width: 10px;
    height: 9px; }
.item-post-foot .activity {
  padding: 5px 10px 5px;
  width: 100%;
  box-sizing: border-box; }
  .item-post-foot .activity li {
    float: left; }
    .item-post-foot .activity li svg {
      fill: #999999;
      transition: all 0.2s; }
    .item-post-foot .activity li a {
      padding: 5px;
      display: inline-block; }
      .item-post-foot .activity li a:hover svg {
        fill: #ff0169; }
  .item-post-foot .activity .like svg {
    width: 12px;
    height: 13px; }
  .item-post-foot .activity .comment svg {
    width: 10px;
    height: 10px; }
  .item-post-foot .activity .share svg {
    width: 14px;
    height: 11px; }

.title-page {
  color: black;
  font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  padding: 15px 20px 13px;
  margin: 0 -5px 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: auto;
  display: block; }

.about-content p {
  color: black;
  font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 10px; }
@media (max-width: 991px) {
  .about-content .map-wrap {
    margin: 0 -20px; } }
.about-content #map {
  height: 450px;
  width: 100%;
  margin: 20px 0; }
.about-content .gm-style-iw * {
  display: block;
  width: 100%; }
.about-content .gm-style-iw h4,
.about-content .gm-style-iw p {
  margin: 0;
  padding: 0; }
.about-content .gm-style-iw a {
  color: #4272db; }

.castings-content {
  min-height: 650px; }

.follower-mod {
  padding-top: 20px; }
  .follower-mod .casting-item {
    margin: 0 -10px;
    padding: 25px 0px; }
    .follower-mod .casting-item:last-child {
      border-bottom: none; }

.tabs-head li {
  float: left;
  position: relative;
  margin-right: 45px; }
  @media (max-width: 500px) {
    .tabs-head li {
      margin-right: 0;
      float: none; } }
  .tabs-head li.active a {
    color: #ff0169; }
  .tabs-head li::after {
    position: absolute;
    right: -23px;
    top: -4px;
    content: "";
    display: inline-block;
    width: 1px;
    height: 26px;
    opacity: 0.1;
    background-color: black; }
  .tabs-head li:last-child {
    margin-right: 0; }
    .tabs-head li:last-child:after {
      display: none; }
  .tabs-head li a {
    color: #22202b;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .tabs-head li a {
        font-size: 11px; } }
    .tabs-head li a:hover {
      text-decoration: none;
      color: #ff0169; }

.casting-item {
  margin: 0 -20px;
  padding: 25px 5px;
  border-bottom: 1px solid rgba(145, 145, 145, 0.3); }
  .casting-item .media-right {
    text-align: right; }
    @media (max-width: 767px) {
      .casting-item .media-right {
        text-align: center;
        margin-top: 15px; } }
  .casting-item .btn-wrap.vertical-center {
    margin: 22px 0; }
  .casting-item .btn-wrap .el-btn {
    padding: 0 20px; }
  .casting-item .data {
    color: black;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    width: 160px;
    text-align: right;
    display: inline-block;
    margin-bottom: 15px; }
    @media (max-width: 767px) {
      .casting-item .data {
        text-align: center; } }
    .casting-item .data svg {
      margin-top: -2px;
      display: inline-block;
      width: 11px;
      height: 12px;
      margin-right: 6px;
      vertical-align: middle;
      fill: black; }
  .casting-item .user-pick {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden; }
    @media (max-width: 767px) {
      .casting-item .user-pick {
        position: static;
        display: block;
        margin: 0 auto 15px; } }
    .casting-item .user-pick img {
      width: 100%;
      height: auto; }
  .casting-item .media-left {
    position: relative; }
  .casting-item .user {
    margin-left: 100px;
    float: left; }
    @media (max-width: 767px) {
      .casting-item .user {
        margin-left: 0;
        float: none; } }
  .casting-item .user-name {
    color: black;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600; }
  .casting-item .user-prof {
    color: #ff0169;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px; }
  .casting-item .user-info li {
    color: black;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: 600; }
    .casting-item .user-info li span {
      font-weight: 400; }
    .casting-item .user-info li svg {
      margin-right: 7px;
      width: 13px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px; }

@media (max-width: 991px) {
  .mod-mob {
    margin-top: -30px; } }

.portfolio {
  padding-bottom: 10px; }
  .portfolio .tabs-head {
    margin-top: 0; }
  .portfolio .portfolio-wrap {
    width: 100%;
    box-sizing: border-box;
    float: left;
    padding: 5px 8px 4px; }
  .portfolio .item-portfolio {
    display: inline-block;
    width: 25%;
    float: left;
    padding: 7px;
    box-sizing: border-box; }
    @media (max-width: 767px) {
      .portfolio .item-portfolio {
        width: 50%; } }
    .portfolio .item-portfolio .img-wrap {
      width: 100%;
      height: 100%;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .portfolio .item-portfolio img {
      display: none; }
  .portfolio .video-wrap {
    width: 100%;
    box-sizing: border-box;
    float: left;
    padding: 7px 9px 6px; }
  .portfolio .item-video {
    display: inline-block;
    width: 33.333%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    height: 155px;
    position: relative; }
    @media (max-width: 767px) {
      .portfolio .item-video {
        width: 100%; } }
    .portfolio .item-video:hover .img-wrap::after {
      top: 0; }
    .portfolio .item-video:hover .name {
      color: #ff0169; }
    .portfolio .item-video::before {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      width: 36px;
      height: 36px;
      content: "";
      background: url(../images/video/play-vid.svg) no-repeat center/34px;
      margin-left: -17px;
      margin-top: -17px; }
    .portfolio .item-video .name {
      position: absolute;
      bottom: 5px;
      left: 5px;
      right: 5px;
      padding: 0 15px;
      line-height: 28px;
      text-align: right;
      color: white;
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase;
      height: 28px;
      background-color: rgba(0, 0, 0, 0.6);
      transition: all 0.2s; }
    .portfolio .item-video .img-wrap {
      width: 100%;
      height: 100%;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden; }
      .portfolio .item-video .img-wrap::after {
        transition: all 0.2s;
        position: absolute;
        left: 0;
        right: 0;
        top: -100%;
        height: 117px;
        content: "";
        background-color: rgba(0, 0, 0, 0.6); }
    .portfolio .item-video img {
      display: none; }

.notific-content {
  padding: 5px 0 15px;
  display: table;
  width: 100%; }
  .notific-content .item-notific {
    height: 105px;
    padding: 12px 0;
    display: table-row; }
    @media (max-width: 500px) {
      .notific-content .item-notific {
        border-bottom: 1px solid rgba(145, 145, 145, 0.3);
        margin-bottom: 10px;
        display: block;
        height: auto; } }
    @media (max-width: 500px) {
      .notific-content .item-notific:last-child {
        border-bottom: 0; } }
    .notific-content .item-notific:last-child > div {
      border-bottom: none; }
    .notific-content .item-notific > div {
      display: table-cell;
      vertical-align: middle;
      border-bottom: 1px solid rgba(145, 145, 145, 0.3); }
      @media (max-width: 500px) {
        .notific-content .item-notific > div {
          border: none;
          display: block;
          margin: 10px 0; } }
    .notific-content .item-notific .img {
      position: relative;
      width: 80px; }
      .notific-content .item-notific .img .icons {
        position: absolute;
        bottom: 15%;
        right: 5%;
        z-index: 2;
        display: inline-block;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        border-radius: 100%;
        background-color: #ccc;
        background-repeat: no-repeat; }
        .notific-content .item-notific .img .icons.delete {
          background-color: #ff3201;
          background-image: url(../images/icon/plus-i.svg);
          background-size: 8px;
          background-position: 4px 5px; }
        .notific-content .item-notific .img .icons.add {
          background-color: #0113ff;
          background-image: url(../images/icon/plus-i.svg);
          background-size: 8px;
          background-position: 4px 4.5px; }
        .notific-content .item-notific .img .icons.like {
          background-color: #ff0169;
          background-image: url(../images/icon/like-i.svg);
          background-size: 9px;
          background-position: 3.5px 4.5px; }
        .notific-content .item-notific .img .icons.shar {
          background-color: #22c064;
          background-image: url(../images/icon/shar-i.svg);
          background-size: 11px 7px;
          background-position: 3px 4px; }
      .notific-content .item-notific .img .user-pick {
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        overflow: hidden;
        vertical-align: middle; }
        @media (max-width: 767px) {
          .notific-content .item-notific .img .user-pick {
            display: block;
            width: 50px;
            height: 50px; } }
        .notific-content .item-notific .img .user-pick img {
          width: 100%;
          height: auto; }
    .notific-content .item-notific .text-wrap {
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
      padding-left: 20px; }
      @media (max-width: 500px) {
        .notific-content .item-notific .text-wrap {
          padding-left: 0; } }
      .notific-content .item-notific .text-wrap b {
        font-weight: 600; }
    .notific-content .item-notific .user-name {
      text-decoration: none;
      display: inline-block;
      color: black;
      font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 600; }
      @media (max-width: 767px) {
        .notific-content .item-notific .user-name {
          font-size: 14px; } }
      .notific-content .item-notific .user-name:hover {
        color: #ff0169; }
    .notific-content .item-notific .data-wrap {
      text-align: left;
      width: 100%; }
    .notific-content .item-notific .data {
      display: inline-block;
      color: black;
      font-size: 10px;
      font-weight: 400;
      line-height: 12px;
      min-width: 50px;
      text-align: left; }
      .notific-content .item-notific .data svg {
        margin-top: -2px;
        display: inline-block;
        width: 11px;
        height: 12px;
        margin-right: 6px;
        vertical-align: middle;
        fill: #ff0169; }
    .notific-content .item-notific .item-img {
      width: 100px;
      text-align: right; }
      .notific-content .item-notific .item-img .img-wrap {
        vertical-align: middle;
        display: inline-block;
        width: 85px;
        height: 80px;
        background-repeat: no-repeat;
        background-size: cover; }

.messages-content {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 15px -20px 0;
  padding: 5px 20px 15px;
  display: table;
  width: 100%; }
  .messages-content .item-massage {
    height: 105px;
    padding: 12px 0;
    display: table-row; }
    .messages-content .item-massage:last-child > div {
      border-bottom: none; }
    .messages-content .item-massage > div {
      display: table-cell;
      vertical-align: middle;
      border-bottom: 1px solid rgba(145, 145, 145, 0.3); }
  .messages-content .check {
    padding-right: 20px; }
    @media (max-width: 767px) {
      .messages-content .check {
        padding-right: 10px; } }
  .messages-content .img {
    padding-right: 10px; }
    @media (max-width: 767px) {
      .messages-content .img {
        padding-right: 10px; } }
  .messages-content .name {
    min-width: 120px; }
    @media (max-width: 767px) {
      .messages-content .name {
        min-width: 100px; } }
    .messages-content .name span {
      max-width: 120px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
      @media (max-width: 767px) {
        .messages-content .name span {
          max-width: 100px; } }
  .messages-content .user-pick {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    vertical-align: middle; }
    @media (max-width: 767px) {
      .messages-content .user-pick {
        display: block;
        width: 50px;
        height: 50px; } }
    .messages-content .user-pick img {
      width: 100%;
      height: auto; }
  .messages-content .user-name {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    vertical-align: top; }
    @media (max-width: 767px) {
      .messages-content .user-name {
        font-size: 14px; } }
    .messages-content .user-name:hover {
      color: #ff0169; }
  .messages-content .text-mess {
    color: black;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400; }
    @media (max-width: 500px) {
      .messages-content .text-mess {
        display: none; } }
    .messages-content .text-mess p {
      display: block;
      width: 100%;
      max-width: 420px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
      @media (max-width: 991px) {
        .messages-content .text-mess p {
          max-width: 300px; } }
      @media (max-width: 767px) {
        .messages-content .text-mess p {
          max-width: 100px; } }
      @media (max-width: 500px) {
        .messages-content .text-mess p {
          display: none; } }
  .messages-content .data-wrap {
    text-align: right; }
  .messages-content .data {
    display: inline-block;
    color: black;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    min-width: 50px;
    text-align: left; }
    .messages-content .data svg {
      margin-top: -2px;
      display: inline-block;
      width: 11px;
      height: 12px;
      margin-right: 6px;
      vertical-align: middle;
      fill: #ff0169; }

.sidebar .title-page {
  text-transform: uppercase; }
.sidebar #map {
  height: 270px;
  margin-top: -17px; }

.start-search {
  margin-top: 35px; }
  .start-search .el-btn {
    margin-bottom: 25px; }
  .start-search h5 {
    color: #000;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 21px;
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px; }
  .start-search span {
    color: #000;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 21px;
    font-size: 14px;
    font-weight: 300; }

.mod-browse .title-page {
  margin-bottom: 5px; }

.sort-wrap {
  text-align: right;
  padding-right: 7px; }
  @media (max-width: 767px) {
    .sort-wrap {
      text-align: left; } }
  .sort-wrap span {
    color: #22202b;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    vertical-align: middle; }
  .sort-wrap .dropdown {
    max-width: 120px;
    display: inline-block;
    margin: 7px 20px 7px 15px;
    vertical-align: middle; }
    @media (max-width: 767px) {
      .sort-wrap .dropdown {
        margin: 7px 12px; } }
  .sort-wrap .sort {
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px; }
    .sort-wrap .sort li {
      float: left;
      margin-right: 15px; }
      .sort-wrap .sort li:last-child {
        margin-right: 0; }
      .sort-wrap .sort li a {
        display: inline-block; }
        .sort-wrap .sort li a:hover svg {
          fill: #ff0169; }
        .sort-wrap .sort li a svg {
          display: inline-block;
          width: 18px;
          height: 16px;
          fill: #919191; }

.item-cast {
  position: relative;
  text-align: center;
  padding-top: 33px;
  padding-bottom: 33px; }
  .item-cast:last-child::after {
    display: none; }
  .item-cast::after {
    content: "";
    position: absolute;
    right: 0;
    top: 35px;
    bottom: 35px;
    width: 1px;
    background-color: #919191;
    opacity: 0.2; }
  .item-cast h3 {
    color: #000;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase; }
  .item-cast p {
    margin-bottom: 20px;
    margin-top: 15px;
    color: #000;
    font-family: "OpenSans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px; }
>>>>>>> 4e62d7bcca820f104114816d697542ad8f4a8494
