// elements
//-----------------------------------------------------------------------------------
.page-wrapper
	background-color: #eff0f2

.page-body
	overflow: hidden
	padding-top: 65px

.search
	padding: 12px 0

	input
		width: 100%
		border: none
		box-shadow: none
		color: black
		font-family: $gotham
		font-size: 11px
		font-weight: 500
		line-height: 22px
		text-transform: uppercase

.title-page
	color: black
	font-family: $gotham
	font-size: 13px
	font-weight: 700
	line-height: 21px
	padding: 15px 20px 13px
	margin: 0 -5px 17px
	border-bottom: 1px solid rgba(black, 0.1)
	width: auto
	display: block

.mod-content
	background-color: white
	border-radius: 3px
	overflow: hidden
	padding: 0 20px
	margin-bottom: 17px
	box-shadow: 1px 2px 5px rgba(0, 0, 1, 0.08)
	&.none-overflov
		overflow: visible

h3
	color: black
	font-family: $gotham
	font-size: 13px
	font-weight: 700
	line-height: 21px
	margin-bottom: 10px

.uppercase
	text-transform: uppercase

.el-btn
	display: inline-block
	text-transform: uppercase
	color: white
	font-size: 11px
	font-weight: 600
	height: 32px
	line-height: 30px
	text-align: center
	border-radius: 3px
	background-color: #191919
	transition: all 0.2s
	padding: 0 28px
	box-sizing: border-box
	border: 1px solid #191919

	& + .el-btn
		margin-left: 20px

	&.bg-none
		background: none
		color: black

		&:hover
			color: white

	&:hover
		text-decoration: none
		background-color: $color-pure
		border-color: $color-pure

.el-label
	width: 100%
	color: $color-text
	font-family: $gotham
	font-size: 13px
	font-weight: 700
	line-height: 21px
	position: relative

	&.calendar
		&::after
			display: inline-block
			position: absolute
			right: 9px
			top: 32px
			width: 14px
			height: 14px
			background: url(../images/icon/calendar-input.svg) no-repeat (center / cover)
			content: ""

		input
			padding-right: 30px

	.ui.selection.dropdown
		margin-top: 6px
		max-width: 100%
		width: 100%
		margin-bottom: 20px

	input
		margin-top: 6px
		margin-bottom: 20px
		width: 100%
		height: 32px
		background-color: white
		border: 1px solid #bebebe
		border-radius: 2px
		padding: 6px 10px
		box-sizing: border-box
		color: black
		font-family: $gotham
		font-size: 13px
		line-height: 33px
		vertical-align: middle
		font-weight: 400

.radio-list
	display: block
	margin-top: 12px
	@media (max-width: $screen-md-max)
		padding-bottom: 15px


.el-radio
	display: inline-block
	position: relative
	margin-right: 12px
	cursor: pointer
	color: $color-text
	font-size: 12px
	font-weight: 600

	input[type="radio"]
		position: absolute
		visibility: hidden
		width: 0
		height: 0

		&:checked ~ .radio-icon:before
			position: absolute
			top: 50%
			left: 50%
			height: 6px
			width: 6px
			background-color: $color-pure
			border-radius: 50%
			transform: translate(-50%, -50%)
			content: ""

	.radio-icon
		box-sizing: border-box
		position: relative
		display: inline-block
		height: 12px
		width: 12px
		margin-top: -2px
		margin-right: 10px
		border: 1px solid #bebebe
		border-radius: 50%
		vertical-align: middle

	.radio-text
		display: inline-block
		vertical-align: middle

.el-checkbox
	display: inline-block
	position: relative
	margin-right: 12px
	cursor: pointer
	color: $color-text
	font-size: 14px
	font-weight: 600
	&.none-text
		margin-right: 0
		.checkbox-icon
			margin-right: 0

	input[type="checkbox"]
		position: absolute
		visibility: hidden
		width: 0
		height: 0

		&:checked ~ .checkbox-icon:before
			position: absolute
			top: 50%
			left: 50%
			height: 8px
			width: 10px
			background: url(../images/icon/check.svg) no-repeat center
			transform: translate(-50%, -50%)
			content: ""

	.checkbox-icon
		box-sizing: border-box
		position: relative
		display: inline-block
		height: 12px
		width: 12px
		margin-top: -2px
		margin-right: 10px
		border: 1px solid #bebebe
		border-radius: 2px
		vertical-align: middle

	.checkbox-text
		display: inline-block
		vertical-align: middle
