.spinner-container
	padding: 20px 0

[class*="cmn-spinner"]
	position: relative
	margin: 0 auto
	width: 100px
	height: 100px
	color: rgba(0, 0, 0, 0)
	font-size: 0
	text-indent: -99999px


.cmn-spinner__multisquare
	&::before, &::after
		display: block
		position: absolute
		width: 48%
		height: 48%
		box-sizing: border-box
		border-radius: 4px
		content: ""

	&::before
		top: 0
		left: 0
		border: solid 2px #000000
		animation: cmn-spinner--animation__multisquare1 1.5s infinite

	&::after
		bottom: 0
		right: 0
		border: solid 2px #ff0169
		animation: cmn-spinner--animation__multisquare2 1.5s infinite

/* animation keyframes - square 1

@keyframes cmn-spinner--animation__multisquare1
	0%
		top: 0
		left: 0

	25%
		top: 0
		left: 52%

	50%
		top: 52%
		left: 52%

	75%
		top: 52%
		left: 0

	100%
		top: 0
		left: 0

/* animation keyframes - square 2

@keyframes cmn-spinner--animation__multisquare2
	0%
		bottom: 0
		right: 0

	25%
		bottom: 0
		right: 52%

	50%
		bottom: 52%
		right: 52%

	75%
		bottom: 52%
		right: 0

	100%
		bottom: 0
		right: 0
