/*
Error: The line was indented 2 levels deeper than the previous line.
        on line 460 of sass/components/modal.sass

455:           margin-top: 0
456: 
457:       .el-btn
458:         float: right
459:         @media (max-width: $screen-xs-max)
460:             float: none
461:             margin-top: 10px
462:     textarea
463:         margin-bottom: 15px
464:         width: 100%
465:         height: 150px

Backtrace:
sass/components/modal.sass:460
/usr/lib/ruby/vendor_ruby/sass/engine.rb:517:in `tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:521:in `tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:521:in `tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:521:in `tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:521:in `tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:406:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:278:in `render'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:293:in `watch'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:109:in `method_missing'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:379:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:51:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 2 levels deeper than the previous line.\A         on line 460 of sass/components/modal.sass\A \A 455:           margin-top: 0\A 456: \A 457:       .el-btn\A 458:         float: right\A 459:         @media (max-width: $screen-xs-max)\A 460:             float: none\A 461:             margin-top: 10px\A 462:     textarea\A 463:         margin-bottom: 15px\A 464:         width: 100%\A 465:         height: 150px"; }
