.sidebar
	.title-page
		text-transform: uppercase

	#map
		height: 270px
		margin-top: -17px

.start-search
	margin-top: 35px

	.el-btn
		margin-bottom: 25px

	h5
		color: #000
		font-family: $gotham
		line-height: 21px
		font-size: 27px
		font-weight: 500
		text-transform: uppercase
		margin-bottom: 5px
 
	span
		color: #000
		font-family: $gotham
		line-height: 21px
		font-size: 14px
		font-weight: 300

.mod-browse
	.title-page
		margin-bottom: 5px

.sort-wrap
	text-align: right
	padding-right: 7px

	@media (max-width: $screen-xs-max)
		text-align: left

	span
		color: #22202b
		font-family: $gotham
		font-size: 13px
		font-weight: 700
		line-height: 20px
		vertical-align: middle

	.dropdown
		max-width: 120px
		display: inline-block
		margin: 7px 20px 7px 15px
		vertical-align: middle

		@media (max-width: $screen-xs-max)
			margin: 7px 12px

	.sort
		@extend %clear-fix

		display: inline-block
		vertical-align: middle
		margin-top: 3px

		li
			float: left
			margin-right: 15px

			&:last-child
				margin-right: 0

			a
				display: inline-block

				&:hover
					svg
						fill: $color-pure

				svg
					display: inline-block
					width: 18px
					height: 16px
					fill: #919191

.item-cast
	position: relative
	text-align: center
	padding-top: 33px
	padding-bottom: 33px

	&:last-child
		&::after
			display: none

	&::after
		content: ""
		position: absolute
		right: 0
		top: 35px
		bottom: 35px
		width: 1px
		background-color: #919191
		opacity: 0.2

	h3
		color: #000
		font-family: $gotham
		font-size: 19px
		font-weight: 700
		line-height: 21px
		text-transform: uppercase

	p
		margin-bottom: 20px
		margin-top: 15px
		color: #000
		font-family: $gotham
		font-size: 13px
		font-weight: 400
		line-height: 21px
