// castings page
//-----------------------------------------------------------------------------------
.castings-content
	min-height: 650px

.follower-mod
	padding-top: 20px
	.casting-item
		margin: 0 -10px
		padding: 25px 0px

		&:last-child
			border-bottom: none

.tabs-head
	@extend %clear-fix

	li
		float: left
		position: relative
		margin-right: 45px
		@media (max-width: 500px)
			margin-right: 0
			float: none

		&.active
			a
				color: $color-pure

		&::after
			position: absolute
			right: -23px
			top: -4px
			content: ""
			display: inline-block
			width: 1px
			height: 26px
			opacity: 0.1
			background-color: black

		&:last-child
			margin-right: 0
			&:after
				display: none

		a
			color: #22202b
			font-family: $gotham
			font-size: 13px
			font-weight: 700
			line-height: 21px
			text-transform: uppercase
			@media (max-width: $screen-xs-max)
				font-size: 11px
			&:hover
				text-decoration: none
				color: $color-pure

.casting-item
	margin: 0 -20px
	padding: 25px 5px
	border-bottom: 1px solid rgba(#919191, 0.3)

	.media-right
		@extend %clear-fix

		text-align: right

		@media (max-width: $screen-xs-max)
			text-align: center
			margin-top: 15px

	.btn-wrap
		&.vertical-center
			margin: 22px 0

		.el-btn
			padding: 0 20px

	.data
		color: black
		font-size: 11px
		font-weight: 400
		line-height: 12px
		width: 160px
		text-align: right
		display: inline-block
		margin-bottom: 15px

		@media (max-width: $screen-xs-max)
			text-align: center

		svg
			margin-top: -2px
			display: inline-block
			width: 11px
			height: 12px
			margin-right: 6px
			vertical-align: middle
			fill: black

	.user-pick
		position: absolute
		left: 0
		top: 0
		display: inline-block
		width: 80px
		height: 80px
		border-radius: 100%
		overflow: hidden

		@media (max-width: $screen-xs-max)
			position: static
			display: block
			margin: 0 auto 15px

		img
			width: 100%
			height: auto

	.media-left
		@extend %clear-fix

		position: relative

	.user
		margin-left: 100px
		float: left

		@media (max-width: $screen-xs-max)
			margin-left: 0
			float: none

	.user-name
		color: black
		font-family: $gotham
		font-size: 13px
		font-weight: 600

	.user-prof
		color: #ff0169
		font-family: $gotham
		font-size: 13px
		font-weight: 600
		line-height: 22px

	.user-info
		li
			color: black
			font-family: $gotham
			font-size: 13px
			line-height: 19px
			font-weight: 600

			span
				font-weight: 400

			svg
				margin-right: 7px
				width: 13px
				height: 12px
				display: inline-block
				vertical-align: middle
				margin-top: -2px

.mod-mob
	@media (max-width: $screen-sm-max)
		margin-top: -30px
